[2018-07-02 13:59] ben7th opened #1 "日期选择后乱码 P0"
![image](https://user-images.githubusercontent.com/322486/42168279-1ee9bafa-7e43-11e8-92fc-451a79c2f78f.png)

帮 @akakenle 从微信群转发

[2018-07-02 14:00] ben7th opened #2 "我选了个症状“头胀”在feed流展示none"
![image](https://user-images.githubusercontent.com/322486/42168324-411f3fbe-7e43-11e8-9fa1-e15d1c0e22c1.png)

帮 @akakenle 从微信群转发

[2018-07-02 14:01] ben7th opened #3 "之前的健康成就在健康成就页没了"
![image](https://user-images.githubusercontent.com/322486/42168406-78f3c81a-7e43-11e8-97e2-6d7e7a7eb989.png)

帮 @akakenle 从微信群转发

[2018-07-02 14:02] ben7th opened #4 "样式错位"
![image](https://user-images.githubusercontent.com/322486/42168453-958ab600-7e43-11e8-9097-32febe4df76a.png)

帮 @akakenle 从微信群转发

[2018-07-02 14:11] ben7th commented on #3
![https://wx1.sinaimg.cn/mw1024/548cebedly1fsvvfaxx00j20tc0eqjsx.jpg](https://wx1.sinaimg.cn/mw1024/548cebedly1fsvvfaxx00j20tc0eqjsx.jpg)

之前有过此讨论，应该是 API 读取数据很慢的问题

![image](https://user-images.githubusercontent.com/322486/42168895-cf943230-7e44-11e8-9c94-56efdd841c04.png)

要等五秒以上

@fushang318 @ax003d

得知并排查

[2018-07-02 14:13] ben7th commented on #2
后端数据组织问题，由 @ax003d 排查

[2018-07-02 14:15] ben7th commented on #1
我未能复现

@zhaobinglong @akakenle
关注此问题是否只存在于 IOS

[2018-07-02 17:24] ben7th commented on #1
![image](https://user-images.githubusercontent.com/322486/42177556-bbc46476-7e5f-11e8-87cd-9e095e0cf28f.png)

已通过 IOS 验证，IOS 上确实有此问题

[2018-07-02 18:11] ben7th commented on #1
此问题已在 1.7.3 修正

[2018-07-02 18:12] #1 closed, assigned to ben7th

[2018-07-03 01:35] georgeliuyu commented on #3
@ben7th @zhaobinglong 我试了，一直都出不来

[2018-07-03 02:09] fushang318 commented on #3
@ben7th @georgeliuyu @ax003d
我排查了一下，第二次请求速度就没问题了
但是这个列表请求的是列表API，日志里并没有记录返回内容，所以没法确定是后端API数据返回问题，还是前端传递参数或者是组装数据问题

只能由 @ben7th @zhaobinglong @ax003d 进行排查
另外 这个微服务没有日志记录，需要增加上，方便排查问题
sentry 上也有一些报错，需要 @ax003d 排查 http://sentry.xiaowhite.com/sentry/achievement-service/

[2018-07-03 02:18] fushang318 commented on #3
测试环境是可以正常显示 健康成就列表的

[2018-07-03 02:33] fushang318 commented on #3
@ben7th @ax003d
我和 @zhaobinglong 找到原因了，前端应该是调试的时候写死了一个 userid 参数

[2018-07-03 06:26] georgeliuyu opened #5 "样式错误 P0 紧急且重要"
![image](https://user-images.githubusercontent.com/16983441/42202174-01492ec4-7ecd-11e8-8012-aae2140c8a54.png)

@ranran

[2018-07-03 07:36] ben7th commented on #5
@zhaobinglong

以前报告过同样的错误，同样未能复现，见：
https://github.com/sibbay-ai/lt-miniapp-wepy/issues/150

建议：即使不能复现的情况下，也尝试重写样式，来改善这个问题

[2018-07-03 07:36] ben7th commented on #5
@georgeliuyu P0 具体指？

[2018-07-03 09:07] ben7th commented on #5
@georgeliuyu @zhaobinglong

我经过考虑，在目前很多手机无法复现此问题的前提下，我将版面设计做了临时调整：

![image](https://user-images.githubusercontent.com/322486/42210316-59db8a58-7ee3-11e8-9685-dec5dbd9adbb.png)

按照这样的方式排列，能避免一些特定情况，特定机型导致的文字空间挤占问题。

@akakenle @maohuaming 也请获知这一调整

[2018-07-03 09:08] ben7th commented on #5
@zhaobinglong 如果还在修改这个问题，可以先不动了，因为我已经提交了一些修改

[2018-07-03 09:13] ben7th commented on #5
变更 deadline: 2018-07-08

[2018-07-03 13:19] ben7th commented on #5
![image](https://user-images.githubusercontent.com/322486/42222048-a40048a8-7f06-11e8-9d7c-ef665bb9d353.png)

update: 已经基于原来的板式进行了重新实现，以规避此问题。

[2018-07-05 02:07] georgeliuyu opened #6 "最新-消息 缺陷"
![image](https://user-images.githubusercontent.com/16983441/42298887-da4d6e4c-803a-11e8-928d-afb2678323db.png)

1、在有消息时，不应该有这样的文字

2、点击完右上方的“清空”后，当前页面应该显示空
@zhaobinglong

[2018-07-05 06:32] ben7th commented on #6
此问题 QA 已报告，正在修改
https://github.com/sibbay-ai/qa-defects/issues/157

[2018-07-05 08:56] ben7th opened #7 "首页症状计数不对"
![image](https://user-images.githubusercontent.com/322486/42312984-313be664-8074-11e8-8041-34fbae9d21b4.png)

![image](https://user-images.githubusercontent.com/322486/42312963-27de0f34-8074-11e8-8cf1-5c264a170cdd.png)

我这里显示 2，点进去有很多

@zhaobinglong 其他区块的计数也检查一下

[2018-07-05 18:04] zhaobinglong commented on #7
@ben7th  因为在guide页面，部分block区块上只显示了两条或者三条内容，计数器count统计了显示出来的数量，而不是实际所有的数量

[2018-07-06 01:17] ben7th commented on #7
@zhaobinglong 需要统计实际的数量，如果是由于目前的 API 支持而做不到，就改 API

[2018-07-06 03:15] georgeliuyu opened #8 "不要保留上次的文字"
![image](https://user-images.githubusercontent.com/16983441/42358158-cf4de750-810d-11e8-8ede-049dcab58ab1.png)

症状进入添加，不要默认保留上次的文字。这样会造成误操作。

@zhaobinglong

[2018-07-06 03:20] georgeliuyu opened #9 "feed流留言问题 P0（重要且紧急）"
### 1、没有对齐
点击的是这里
![image](https://user-images.githubusercontent.com/16983441/42358239-303b544e-810e-11e8-9de4-1c820a6884ec.png)
实际编辑显示是：
![image](https://user-images.githubusercontent.com/16983441/42358259-467df040-810e-11e8-9be6-f543bc2be011.png)

### 2、医疗专家要求像微信一样支持多行编辑和回车
![image](https://user-images.githubusercontent.com/16983441/42358447-40fecea4-810f-11e8-82c4-4087fac8f9cf.png)

### 3、留言的字体

[2018-07-06 03:26] ben7th commented on #9
@georgeliuyu

![image](https://user-images.githubusercontent.com/322486/42358454-50b2cee0-810f-11e8-862d-c1b2cbd2f3dc.png)

从图上看，是对齐的

[2018-07-06 03:27] georgeliuyu commented on #9
是输入框的位置 @ben7th

[2018-07-06 03:28] ben7th commented on #9
@georgeliuyu 明白了

[2018-07-06 03:29] georgeliuyu commented on #9
![image](https://user-images.githubusercontent.com/16983441/42358571-cacd4458-810f-11e8-92b5-36ad19813256.png)

[2018-07-06 03:30] ben7th commented on #9
@georgeliuyu 上面这个图的意思是？

是不是说，屏幕被推上去了，所以显示的那条 feed 不是目前正在被评论的那条 feed，引发了误解？

[2018-07-06 03:32] ben7th commented on #9
@zhaobinglong
这里涉及好几个细节，你思考一下，回复在这个 issue 里，然后再做代码调整

[2018-07-06 03:55] ben7th commented on #9
@zhaobinglong

建议：

- 最优先改进位置不对的问题
- 其次改进多行输入的问题

参考：
https://developers.weixin.qq.com/miniprogram/dev/component/textarea.html
其中有参数控制键盘拉起和页面上推

[2018-07-06 04:25] zhaobinglong commented on #9
### 关于位置不对的问题：
当程序调起虚拟键盘的时候，默认情况下会向上推当前页面

### 解决办法：
1. 给组件添加配置参数，禁止向上推页面
2. 调起键盘的时候，自动把当前被点击的feed移动到键盘顶部（参考微信朋友圈实现效果）

### 两种方法比较：
方法一实现速度快，改动小
方法二无法确定技术上是否可以实现，有待去实践验证

[2018-07-06 04:35] ben7th commented on #8
@georgeliuyu “这个症状感觉如何？” 是否要保留上一次的？

相关 QA issue
https://github.com/sibbay-ai/qa-defects/issues/161

[2018-07-06 04:37] ben7th commented on #9
@zhaobinglong

几个细节：
1. 打开键盘后，要保证当前显示在屏幕可视区域里的是被评论的那条 feed（看能否通过控制页面滚动来做）
2. 如果禁止自动上推页面，要自己计算键盘高度，然后调整输入框的位置

键盘高度这样取：
https://developers.weixin.qq.com/miniprogram/dev/component/textarea.html
bindfocus
![image](https://user-images.githubusercontent.com/322486/42360120-412116e4-8119-11e8-841f-87cfb17b8a72.png)

如果有必要获取屏幕各元素位置和大小，可以用这个
https://developers.weixin.qq.com/miniprogram/dev/api/wxml-nodes-

[2018-07-06 07:54] zhaobinglong commented on #9
实践测试结果：
测试阶段遇到一个致命的问题，input添加adjust-position="false"，禁止向上推动无效，页面还是会被向上推，实际体验过程中发现页面滚动了两次，用户体验很差，准备尝试textarea标签，目前社区反应textarea的adjust-position在安卓机器上无效，有待前端继续讨论

![image](https://user-images.githubusercontent.com/8922614/42366913-061bac28-8135-11e8-806e-637b222fd4ca.png)

link：https://developers.weixin.qq.com/blogdetail?action=get_post_info&docid=0006eaa8b24dc0c415071a98151c01&highline=adjust-positi

[2018-07-08 03:26] ben7th opened #10 "小程序卡片无法正确打开"
来自贡献者群吴笛的反馈

[2018-07-08 03:53] ben7th commented on #10
![fnfrcfz4emk-qqwsngaoo3bwnmqr](https://user-images.githubusercontent.com/322486/42416589-cec264f2-82a5-11e8-9cd7-86e67c6de48f.png)

[2018-07-08 04:00] ben7th commented on #10
![funzmwfj7hk_b7l94f5mwjuplqlu 1](https://user-images.githubusercontent.com/322486/42416617-e7f2e95a-82a6-11e8-9c95-7e686c82e433.png)

参数见上图

[2018-07-09 01:19] ben7th commented on #10
复现尝试：

这个问题通过以下两种方式没有复现：

1. 通过 IDE 打开页面 pages/user-detail/user-detail, 参数 userid=59e418f1a4838400018b8ae3, RELEASE 环境下，可以正常打开；
2. 访问 pimgeek 分享的小程序卡片，在 RELEASE 环境可以正常访问

注意：必须在 RELEASE 环境，其他环境访问就会出现空白页的问题。可能是这个问题，需要和 pimgeek 确认

[2018-07-10 01:15] ben7th commented on #10
找 @pimgeek 确认一下

[2018-07-10 01:16] pimgeek commented on #10
@ben7th 我看看。

[2018-07-10 01:18] #7 closed, assigned to nobody

[2018-07-10 01:18] ben7th commented on #6
已经修改并发版

[2018-07-10 01:18] #6 closed, assigned to nobody

[2018-07-10 01:18] ben7th commented on #5
已经修改并发版

[2018-07-10 01:18] #5 closed, assigned to ben7th

[2018-07-10 01:19] ben7th commented on #4
已经修改并发版

[2018-07-10 01:19] #4 closed, assigned to zhaobinglong

[2018-07-10 01:19] ben7th commented on #3
已经修改并发版

[2018-07-10 01:19] #3 closed, assigned to nobody

[2018-07-10 01:55] ben7th commented on #2
@fushang318

[2018-07-10 01:58] fushang318 commented on #2
[code]

[2018-07-10 02:15] ben7th commented on #2
经过排查，错误已经定位：

症状“头胀”的 bmesh: `sctid-162410003：363698007=69536005`

通过前端新建症状跟踪，选择头胀，不会有问题
但是如果编辑这条症状跟踪，会由于 bmesh 里面有 `=` 的问题，导致前端页面间传参出错，会以 `sctid-162410003：363698007` 的值被提交，这样，后台找不到对应 bmesh 的症状，feed 上就会显示为 None

[2018-07-10 02:17] ben7th commented on #2
修改建议：

1. 前端做一些修改避免这种传参问题 @ben7th
2. 后台对症状 bmesh 值包含的内容作出规范 @fushang318

[2018-07-10 03:58] pimgeek commented on #10
@ben7th 开始以为完全好了，但后来经检查，还是有一些问题……

![image](https://user-images.githubusercontent.com/1609306/42487973-f2426ba2-8435-11e8-918e-50be624b4ea5.png)

当我点击评论中的【健康记录专家-六六】的时候，又出现空白的现象。

![image](https://user-images.githubusercontent.com/1609306/42488562-bbf53bda-8438-11e8-8288-43a009abc69f.png)

[2018-07-10 05:35] pimgeek opened #11 "在朋友圈的评论中，专家的姓名并没有匿名化显示，这是正常的吗？"
在朋友圈的评论中，专家的姓名并没有匿名化显示（**金子**），但是如果单独打开同样这位专家的卡片，就发现姓名是匿名化显示的（**斯文的球兰**）。 @ben7th

![image](https://user-images.githubusercontent.com/1609306/42497530-411aafe8-845c-11e8-86b0-fbba5b2ceaa1.png)

![image](https://user-images.githubusercontent.com/1609306/42497507-2e8b670a-845c-11e8-8be1-44446393ebc3.png)

[2018-07-10 15:38] ben7th commented on #11
@pimgeek 周三早会排查这个问题

[2018-07-11 00:58] ben7th commented on #11
确认他人用户名显示规则：

- 健康日记页面页头（图表，日记，健康成就）
- 健康日记-日记中的 feed 流以及评论抱抱
- “最新”（社区）页面 feed 流以及评论抱抱

上述位置的名字完全一致，规则如下：

- 用户开启匿名
   - 该用户是“我监督的人”或者“我的家人”时，显示实名
   - 否则，显示匿名

- 用户没有开启匿名
   - 上述位置都显示实名

[2018-07-11 01:13] ben7th commented on #11
综上所述，目前页头显示的有问题，没有判断匿名开关的开启关闭

[2018-07-11 01:57] ben7th commented on #11
目前页头显示存在一处代码 BUG，需要修复

[2018-07-11 01:57] ben7th commented on #11
申请开发 deadline: 2018-07-15

[2018-07-11 04:21] ben7th commented on #11
此问题已在线上版本 1.7.5.7 修复

[2018-07-11 04:21] #11 closed, assigned to ben7th

[2018-07-11 06:02] zhaobinglong opened #12 "【体验】健康成就编辑页面显示的日期格式不统一的问题"
![image](https://user-images.githubusercontent.com/8922614/42553471-99121904-8513-11e8-90be-af685ed8c224.png)

![image](https://user-images.githubusercontent.com/8922614/42553500-afd4ca10-8513-11e8-9433-6f1addd6822a.png)

[2018-07-11 06:03] zhaobinglong commented on #12
![image](https://user-images.githubusercontent.com/8922614/42553373-387e40fe-8513-11e8-8300-e152be68c198.png)

[2018-07-11 06:04] zhaobinglong commented on #12
![image](https://user-images.githubusercontent.com/8922614/42553386-4a2a5072-8513-11e8-8012-ebf645fe02f2.png)

[2018-07-11 06:05] zhaobinglong commented on #12
![image](https://user-images.githubusercontent.com/8922614/42553404-599b1b18-8513-11e8-8b77-ac8cbc528c86.png)

[2018-07-11 06:06] zhaobinglong commented on #12
![image](https://user-images.githubusercontent.com/8922614/42553457-894402ee-8513-11e8-91e5-4a87f3c62e1b.png)

[2018-07-12 02:07] zhaobinglong commented on #12
up：经过沟通，这里要用parent下面的formatDate方法，

[2018-07-12 04:51] pimgeek commented on #10
今天再次检查，没有再发现卡片无法正常显示的问题。 😄

[2018-07-12 07:26] #12 closed, assigned to nobody

[2018-07-12 07:27] #8 closed, assigned to nobody

[2018-07-13 08:20] fazhen opened #13 "体重提醒功能"
主要问题：体重测量提醒功能，选择提醒时间后，点击“确定”按钮无反应 @ben7th

[2018-07-13 09:02] ben7th commented on #13
已经查明原因，将在下一版本修复

[2018-07-13 09:03] ben7th commented on #13
申请开发 deadline: 2018-07-15

[2018-07-14 14:35] fazhen opened #14 "体验小白健康各功能后发现的部分问题"
### **可能是bug：**
1.添加用药时，用药剂量没有单位；
2.添加用药时，用药时间只能选择一个，如果时每日用药两次或者两次以上，无法选择；
3.添加用药时，左侧二维码不可用，即使扫面药品库内的药物，也无法获取信息，且会出现下列提示信息
![wechatimg11](https://user-images.githubusercontent.com/34705714/42725378-13d68226-87b5-11e8-8d1e-ada99029f6ee.jpeg)
![wechatimg12](https://user-images.githubusercontent.com/34705714/42725391-3aea1684-87b5-11e8-87a2-e3eefbbb73f3.jpeg)
4.在添加疾病时，选择确诊后，无法选择医院
![wechatimg13](http

[2018-07-14 15:21] fazhen commented on #14
申请开发 deadline：2018-07-15 size：0.5 @ben7th

[2018-07-14 17:16] ben7th commented on #1
变更 deadline: 2018-07-15

[2018-07-16 01:37] ben7th commented on #14
此 issue 在对应 bug 修改的发版 pr 中引用

[2018-07-16 02:25] georgeliuyu opened #15 "有完全一样的搜索结果，不要出现添加条目"
![image](https://user-images.githubusercontent.com/16983441/42741169-94a758de-88e2-11e8-9be5-34fed608899f.png)
@zhaobinglong

[2018-07-16 23:51] fushang318 opened #16 "MRI互动内容重复"
![image](https://user-images.githubusercontent.com/326242/42789138-2dbbcf88-8996-11e8-9d81-75031d18f27e.png)

问题：
每条都是，重复显示

复现方式：
未知

[2018-07-16 23:52] fushang318 commented on #16
来源：早立会群 georgeliuyu

[2018-07-17 00:18] fushang318 opened #17 "社区页反应慢和登录授权不能用"
[1531786005208966.mp4.zip](https://github.com/sibbay-ai/feedback/files/2199712/1531786005208966.mp4.zip)

附件的压缩包是一个视频，有两个问题
1. 社区页反应慢
2. 登录授权点了没反应

[2018-07-17 01:21] fushang318 opened #18 "FEED 重复了"
![wechatimg4845](https://user-images.githubusercontent.com/326242/42791339-bfe315b8-89a2-11e8-9d4c-ab757a78e6d3.jpeg)

[2018-07-17 01:22] fushang318 commented on #18
小胖子 21 分钟前 这条FEED 出现了两次，分别在最上和最下

[2018-07-17 01:27] ben7th commented on #18
复现尝试：
通过他人来访问 feed 流，这条 feed 只出现一次

看看是否特定情况下的重复显示问题

[2018-07-17 01:34] ben7th commented on #17
登录授权问题分析：

正常情况下，点击授权按钮会弹出这样的提示框

![image](https://user-images.githubusercontent.com/322486/42791699-899febaa-89a4-11e8-9bdc-c5a5ab7090c3.png)

这个提示框是微信的系统提示框，其行为逻辑不由应用程序本身控制

猜测，可能是微信系统设置或者其他环境问题导致点击此按钮无反应，需要继续尝试复现

[2018-07-17 01:41] ben7th commented on #17
进一步实验，当网络访问有问题时，点击“授权并登录”按钮没有弹框（弹框之前应该是要和微信的服务器交换数据）。目前先猜测此问题为网速慢，或网络连接不畅导致。

[2018-07-17 01:42] ben7th commented on #17
关于访问社区慢

- 有可能也是由于网速慢或网络访问不畅导致数据无法加载
- 目前的社区页面加载提示不友好，前端需要改进
- 由于网速慢无法加载时，前端需要有提示

[2018-07-17 01:53] ben7th commented on #16
目前判断对话气泡是否重复时，会忽略 wait 类型（如果不忽略 wait 类型，会导致更多问题）
而目前图片中的对话气泡都是 wait 类型，这样，反复 open 时很有可能会重复显示。

根据新版 MRI UI 的沟通后的调整建议，今后尽量不用 wait 或者只用不带 show 的 wait

@fushang318

[2018-07-17 01:58] ben7th commented on #18
运维检查：

此条信息为当日动态信息，数据库中没有持久化。
从请求日志中看，没有在单次请求中重复的情况

猜测：

- 可能之一：由于网络问题，或特定情况下的前端数据处理问题。导致前端反复请求了两次同样的页面。
- 可能之二：这条 feed 本来在第一页，但是从看到第一页到加载第二页的过程中，由于其他人增加了新的 feed 导致这条 feed 被挤到第二页，这样又会重复加载。（在很多论坛中，以及新浪微博中，发帖更新过快时都会出现这样的问题）

[2018-07-18 03:44] georgeliuyu commented on #9
这个问题 8天一直没有动静？ @ben7th @zhaobinglong

[2018-07-18 10:47] fushang318 commented on #16
已经把大部分 wait 改成了 单选

[2018-07-18 15:14] zhaobinglong commented on #9
总结：
关于feed点击后没有显示在输入框上方的issue，该issue在确认后，前端即介入开发，实现了点击后被点击的feed滚动到正确的位置，但是在真机实测中，发现feed滚动到正确位置后，输入框会被弹出来的键盘顶上去，导致输入框和键盘之间产生一段空隙，前端开始尝试解决这个间隙

经过多次试错，小组沟通，更改页面布局等，都无法解决这个问题

在各种努力都失败后，我认为这是小程序本身存在的bug，所以写了一个非常小的代码片段来验证这个问题，在代码片段中该问题被重现，确认这个一个系统级别的bug：fixed定位的元素，会被键盘自动顶上去。已经将该bug反馈给官方社区，等待官方的最终确认

代码片段：wechatide://minicode/Mir7DimX7gDe

社区link：https://developers.weixin.qq.com/blogdetail?action=get_p

[2018-07-19 01:17] ben7th commented on #13
2018-07-19 update
此问题没有修改彻底，见 https://github.com/sibbay-ai/qa-defects/issues/189

[2018-07-19 02:01] ben7th commented on #9
@zhaobinglong

目前如果使用 fixed 定位有问题，建议：
- 使用 `position: absolute` 对输入框定位
- 键盘打开时，获取键盘高度，更改输入框的 bottom 值

[2018-07-19 03:22] ben7th commented on #9
已通过实验获得可能的可行解决方法：
wechatide://minicode/hXcUzzmW7qzh

[2018-07-19 04:27] ben7th commented on #9
@zhaobinglong
这是我想到的另一种可行的处理方式（比较讨巧）：
wechatide://minicode/wMgtCCme7xCp

要点：
- 不使用 scroll-view ，不处理列表定位问题，简化逻辑
- 编辑哪个条目，就只显示哪个条目，其他条目隐藏
- 从编辑状态返回时，重新定位页面滚动位置

[2018-07-20 01:14] #10 closed, assigned to nobody

[2018-07-20 01:20] zhaobinglong commented on #14
问题一：该问题是一个历史遗留问题，由产品规划修改方案 @akakenle
问题二：问题二开发人员没有在测试环境中复现，是否可以反馈更多细节 @fazhen
问题三：https://github.com/sibbay-ai/lt-miniapp-wepy/issues/448
问题四五八：https://github.com/sibbay-ai/lt-miniapp-wepy/issues/409
问题六：https://github.com/sibbay-ai/lt-miniapp-wepy/issues/421
问题七：https://github.com/sibbay-ai/lt-miniapp-wepy/issues/449
问题九：https://github.com/sibbay-ai/lt-miniapp-wepy/issues/450

[2018-07-20 01:27] zhaobinglong commented on #14
问题六修改：https://github.com/sibbay-ai/lt-miniapp-wepy/issues/421

[2018-07-20 02:51] #13 closed, assigned to ben7th

[2018-07-22 14:10] fazhen opened #19 "2018年7月20日健康记录专家周会中提出的部分问题"
**可能需要优化的部分：**
1.留言编辑时，横向排布不利于大段落留言，且有专家发现大段落留言时，光标不好用；
2.健康记录及留言字体太小；
@ben7th @akakenle

**新功能的开发：**
1.高龄、文化程度较低或双手残障等无法手动输入的特殊用户，能否开发语言输入功能；
2.组建“病友圈”，同类疾病的用户可以通过健康记录专家引导，进行疾病经验交流；
3.建议针对记录专家增加查看留言记录的功能，以便精准定位用户症状或疾病发展情况；

关于新功能开发中2、3，请 @akakenle 评估

[2018-07-23 03:18] georgeliuyu opened #20 "feed流字号 P0"
![image](https://user-images.githubusercontent.com/16983441/43055594-fd592e0c-8e69-11e8-8cea-e79c4a6c78cc.png)

请在这个迭代版本中实行

@ben7th @zhaobinglong @Yidadaa

[2018-07-23 03:28] ben7th commented on #20
已知晓。

前端 issue 和修改建议：
https://github.com/sibbay-ai/lt-miniapp-wepy/issues/425

@zhaobinglong @Yidadaa

[2018-07-23 04:26] ben7th opened #21 "收不到模板通知消息"
时间：2018-07-23
来源：微信群 @akakenle
描述：

![image](https://user-images.githubusercontent.com/322486/43057267-c1f33e70-8e73-11e8-9951-7a24a52cbdf0.png)

[2018-07-23 04:27] ben7th commented on #21
@ax003d 配合 @fushang318 排查

[2018-07-23 08:08] ben7th commented on #9
已在 1.7.7 体验版更新

[2018-07-23 08:11] ben7th commented on #15
已在 1.7.7 体验版更新

[2018-07-23 08:54] fushang318 commented on #21
已经排查
https://github.com/sibbay-ai/cooperation-issues/issues/983
一会部署

[2018-07-23 11:37] fushang318 commented on #21
@ben7th @akakenle
这是个BUG，我和 @ax003d 已经修复并部署

[2018-07-23 12:56] akakenle commented on #21
不好意思，我当时在外面，不方便写issue。感谢宋亮帮我写。
@ben7th

[2018-07-23 13:20] akakenle opened #22 "健康成就-新增/编辑/查看中的健康日记feed不展示“健康成就”卡片"
![img_fe7e4572f6b9-1](https://user-images.githubusercontent.com/12624481/43078740-e7f6d9de-8ebd-11e8-85af-a34afe249299.jpeg)

新增健康成就时：健康日记中的“健康成就”卡片隐藏，不可展示被选中。

[2018-07-23 14:19] #15 closed, assigned to nobody

[2018-07-23 14:19] #9 closed, assigned to nobody

[2018-07-24 01:32] #21 closed, assigned to nobody

[2018-07-24 04:40] fushang318 opened #23 "血压提醒增加不了"
发现方法：
1. 进入血压记录
2. 点击右上角的 闹钟图标，进入设置血压提醒界面
3. 开启提醒，增加提醒时间，弹出拨轮选择后，选择时间，点击确定
4. 点击保存，后端API 500

![image](https://user-images.githubusercontent.com/326242/43117303-a8eb269c-8f3e-11e8-8f8c-f3392f80fc76.png)

[2018-07-24 04:40] fushang318 commented on #23
@ax003d @sinchb

[2018-07-24 07:20] georgeliuyu opened #24 "feed流显示问题 P0"
已经输入的内容没有在“最新”的feed流中显示，但是在：日记中显示了
![image](https://user-images.githubusercontent.com/16983441/43122958-604a590a-8f55-11e8-9855-a5d247c4c68f.png)
![image](https://user-images.githubusercontent.com/16983441/43122980-6ec179e6-8f55-11e8-8260-9d1633ffb7cb.png)

@zhaobinglong @Yidadaa

[2018-07-24 07:31] georgeliuyu commented on #24
这个问题已经提了几天了，今天之所以正式提出来，我觉得大家解决问题的过程有问题。
我先来说说重现：你们应该进一步早用户（我）了解细节。
我发现的细节是：每天凡是在第一次打开“最新”之后输入的内容都不会进入“最新”的feed中，而在日记中是有的。

@ben7th @Yidadaa @zhaobinglong

[2018-07-24 07:34] georgeliuyu commented on #24
下拉更新无效，但是关闭小程序再打开则能显示。

[2018-07-24 07:39] ben7th commented on #23
@fushang318 提交参数是什么，可否贴一下？

[2018-07-24 07:42] fushang318 commented on #23
@ben7th @ax003d @sinchb
抱歉，这个忘记贴了

![image](https://user-images.githubusercontent.com/326242/43123882-1d37ac32-8f58-11e8-87cd-f9aec1cf7238.png)

[2018-07-24 07:45] ben7th commented on #24
QA 对应的同样的问题
https://github.com/sibbay-ai/qa-defects/issues/172

问题分析：
1. 前端缓存在 7 月 11 号的 1.7.6 版本
   https://github.com/sibbay-ai/lt-miniapp-wepy/releases/tag/1.7.6
   中已经屏蔽了，目前每次请求数据包括刷新数据都是从 API 拿，所以这个 issue 和上面那个 issue 如果目前仍复测出问题，不是前端缓存导致的

2. 复现尝试（仅记录过程）：
- 通过 IDE 工具操作，TEST 环境，未复现
- 通过正式版（1.7.7）操作，输入医学指标，TEST 环境，复现。此时 IDE 工具同样的页面数据是正确的
- 通过体验版（1.7.7）操作，输入医学指标，TEST 环境，未复现。
- 回到正式版（1.7.7）操作，输入新症

[2018-07-24 08:49] ben7th commented on #24
比较稳定的复现方式：

1. 打开小程序，打开“最新”页面，显示一次
2. 操作医学功能，添加记录
3. 再次切到最新页面，因为已经显示过，所以目前数据不是新的
4. 下拉刷新，请求到的数据是新的，但是没有正确显示到页面

修改建议：

检查下拉刷新请求到数据后的逻辑，看是否数据包装和传参的过程中出现问题导致没有更新显示

[2018-07-24 15:31] ben7th commented on #24
已明确原因并在体验版本 1.7.7.1 修正

[2018-07-25 01:52] ben7th commented on #23
此问题和
https://github.com/sibbay-ai/qa-defects/issues/189
是一个问题

[2018-07-25 01:56] fushang318 opened #25 "医学指标查询出了 自定义 数据"
![image](https://user-images.githubusercontent.com/326242/43175295-f52728a0-8ff0-11e8-98aa-083197f83f6b.png)

返回的数据
[code]

[2018-07-25 01:57] fushang318 commented on #25
查询出了 `"bmesh": "private-medindex-ef51e7b2580446789a6379041e3b36a5",`

[2018-07-25 01:59] fushang318 commented on #25
@ax003d
![image](https://user-images.githubusercontent.com/326242/43175392-539c746c-8ff1-11e8-991a-1a89512d37c7.png)

[2018-07-25 02:01] ben7th commented on #25
@fushang318 @ax003d
是做 search 的时候没有过滤掉自定义数据么？

[2018-07-25 02:27] ax003d commented on #25
@fushang318 @ben7th 是的，search 的时候没有过滤自定义数据
同时还有一个问题，已经存在同名的系统医学指标也能添加成功，TEST 环境已经修复。

[2018-07-25 06:24] fushang318 commented on #25
@ax003d 治疗，疾病，症状有这种问题吗

[2018-07-25 06:26] ax003d commented on #25
@fushang318 其他服务检查了，搜索没有这个问题。
我都加了已经存在同名的系统 Info 不允许添加自定义的逻辑。

[2018-07-25 06:37] fushang318 commented on #25
@ax003d 不允许增加啊？额，有时候会有问题，因为搜索索引有时候不能命中，用户搜索不出来，又不允许增加会很奇怪吧
不过发生的概率应该比较低

[2018-07-25 06:39] ax003d commented on #25
@fushang318 遇到这种情况就更新索引吧

[2018-07-25 08:37] Yidadaa commented on #20
已修改为如下图所示：
![ui](https://user-images.githubusercontent.com/16968934/43189035-38f0c226-9028-11e8-9c30-c45ce9328c88.png)

[2018-07-25 12:36] georgeliuyu commented on #20
![image](https://user-images.githubusercontent.com/16983441/43201228-7063ac88-904a-11e8-80f1-03397b4b763a.png)
@Yidadaa

[2018-07-25 12:51] Yidadaa commented on #20
@georgeliuyu 基于美观的考虑调整为F6了，调成F8的确太丑了……如果不考虑美观性的话，可以调整为F8

[2018-07-26 01:28] #24 closed, assigned to nobody

[2018-07-26 01:38] ben7th opened #26 "feed 流留言的多行录入 P0"
来源：
https://github.com/sibbay-ai/feedback/issues/9

之前这个 issue 中的两个调整点：
- 调整定位
- 调整成多行输入

后一个点还没有调整，需要参考微信朋友圈的体验进行调整

[2018-07-26 05:17] fushang318 commented on #25
@ax003d 部署了吗

[2018-07-26 14:32] sinchb commented on #23
这个需要修复么？还是说新接口可以解决这个问题？ @ben7th @ax003d

[2018-07-26 16:20] zhaobinglong commented on #26
该issue已提交PR

[2018-07-26 16:30] zhaobinglong commented on #19
问题1：留言编辑已调整为多行编辑，参见：https://github.com/sibbay-ai/lt-miniapp-wepy/issues/442 健康专家使用后可继续反馈

[2018-07-27 15:01] fazhen opened #27 "标题中“记录“的名称能否修改？"
小白主界面中有两个“记录”的名称，在向用户介绍时描述不方便，易造成歧义，名称能否修改？
@akakenle
![wechatimg15](https://user-images.githubusercontent.com/34705714/43328537-d952f170-91f0-11e8-9e61-be11f911f722.jpeg)

[2018-07-27 16:10] akakenle commented on #27
确实是问题，我先记下，暂时不改，维持现状。

[2018-07-27 16:13] akakenle commented on #19
我先记下，后面改到这块的时候，我注意一下

[2018-07-28 16:37] zhaobinglong commented on #27
@akakenle  这个issue是否可以关闭了？

[2018-07-31 01:40] georgeliuyu commented on #27
@akakenle ？

[2018-07-31 01:42] georgeliuyu commented on #23
@ben7th @sinchb @ax003d @zhaobinglong  这个issue怎麽停在这里了？如果杜绝这样的事情发生

[2018-07-31 01:45] georgeliuyu commented on #19
@fazhen @akakenle 这种需求是否应该给出回复？（做、不做、现在不做、。。。）如果给出回复，什么时候可以close这个issue？  @ben7th @sinchb

[2018-07-31 01:46] georgeliuyu commented on #25
@ax003d 是什么情况？

[2018-07-31 07:05] georgeliuyu commented on #25
是否可以close了

[2018-07-31 08:04] ax003d commented on #25
@georgeliuyu 这个已经部署了， @fushang318 这个 issue 我好像没有 close 权限

[2018-07-31 08:08] fushang318 commented on #25
@georgeliuyu @ax003d  已经修复和部署

[2018-07-31 08:08] #25 closed, assigned to nobody

[2018-07-31 11:52] ben7th commented on #27
建议可有结论再关闭

[2018-07-31 14:52] sinchb commented on #23
@georgeliuyu 这个在早会的时候沟通过了~ 不用迁移，我先关掉这个issue

[2018-07-31 15:00] sinchb commented on #23
我好像没权限关。。  @fushang318 @ben7th

[2018-08-01 00:26] fushang318 commented on #23
@sinchb @georgeliuyu 这个功能，后端增加了新接口，前端正在集成中

[2018-08-02 01:22] ben7th opened #28 "熊凯医生的反馈建议"
搬运自
https://github.com/sibbay-ai/cooperation-issues/issues/981

在小白的推广过程中，有几个问题：
1、目前版本的AI不好用，用户不习惯去点击选择。
2、在按返回键的时候经常会无意的退出小程序。
3、用户不会主动去研究小白，只是我让他们记录他们就记录，其他功能都不会去管。
4、字体偏小，特别是留言，看起来费力。
5、告诉别人用小白的时候，都会问是干什么的，有什么用。

应对：
1、AI换成上次演示的那种应该好很多。
2、无意退出好像是小程序的通病，我没办法。
3、小白的功能，应该更直观，目前主页面虽然有图标和文字，用户也不是很明白。
4、字体稍微放大一些。
5、小白启动界面加上主要功能宣传语。

很多人对小程序都不熟悉，无意关闭以后找不到去那里再打开。应该添加说明。

[2018-08-02 01:30] ben7th commented on #28
调整建议：

- 8 月中旬会上线 MRI 新版 UI，11 月之前会围绕 MRI 可用性做综合改进
- 退出按键的问题
   此问题存在于 android 上
   如果将来小程序能够支持自定义退出按键的事件，做成现在大多数应用的体验：连续按两次退出按键才退出
- 目前正从产品角度调整用户引导
- 目前社区字号调整过一次（1.7.7.3 版）https://github.com/sibbay-ai/feedback/issues/20 现在比之前大一圈
- 让人明白应用是做什么的，通过操作引导进行。宣传语起的作用可能有限。
   以后可能调整为由统一的 spalsh 页面进入，但这个需要探讨。

[2018-08-02 01:42] ben7th opened #29 "与熊医生讨论但是未实现的需求"
搬运自
https://github.com/sibbay-ai/cooperation-issues/issues/929

- 我监督的人支持名称备注
- 扫描添加监督人
- 关注列表中显示用户最近一次记录时间距离现在多久

[2018-08-02 14:50] fazhen opened #30 "测试评论功能时发现部分问题"
1.回复健康记录专家留言时或点击某位健康记录专家的留言进行评论时输入框无法对应该记录专家的留言内容

<img width="530" alt="wechatimg13" src="https://user-images.githubusercontent.com/34705714/43591605-44ee4eca-96a6-11e8-8bf4-32f24a5d043b.png">

2.在点击“某某”的留言内容后，无论接下来给哪位用户留言，都会在输入框中提示“@某某”，虽然实际并不会@他
![wechatimg14](https://user-images.githubusercontent.com/34705714/43591611-479eb97a-96a6-11e8-993b-93cf43a3b589.png)
@ben7th

[2018-08-03 01:23] ben7th commented on #30
@zhaobinglong @Yidadaa

修改建议：
- 问题一：针对 feed 评论，和针对评论来评论，用不同的定位方式：
   针对 feed 评论：定位成 feed 顶部紧贴屏幕顶部
   针对评论评论：定位成被评论的评论紧贴键盘上方

- 问题二：应该是一个参数传递错误，改掉即可

[2018-08-03 01:44] ben7th opened #31 "[流程改进]梳理 QA/feedback 处理流程，绘制流程图"
来源：
https://github.com/sibbay-ai/cooperation-issues/issues/709

[2018-08-03 01:48] ben7th commented on #31
完成上述工作中没有完成的内容

[2018-08-03 04:24] georgeliuyu opened #32 "关于feed字号大小的问责"
feed的字号大小调整7月6日 #9 提出到现在都没有解决，已经26天过去了，这对社区来说是一个重大事故。
由 @ben7th @fushang318 @sinchb 3位committer进行追查相关的责任人并进行处理，最起码在社区通报批评。
如果涉及到我失职，也一样。

[2018-08-03 04:35] ben7th commented on #32
这个修改已经更新到正式版 1.7.3.3 了

[2018-08-03 04:36] ben7th commented on #32
https://github.com/sibbay-ai/feedback/issues/9#issuecomment-406975267

[2018-08-03 04:39] ben7th commented on #32
字号大小的问题对应的 issue
https://github.com/sibbay-ai/feedback/issues/20

[2018-08-03 04:41] ben7th commented on #20
字号大小已经在 1.7.7.3 版本调整

[2018-08-03 04:53] ben7th commented on #32
追溯：

问题提出 issue:
https://github.com/sibbay-ai/feedback/issues/9
基于此问题另外提出的字号调整 issue:
https://github.com/sibbay-ai/feedback/issues/20

上述 issue 包含 3 个修改点，目前修改情况如下：

- feed 评论的定位问题，已经在 1.7.7 版本更新到线上正式版，具体见：https://github.com/sibbay-ai/lt-miniapp-wepy/issues/426 , changelog: https://github.com/sibbay-ai/lt-miniapp-wepy/releases/tag/1.7.7
- feed 字号问题，已经在 1.7.7.3 版本更新到线上正式版，具体见：https://github.com/sibb

[2018-08-03 05:00] ben7th commented on #32
建议：
- 对 feedback 问题处理建立从问题提出 deadline 限制
- 对处理流程，包括最后一步，与问题提出者进行沟通确认，要纳入整个流程（这次这一步做得不足）
- 明确用户反馈汇总，处理意见形成和分流处理的过程，对每一步作出响应时间规定

[2018-08-06 06:27] bg8gms opened #33 "近几日发现的问题"
1 从消息通知进去，直接回复，排版会出现问题。手机系统Android
![1](https://user-images.githubusercontent.com/36874667/43700140-1f694764-9984-11e8-8618-36f95424dcdd.jpg)
![2](https://user-images.githubusercontent.com/36874667/43700151-28dedb60-9984-11e8-8fd7-99e883a8d37a.jpg)

2  出现这种排列，到底是有问题还是没有问题，是不是应该只显现最后一个。
![1](https://user-images.githubusercontent.com/36874667/43700296-b1655ae0-9984-11e8-870f-47c43cbce763.jpg)

3 前几天

[2018-08-06 09:25] fushang318 opened #34 "字体大小问题导致排版乱掉"
![1821533547320_ pic](https://user-images.githubusercontent.com/326242/43708609-6bfeb9f6-999d-11e8-963b-5f488890825f.jpg)
![1831533547321_ pic](https://user-images.githubusercontent.com/326242/43708658-8da76d0a-999d-11e8-808c-490061870df3.jpg)

人名A 回复 人名B 是否可以放在两行，比如这样

![image](https://user-images.githubusercontent.com/326242/43708742-b9c86466-999d-11e8-9136-d13f5e1213e4.png)

[2018-08-06 13:43] akakenle opened #35 "药品搜索展示顺序逻辑"
药品搜索的展示顺序是怎样的，为什么我搜的相关子在最下面才找到
![2018-08-06 21 43 06](https://user-images.githubusercontent.com/12624481/43719945-bb315316-99c1-11e8-945c-b8e8836298f7.png)
![2018-08-06 21 42 50](https://user-images.githubusercontent.com/12624481/43719947-bb6f5b16-99c1-11e8-91b8-7946be628835.png)

[2018-08-06 13:44] akakenle opened #36 "年龄展示问题"
我有年龄（虽然是假的），为什么展示不出来
![wechatimg115](https://user-images.githubusercontent.com/12624481/43720024-e5c47482-99c1-11e8-92dd-ba0e53e25218.jpeg)
![wechatimg114](https://user-images.githubusercontent.com/12624481/43720025-e5f8fad6-99c1-11e8-8a11-1a97bee80ba0.jpeg)

[2018-08-07 00:19] fushang318 commented on #35
分析了一下，有两个原因造成了现在的问题

1. 前端没有显示 product_name
看了一下API返回的信息，第一条应该是
[code]
应该是前端没有显示 name ，而是显示的 product_name 造成的

2. 后端查询后，没有按照搜索结果排序
[code]

@ben7th @sinchb @ax003d 你们分别看一下吧

[2018-08-07 00:33] fushang318 commented on #36
1. ken 的 birthday 是 `ISODate("1970-01-01T00:00:00.000Z")`，表达为 时间戳就是 0
2. uri:"event.app.menu.user.get" 返回的数据中 birthday 的格式时 "birthday": "1970-01-01T00:00:00Z"
3. {uri: "event.app.sns.indexcontent.get.v2", data: {page: 1, page_size: 10, type: "all"}} 返回数据格式时 "birthday": 0

因为 3 返回的 birthday 是 0， 所以年龄没有显示
因为 2 返回的 birthday 是 1970-01-01T00:00:00Z ，所以显示的 48 岁

@ben7th @ax003d @sinchb 你们看看如何改

[2018-08-07 01:47] ax003d commented on #36
现在 SNS 中返回了 2 中 birthday 格式，一种是时间戳，一种是时间字符串，目前还在 TEST 环境中。
@ben7th 等前端统一改成按时间字符串计算生日，就没有问题了。

[2018-08-07 02:10] ax003d commented on #35
1. opensearch 返回的结果应该是包括了 name 和 product_name 的，所以后端搜索也应该查 name 和 product_name
2. opensearch 返回的 name_list 是否有顺序？如果要根据 name_list 排序，可能会比较困难，因为这里涉及分页，而且是 name 和 product_name 2 个字段查询
3. 前端应该同时显示 name 和 product_name

@fushang318 @ben7th

[2018-08-07 02:43] fushang318 commented on #35
1. @ax003d @ben7th 这个API目前修改为不分页比较合适，我感觉分页对于搜索意义不大

2. 目前的后端代码，看起来有分页，但是没有起到分页作用，因为搜索的都是前 xxx 条内容，请仔细看一下 @ax003d

3. opensearch 返回的 name_list  是有顺序的，在没有分页的情况下，按照 name_list 排序就可以有效解决这个问题 @ax003d

[2018-08-07 02:54] ax003d commented on #35
@fushang318
1. 同意，可以不分页，限定最多返回多少条数据
2. 根据前端传过来的 page 和 pagesize，对最终返回结果是有影响的
3. 如果是这样，就需要根据 name_list 在代码中进行手动排序了

[2018-08-07 03:03] fushang318 commented on #35
建议根据 name_list 在代码中进行手动排序，只有这样才能解决体验问题

@ax003d @ben7th 先确定一下是否把分页去掉吧

[2018-08-07 03:37] ben7th commented on #36
此问题由前端处理

[2018-08-07 03:45] ben7th commented on #35
协调建议：

- 此处可以不作分页，其一，对搜索结果进行分页，对用户体验意义可能不大（用户更关注排在前面的搜索结果）；其二，新的搜索展示设计中不包括分页（这一点需要 @zhaobinglong 确认）

- 不分页的情况下，前端可以根据 name 或 product_name 进行排序

- @akakenle 考虑两个设计问题：
   - 在搜索结果中，药品名如何显示（name, product_name, unit 等信息），结合这个 issue 一起考虑：
      https://github.com/sibbay-ai/qa-defects/issues/220
   - 未来是否要对搜索结果做关键字高亮

[2018-08-07 09:16] fushang318 commented on #35
@ben7th 搜索API是有一个排序的，它的顺序是根据关键字命中率排的，应该比较科学，不用前端再次排序

[2018-08-09 12:57] Yidadaa commented on #36
神奇的bug……

[2018-08-12 11:48] #16 closed, assigned to nobody

[2018-08-12 11:51] ben7th commented on #19
2018-08-12 正在集中整理以安排排期

[2018-08-12 11:51] #20 closed, assigned to nobody

[2018-08-12 11:52] ben7th commented on #22
已在 1.7.7.3 修复

[2018-08-12 11:53] ben7th commented on #26
已在 1.7.7.3 实现

[2018-08-12 11:53] #26 closed, assigned to nobody

[2018-08-12 11:58] ben7th commented on #30
此问题已修改，发版时间待定

[2018-08-12 12:00] ben7th commented on #33
已收到，一周内会安排处理并回复处理结果

[2018-08-12 12:54] #14 closed, assigned to fazhen

[2018-08-15 07:45] ben7th commented on #31
申请开发 deadline: 2018-08-15

[2018-08-15 07:46] ben7th commented on #31
梳理结果：
markdown floatchart graph：

[code]

[2018-08-15 07:55] ben7th commented on #31
![qa-feedback-](https://user-images.githubusercontent.com/322486/44137620-a535a592-a0a3-11e8-922a-6ceeeb7b55c1.png)

[2018-08-15 07:57] ben7th commented on #31
已归档到：
https://github.com/sibbay-ai/feedback/wiki/QAflow

[2018-08-15 07:57] #31 closed, assigned to ben7th

[2018-08-22 08:00] kimgrace6 opened #37 "小白记录专家留言呈现问题"
主要内容：
　　该问题之前发生过几次，昨晚再次出现，描述在此供技术老师参考。昨天（８月２１日）１０:３０ＰＭ给记录者“友好的非洲万寿菊”回复留言（第一张图片），当时留言呈现正常，关闭小程序，立即重新打开，上述留言不见了（没有呈现），再次关闭小程序，重新再打开，上述留言正常呈现，时间显示为８小时前，不过呈现的时间顺序不对，当时截图（第二张图片），第二张排列在留言列表中排第一位，显示时间为１４小时前（其下的记录专家留言时间明确在第一张图片的留言之前，因记录者数量比较少，这个问题比较容易被发现，如果样本量大则极大可能被掩盖），按时间顺序第二张图片不应该排列在第一张之前（无论是记录时间还是回复时间，第二张都比第一张时间更早）。
![webwxgetmsgimg jpg1](https://user-images.githubusercontent.com/41655751/44450724-2d1

[2018-08-23 04:20] zhaobinglong commented on #36
已经被处理

[2018-08-23 04:20] #36 closed, assigned to nobody

[2018-08-23 05:41] #22 closed, assigned to nobody

[2018-08-23 05:49] zhaobinglong commented on #34
@Yidadaa

[2018-08-23 05:50] zhaobinglong commented on #33
- [x]  问题1：在关联issue中解决 https://github.com/sibbay-ai/feedback/issues/34
- [x]  问题2：已确认，该业务逻辑正确
- [ ]  问题3：该问题将协调后端和运维一起查看
- [ ]  问题4：QA尝试复现该问题

[2018-08-23 06:29] zhaobinglong commented on #2
我的理解是前端通过url传值无法避免这种情况，最佳办法还是后端统一bmesh格式，bmesh中不能出现=符号

[2018-08-24 01:14] ben7th commented on #33
这个 issue 是熊医生提的，修改后可统一反馈给贾老师

[2018-08-24 13:44] fazhen commented on #37
@ben7th

[2018-08-25 14:06] bqx619 opened #38 "小白对话点击加号无内容"

[2018-08-25 14:08] zhaobinglong opened #39 "【P0】打开小白记录页面，手机锁屏后，重新打开，记录页面呈现空白状态"
RT

from： @georgeliuyu

[2018-08-25 14:08] bqx619 commented on #38
![img_0090](https://user-images.githubusercontent.com/9692149/44619069-5ac0d780-a8b3-11e8-9e3d-2e44e0f0d986.PNG)

经常点击 ➕后出现空白

[2018-08-25 14:22] zhaobinglong commented on #39
初步确认，这是一个社区已知的bug，目前官方正在从系统层面修复

link：https://developers.weixin.qq.com/community/develop/doc/000a407da106d0010c4705c9f5b001?highLine=%25E7%2599%25BD%25E5%25B1%258F

[2018-08-25 14:39] zhaobinglong commented on #39
该issue暂停处理，社区修复该问题后关闭issue
@ben7th @Yidadaa

[2018-08-26 16:13] zhaobinglong commented on #39
join：https://github.com/sibbay-ai/public/issues/452

[2018-08-28 08:28] fazhen opened #40 "健康记录专家问题反馈20180828"
**功能优化建议：**

1.关于留言，记录专家既往留言，无法查询：
2.留言消息提醒，点击查看后即消失，无法再次查阅：
3.记录专家查看后即消失，无法再次查阅；
4.现有留言提醒功能需点击小程序后才可以看到，无法及时予以回复；
5.微信以服务通知形式进行的消息提醒，每天10:00推送，非即时消息提醒，且之后本人不点击查看，每天都会固定推送，无意义；
6.健康数据刷新后，随机排列，获取最新未留言记录困难；
7.右上角，和右下角的悬浮图标影响阅读；
![wechatimg3](https://user-images.githubusercontent.com/34705714/44710112-e6b64780-aadd-11e8-969f-e96ad7982f44.jpeg)
8.各种提示语，写的更活泼一些
<img width="532" alt="wechatimg6" src="ht

[2018-08-28 10:59] fushang318 opened #41 "切换 tab 跑到 微信的标题栏上边去了"
![image](https://user-images.githubusercontent.com/326242/44718996-7a930e00-aaf4-11e8-88fe-f0322470ddd2.png)

这个和手机兼容性有关吗，我可以协助排查

[2018-08-29 13:42] zhaobinglong commented on #41
该问题在明日早会后，协助排查 @fushang318

[2018-08-29 13:46] zhaobinglong commented on #40
问题1：新功能需求，产品给与回复
问题2：是正常的业务逻辑
问题3：是正常的业务逻辑
问题4：前端开发者认为可以在通知卡片上直接带上评论的内容，当前卡片只有评论人和新增评论数
![image](https://user-images.githubusercontent.com/8922614/44794168-7c370180-abda-11e8-8dfa-8a40db15a7d0.png)

问题5：是正常的业务逻辑
问题6：该问题已修复，会给健康记录专家推送最新未留言的feed
问题7：是正常的业务逻辑
问题8：产品考虑，提问者提出问题的同时，最好可以给出建议和方案
问题9：是正常的业务逻辑
问题10：删除多个字体时，会出现突然全部消失的情况;这个问题需要再次确认
问题11：非偏离，而是用户输入的时候点击了换行

@fazhen

[2018-08-30 05:34] georgeliuyu opened #42 "feed流内部显示建议参考微信"
![image](https://user-images.githubusercontent.com/16983441/44831470-484ef100-ac59-11e8-8bc5-594fb738bf2a.png)
@zhaobinglong @Yidadaa

[2018-08-30 07:11] zhaobinglong commented on #42
该问题已知，开发者已修复过一次，没有做到彻底兼容，需要再次处理

[2018-08-30 15:48] sinchb commented on #2
这个可以close了嘛？

[2018-08-31 08:47] georgeliuyu opened #43 "在mri中记录的症状没有显示出来"
有两个地方没有更新：
![image](https://user-images.githubusercontent.com/16983441/44902932-d6040c80-ad3d-11e8-9512-08cdb9d83124.png)
和：
![image](https://user-images.githubusercontent.com/16983441/44902907-ca184a80-ad3d-11e8-90db-0d4e6453b093.png)

但是这里已经更新了：
![image](https://user-images.githubusercontent.com/16983441/44902830-90dfda80-ad3d-11e8-9f07-8abfeaed443c.png)

@zhaobinglong

[2018-09-10 06:38] georgeliuyu opened #44 "药品停用的feed流文字建议进行修改"
![image](https://user-images.githubusercontent.com/16983441/45280377-ae176480-b506-11e8-8bcf-b792f8a9b87b.png)

这个文字建议改为：
xxx药|停用|与10天开始使用，用于治疗“xxx”,有效
说明：不要写原来添加药品是的remark

@fazhen 你注意下类似内容的持续改善。
@ben7th

[2018-09-10 09:07] zhaobinglong commented on #43
目前健康成就版本已发布，协调开发者排查这个问题

[2018-09-10 09:11] zhaobinglong commented on #23
该issue已解决，相关PR在健康成就2.0发布之后已merge并上线

[2018-09-10 09:11] #23 closed, assigned to nobody

[2018-09-10 09:15] zhaobinglong commented on #44
@null 更改sns接口，返回新的描述信息

[2018-09-10 09:20] zhaobinglong commented on #43
前端测试解救返回数据异常，需要后端开发者协助 @nullscc

[2018-09-10 09:26] zhaobinglong commented on #43
接口event.app.func.sym_monitor.list.v2没有获取mir中记录的最新症状信息

[2018-09-12 01:40] georgeliuyu opened #45 "健康成就-没有医生，日记排列错乱"
1、这个健康成就是有医生的
2、日记排列是错乱的：顺序是：26/3 15/3 25/3 07/5 01/4

![image](https://user-images.githubusercontent.com/16983441/45396705-8abbf900-b66f-11e8-91c1-e84d73c40ba0.png)

健康成就：
![image](https://user-images.githubusercontent.com/16983441/45396812-ea1a0900-b66f-11e8-8134-b38e6c6ae3f1.png)

@rand

[2018-09-12 01:46] georgeliuyu commented on #45
@ben7th 问了南希，错乱的问题有提出来过。你组织梳理一下流程，上线前产品是否要review确认一下的。

[2018-09-12 01:49] nancy919 commented on #45
@georgeliuyu 关于医生，所做的处理是，若创建成就有添加医生，则显示，否则不显示；

[2018-09-12 01:55] ben7th commented on #45
@georgeliuyu 做过 review，这个可能是有遗漏。
目前 review 的流程可能需要更严谨（和 github 流程，分支，pr 结合）来避免遗漏
流程上的改进我来考虑

[2018-09-12 01:57] georgeliuyu opened #46 "健康状况中症状没有显示"
![image](https://user-images.githubusercontent.com/16983441/45397305-0c148b00-b672-11e8-92c8-5e41a0ed7672.png)

而实际上是有的：
![image](https://user-images.githubusercontent.com/16983441/45397342-35cdb200-b672-11e8-978e-d6bfa9bd1ca1.png)

@zhaobinglong

[2018-09-12 05:34] zhaobinglong commented on #45
关于医生：

前端确认用户的确编辑了医生，但是医生是在字段doctor中，而新版本采用的是doctors字段，这个成就是在第一版时创建的，所以这里可能需要做一次数据迁移，将数据库中doctor中的数据，迁移进入doctors

![image](https://user-images.githubusercontent.com/8922614/45404122-45f48a00-b690-11e8-8c9d-c0f99e0ec893.png)

前端在用户界面再做一次兼容处理

[2018-09-12 05:41] zhaobinglong commented on #45
日记排列问题已确认，协调后端排查具体原因

[2018-09-12 06:10] zhaobinglong commented on #46
收到，确认问题存在

[2018-09-12 06:15] zhaobinglong commented on #46
已fix

[2018-09-12 06:22] zhaobinglong commented on #39
暂时关闭该issue，后续有进展再补充

[2018-09-12 06:22] #39 closed, assigned to nobody

[2018-09-12 08:24] zhaobinglong commented on #38
目前mir版本已经更新用户交互，该问题关闭

[2018-09-12 08:24] #38 closed, assigned to nobody

[2018-09-12 08:25] #34 closed, assigned to nobody

[2018-09-12 08:28] zhaobinglong commented on #42
该问题的相关PR已merge并发布，开发者确认问题得到解决。请核实 @georgeliuyu

[2018-09-12 08:33] #30 closed, assigned to fazhen

[2018-09-12 08:47] zhaobinglong commented on #35
这个issue可以关闭了吗 @ben7th @fushang318

[2018-09-13 06:17] zhaobinglong commented on #45
医生问题已fix，现在单独解决排序问题

[2018-09-13 06:26] zhaobinglong commented on #45
关于成就的开始时间和结束时间：

![image](https://user-images.githubusercontent.com/8922614/45470553-cbe00600-b760-11e8-8c10-84da3dfccc70.png)

老版本的这两个时间是用户主动输入的，而新版本的这两个时间，是用户在编辑健康成就时，根据日记的最早和最晚时间计算的，所以，如果一个老版本的健康成就，没有在新版本再次编辑过，它的开始和结束时间，还是以前用户输入的时间，并非日记的最早和最晚时间

[2018-09-13 06:32] nullscc commented on #43
@georgeliuyu @zhaobinglong 已修复并上到测试环境了

[2018-09-13 06:33] nullscc commented on #43
老的数据需要进行数据迁移

[2018-09-13 06:48] #37 closed, assigned to nobody

[2018-09-16 01:47] ben7th opened #48 "症状样式不统一"
![image](https://user-images.githubusercontent.com/322486/45592037-46916700-b995-11e8-9555-4ac697a7dff4.png)

如图：
- 引导页症状区块
- 健康日记页面和症状页面的列表
- 症状详情页面的可横向滚动图表

三处症状圆点的样式不一样。需要统一成和症状详情页面的方式一样。

建议可封装成统一组件。

@zhaobinglong @Yidadaa

[2018-09-17 09:23] zhaobinglong commented on #48
已发布PR，计划上线中

[2018-09-18 01:53] fushang318 commented on #41
这个问题我的手机上还存在，应该是手机浏览器版本问题导致触发的微信小程序框架的BUG
我看一些小程序应用没有使用官方的 TAB 组件，是否有必要自己开发或者用其他开源的非官方的TAB组件

[2018-09-19 12:31] #40 closed, assigned to nobody

[2018-09-20 07:22] maohuaming opened #49 "小白健康图表模块血压数值超过150时，显示样式错乱。"
缺陷位置：图表->血压
详情描述：当用户的血压达到或者超过150/99时，图表页面显示样式错乱。
复现步骤：
1.用户登录小白健康，添加血压数值为150/99的记录；
2.进入图表模块查看血压值的显示。
预期结果：图表模块血压值显示样式正确。
实际结果：图表模块血压值显示样式不正确。
![default](https://user-images.githubusercontent.com/28720671/45802088-6489ff00-bce8-11e8-9c8f-cb0105bccc1e.png)

[2018-09-23 02:17] zhaobinglong commented on #49
该问题没有复现出来，在ios系统中图表的临界值会比数据大，显示不会有缺失，再次确认一下安卓系统

![image](https://user-images.githubusercontent.com/8922614/45923474-c9786b80-bf19-11e8-95b1-b727bd029851.png)

[2018-09-25 00:31] zhaobinglong opened #50 "关于症状圆点的光标和圆点的缝隙"
用户反馈：圆点应该把最新的显示出来

![image](https://user-images.githubusercontent.com/8922614/45986309-50a21c80-c09d-11e8-97ba-487768c7c432.png)

[2018-09-25 00:31] zhaobinglong commented on #50
用户反馈：圆点应该没有缝隙

![image](https://user-images.githubusercontent.com/8922614/45986318-5bf54800-c09d-11e8-818d-c8a5ff365e95.png)

[2018-09-25 08:27] Yidadaa commented on #49
![image](https://user-images.githubusercontent.com/16968934/46002147-d777e900-c0df-11e8-85de-b4f0c0158f56.png)

[2018-09-25 08:27] Yidadaa commented on #49
安卓系统也没有复现

[2018-09-25 08:36] maohuaming commented on #49
@zhaobinglong @Yidadaa 缺陷发生在线上版本1.10.8

[2018-09-29 16:11] #2 closed, assigned to ax003d

[2018-09-29 16:11] #17 closed, assigned to nobody

[2018-09-29 16:11] #18 closed, assigned to nobody

[2018-09-29 16:11] #28 closed, assigned to nobody

[2018-09-29 16:11] #29 closed, assigned to nobody

[2018-09-29 16:11] #32 closed, assigned to nobody

[2018-09-29 16:11] #27 closed, assigned to nobody

[2018-09-29 16:11] #19 closed, assigned to nobody

[2018-10-08 03:25] fushang318 commented on #41
@ben7th @zhaobinglong 这个问题如何处理，我的手机可以复现

[2018-10-08 06:40] georgeliuyu opened #51 "feed中的地址显示到区即可，不要太细节"
![image](https://user-images.githubusercontent.com/16983441/46594843-017dd200-cb08-11e8-8af4-8d2e43e128f3.png)

@zhaobinglong @ben7th

[2018-10-10 08:41] zhaobinglong commented on #51
收到

[2018-10-10 10:19] #44 closed, assigned to nobody

[2018-10-12 14:21] zhaobinglong commented on #51
前端测试该反馈已经在测试环境ok，后端可以发布上线了

[2018-10-12 14:22] zhaobinglong commented on #49
目前线上版本已经到1.12，协调QA排查该问题是否还可以复现出来

[2018-10-14 11:41] zhaobinglong commented on #41
前端组将评估该问题是否修改

[2018-10-14 16:49] #42 closed, assigned to nobody

[2018-10-14 16:49] #33 closed, assigned to nobody

[2018-10-14 16:49] #46 closed, assigned to nobody

[2018-10-14 16:49] #43 closed, assigned to nobody

[2018-10-15 01:43] ben7th commented on #41
- 和特定手机浏览器版本有关系，目前李飞保留了一个可以复现的版本
- 理论上可以修改解决，因为在可复现的环境下，访问其他的小程序无此问题
- 建议处理方式：找时间结对调试来调研此问题

安排在燎原计划上线之后

[2018-10-21 09:17] #51 closed, assigned to nobody

[2018-10-22 03:32] georgeliuyu opened #52 "“治疗”的icon图片有问题"
![image](https://user-images.githubusercontent.com/16983441/47276994-1d946f80-d5ee-11e8-89c0-d8c13397cc09.png)

@zhaobinglong

[2018-10-23 04:18] #48 closed, assigned to nobody

[2018-10-23 04:18] #45 closed, assigned to nobody

[2018-10-24 02:48] bg8gms opened #53 "症状描述易产生歧义"
**昨天发现一个用户的记录数据，症状里面的选择和文字描述互相矛盾，这种情况会产生歧义，在标准数据的记录中该记录哪一个呢？**
![_20181024104635](https://user-images.githubusercontent.com/36874667/47402938-36319080-d77a-11e8-9c0f-502e87948385.png)

[2018-10-24 02:50] georgeliuyu commented on #53
![image](https://user-images.githubusercontent.com/16983441/47403003-7e50b300-d77a-11e8-9156-f808a59eaa55.png)
疾病结束的feed流文字不要把原来新建时的备注加进去。

@ax003d @hnuyx

[2018-10-24 03:43] nullscc commented on #53
目前逻辑：
1. 症状开始跟踪时会让用户输入一个备注
2. 症状结束时会去症状跟踪时的备注入库并显示

解决办法：
第2步的操作逻辑更改为： 症状结束时会去症状跟踪时的备注入库但不显示

@bg8gms @georgeliuyu

[2018-10-24 06:33] nullscc commented on #53
测试环境已修复，等待和奖励模型版本一起上线 @bg8gms @georgeliuyu

[2018-10-29 08:42] nullscc opened #54 "feed流中有时候会出现正在加载数据"
目前只在开发工具上经常遇到以下状况：
<img width="392" alt="screen shot 2018-10-29 at 4 41 36 pm" src="https://user-images.githubusercontent.com/17700282/47638460-99b42780-db99-11e8-9755-12e4276582b2.png">

[2018-10-29 08:42] nullscc commented on #54
@zhaobinglong @Yidadaa

[2018-10-29 15:14] Yidadaa commented on #54
这是正常的，针对feed长列表做了优化，每次只渲染用户可见部分的内容，但是重新渲染只会在用户触摸结束时进行，开发工具的页面滚动不会触发触摸事件，所以会出现空数据提示，详情见：
https://github.com/sibbay-ai/lt-miniapp-wepy/issues/461

[2018-10-29 16:18] zhaobinglong commented on #52
将协调设计师更新icon

[2018-10-30 01:05] #35 closed, assigned to nobody

[2018-10-30 01:54] nullscc commented on #54
@Yidadaa 了解，关闭

[2018-10-30 01:54] #54 closed, assigned to nobody

[2018-10-31 03:00] zhaobinglong opened #55 "重构icon-list列表组件"
重构icon-list列表组件，适应多种列表数据需求

[2018-11-05 03:23] georgeliuyu opened #56 "token 兑换网站文字修改"
![image](https://user-images.githubusercontent.com/16983441/47976404-396b3b80-e0ed-11e8-9f34-adee7091f506.png)

这里修改为SHT

@ben7th

[2018-11-06 03:23] georgeliuyu opened #57 "互动阴影的处理不对"
![image](https://user-images.githubusercontent.com/16983441/48041006-443dd300-e1b6-11e8-943f-b275663f847a.png)

这个阴影的目的是要在气泡和头像的上面。

@ben7th @zhaobinglong

[2018-11-06 03:25] ben7th commented on #57
层级关系不对，我来处理

[2018-11-06 03:34] ben7th commented on #57
![image](https://user-images.githubusercontent.com/322486/48041325-98958280-e1b7-11e8-8d96-be7e3eaf1773.png)

体验版 1.13.5.2 以修正此问题

将在下一个正式版本更新

[2018-11-06 03:45] georgeliuyu opened #58 "生命力气泡不同类型的显示逻辑"
1、备注不是一个独立的贡献项目，应该归属到具体的症状、疾病等等中；
2、同一类型的如症状更新合并为一个气泡
![image](https://user-images.githubusercontent.com/16983441/48041654-1d34d080-e1b9-11e8-8463-3c393cad9cc3.png)

@ben7th @rang @nancy919

[2018-11-06 04:18] ben7th commented on #58
经 zoom 沟通讨论，结论如下：

- 添加备注（type == REMARK）作为生命力产生的计算依据，但是作为单独的生命力挖矿记录
   举例：添加症状时，同时添加备注
   目前的实现：产生两条挖矿记录，一条是添加症状的生命力值，一条是添加备注的生命力值
   期望的实现：只产生一条挖矿记录，生命力值是添加症状和添加备注的和

   换言之，期望的实现：
   添加症状时未添加备注，产生一条挖矿流水，生命力值为 x
   添加症状时添加了备注，产生一条挖矿流水，生命力值为 x + y

- 前端要保证生命力挖矿流水和气泡显示的一致，因此气泡收取时不做气泡合并
- 气泡较多时显示的情况已经有处理，所以不用因为气泡较多而做合并
- 若有时有必要，前端可调整部分 type 的文字显示

@georgeliuyu @nancy919 @nullscc @bqx619

[2018-11-06 04:59] nullscc commented on #58
@ben7th 后端这边改动较大，像这种改动较大的一般是单独作为一个版本规划还是仅仅后端更改后测试后即可上线？ 如果是后者，需要QA同学介入进行测试后方可上线吗？

[2018-11-07 01:25] georgeliuyu opened #59 "关于互动中的进入分享的功能完善"
![image](https://user-images.githubusercontent.com/16983441/48104444-7c085180-e26e-11e8-813a-3b621ece5a41.png)

这个功能入口进入后应该能包含：
1、大白的选择，确定是否以大白的身份分享给朋友
2、分享文字的撰写
3、选择繁殖卡片还是保存二维码图片

@ben7th @nancy919

[2018-11-07 01:26] ben7th commented on #59
@nancy919 考虑一下，是否可以直接跳转到一个分享页面，这应该是最简单的形式

[2018-11-07 01:26] georgeliuyu commented on #59
这个传播接口是第一位的传播方式

[2018-11-07 03:19] georgeliuyu opened #60 "关于大白的关系建立的确认文字"
这里的默认文字：
![image](https://user-images.githubusercontent.com/16983441/48108579-a7933800-e27e-11e8-91f3-70f7d8a78b9c.png)
和“小鹿”接收时的文字：
![image](https://user-images.githubusercontent.com/16983441/48108615-cbef1480-e27e-11e8-9bbd-62d75d30ab57.png)

以及所有相关的文字，由 @金老师  review确认。

@nancy919 你直接找金老师。

[2018-11-07 04:30] kimgrace6 commented on #60
文字再斟酌一下也许会更好！

[2018-11-07 04:30] kimgrace6 commented on #60
文字再斟酌一下也许会更好！

[2018-11-08 03:46] nullscc commented on #58
@ben7th @nancy919 关于备注的气泡合并的一些细节需要确认：
1. 症状或疾病跟踪的备注可能和添加症状或疾病的时间点不一样，当时间点不一样时应该取那个时间点作为气泡成熟时间点参考依据
2. 如果用户在1月1日添加了疾病跟踪，在1月3日对这个跟踪的疾病添加备注，那么这个备注的贡献值应该如何处理
3. 备注产生的贡献值也是需要给上级用户、大白、小鹿分发贡献值的。如果小鹿在A时间点跟踪了疾病（但是没有添加备注），在B时间点对跟踪的疾病添加备注，那么对应大白、小鹿、传播者的气泡时间与气泡的生命力也同时更新吗？

[2018-11-08 12:31] ben7th commented on #58
@nullscc

1. 创建症状/疾病..时写的备注，就以创建时间点为准
    修改症状/疾病..时写的备注，就以修改时间点为准

2. 1 月 3 日对疾病添加备注，就是对疾病跟踪的修改，产生一个新的流水；1 月 1 日的流水不受影响；

3. 关系链上的分享以产生的流水为准，不要更新已经产生的流水

原则：
- 已经产生的流水（挖矿记录）任何情况下都不会更新
- 备注不单独产生流水（挖矿记录），而是总是和新建/更新记录一起算

若有必要的话，我可协助你把所有的用例写出来

[2018-11-09 07:56] kimgrace6 commented on #60
1.关于邀请卡：因为邀请者、受邀人身份可能多样化（如发出邀请的人可能是医生，因此，在此使用“我是记录者”未必恰当），建议不要突出发出邀请人的身份，文字修改为“您好！向您推荐一个我正在使用的免费健康管理小程序，海量的健康资讯正等待着您的到来。”
2.关于互动对话：建议修改为“与您的交流很愉快，随时恭候您下次再来！”
“这里还有很多好玩儿的东东，赶快动动手指试试看吧！”
3.很高兴成为您的大白，任何与健康相关的问题，欢迎在此留言，稍后我将提供专业的建议供您参考！

[2018-11-12 01:31] ben7th commented on #60
@nancy919 得出结论后在这个 issue 进行回复

[2018-11-12 01:36] ben7th commented on #41
2018-11-12 此问题已经在原有环境不能复现，初步判断是微信已经修复这个问题，此 issue 关闭

[2018-11-12 01:36] #41 closed, assigned to nobody

[2018-11-12 01:38] ben7th commented on #49
目前已经不能复现，此 issue 关闭

[2018-11-12 01:38] #49 closed, assigned to nobody

[2018-11-12 01:39] ben7th commented on #50
在 1.12 版本已经改正，此 issue 关闭

[2018-11-12 01:39] #50 closed, assigned to nobody

[2018-11-12 01:39] ben7th commented on #52
在 1.12 版本已经改正，此 issue 关闭

[2018-11-12 01:39] #52 closed, assigned to nobody

[2018-11-12 01:41] ben7th commented on #53
目前已经随 1.13 版上线，但此逻辑是否已经修改，需要 QA 做一下验证

[2018-11-12 01:45] ben7th commented on #55
已经在小程序的 repo 发了 issue ，此 issue 关闭

[2018-11-12 01:45] #55 closed, assigned to nobody

[2018-11-12 01:46] ben7th commented on #56
18 号前完成修改

[2018-11-12 01:46] ben7th commented on #57
已提交到正式版，此 issue 关闭

[2018-11-12 01:46] #57 closed, assigned to ben7th

[2018-11-12 01:57] ben7th opened #61 "用户找不到生命力收取详情的入口"
用户反馈：收取了气泡，但不知道“收到哪里去了”（原话）
经沟通，该用户找不到收取记录的入口

![image](https://user-images.githubusercontent.com/322486/48322255-9a50c180-e661-11e8-8d8b-2394f840737b.png)

![image](https://user-images.githubusercontent.com/322486/48322282-bc4a4400-e661-11e8-8cda-f46b1528f458.png)

个人考虑：是否可以调整这两个位置的 UI 细节，把原有要素左移，加上一个类似 `>` 这样的图标，从而让用户觉得是可以点击的

[2018-11-12 02:06] nullscc commented on #58
@ben7th @nancy919

与 @ben7th 沟通过后，以症状的备注为例，此问题解决方案如下：
1. 如果用户在跟踪症状的同时添加了备注，那么将备注产生的生命力合并到跟踪症状中显示
2. 如果用户在跟踪症状时没有添加备注，那么气泡只显示跟踪气泡产生的生命力，如果用户后续再增加备注（时间间隔在10秒开外），那么这个添加备注的气泡类型就是症状更新，而不是添加备注
3. 在mri对话中，由于添加症状和添加备注时间间隔在10秒之内，那么也将备注的生命值显示到跟踪正传的气泡中
4. 关于2、 3点中的10秒间隔的说明： 如果症状跟踪和添加备注是间隔10秒内的操作，那么他们就算是同一个气泡，如果不是10秒内的操作，那么就将备注添加算作是更新症状的气泡

如果按上述方式处理，那么跟踪添加、更新两个操作产生的气泡的生命值即使在同一用户同一时间点也是不同的

[2018-11-12 02:08] ben7th commented on #61
![image](https://user-images.githubusercontent.com/322486/48322492-d2a4cf80-e662-11e8-9dd6-d06f36e00bd1.png)

![image](https://user-images.githubusercontent.com/322486/48322598-578fe900-e663-11e8-8058-5978be7a8e68.png)

P 了一下假想图，类似这样

[2018-11-12 02:08] ben7th commented on #61
@nancy919 研究一下给出实现方案

[2018-11-12 03:20] georgeliuyu commented on #60
@kimgrace6 你考虑一下是否要写一些免责条款。

[2018-11-12 03:38] nancy919 commented on #60
邀请卡的角色涉及三种，因此涉及到的文字描述会不同

**1. 小鹿，邀请好友加入小白：**

邀请卡：您好！向您推荐一个我正在使用的免费健康管理小程序，海量的健康资讯正等待着您的到来。

**2. 大白，邀请其成为自己的小鹿：**

邀请卡：您好！向您推荐一个我正在使用的免费健康管理小程序，察觉到您需要医疗护理，我愿成为您的大白，任何与健康相关的问题，我将提供专业的建议供您参考！

询问意见：如果您确定TA就是您的医生，那么您可以同意TA成为您的大白，这样就能随时了解您的健康状况，并给出建议。

**3. 小鹿，邀请其成为自己的大白：**

邀请卡：您好！向您推荐一个我正在使用的免费健康管理小程序，我现在需要医疗护理，愿您成为我的大白，向我提供与健康相关的建议供我参考！

询问意见：如果您确定自己是医生，那么您可以同意成为TA的大白，这样就能随时了解TA的健康状况，并给出建议。

@kim

[2018-11-12 03:40] georgeliuyu commented on #60
![image](https://user-images.githubusercontent.com/16983441/48325177-549af580-e66f-11e8-97da-3a0d48cc7209.png)

“如果你确认TA就是您的医生，那么你可以同意TA成为你的大白，这样就能随时了解你的健康情况，并给出建议”

[2018-11-12 06:47] kimgrace6 commented on #60
关于四种角色：
1. 小鹿，邀请他人使用小白小程序（小鹿向小鹿推荐情景）：

邀请卡：您好！向您推荐一个我正在使用的免费健康管理小程序，海量的健康资讯正等待着您的到来。
2. 小鹿，邀请他人成为自己的大白：

邀请卡：您好！向您推荐一个我正在使用的免费健康管理小程序，我希望获得更多的健康指导，诚邀您成为我的大白！

确认之前跳出内容：请参考“小白记录专家公约”中关于免责的相应条款。（可直接放置链接）
3.大白，邀请他人成为自己的小鹿（大白向记录者推荐情景）：

邀请卡：您好！向您推荐一个我正在使用的免费健康管理小程序，这样可以随时了解您的身体状况，并针对您提供的信息给出相应建议！

：如果您确定接受对方成为自己的大白，对方将在小白平台为您提供免费健康指导，您与受邀者之间建立的包括但不限于咨询关系为您与受邀者双方自愿之真实意思的选择，因此获得的一切收益及可能产生的法律责任均由双方自负、与小白

[2018-11-12 11:47] nullscc commented on #58
@ben7th @nancy919
由于上述方案技术上实现太过繁琐，评估过后可能导致程序代码难以维护，所以换一种实现，达到效果几乎一样：
1. 如果在小程序UI交互时上跟踪症状的同时添加了备注，那么只会形成一个气泡，且气泡的生命力值=跟踪症状+备注两者的生命力之和
2. 如果在小程序UI交互时上跟踪症状的同时没有添加备注，那么会先形成一个气泡，气泡生命力值为跟踪症状的生命值，再次在UI上补充备注，那么又会形成一个新的气泡，新气泡的生命力值为添加备注产生的气泡
3. 如果在mri中添加症状，添加症状时不产生气泡，等到添加症状备注的对话出现时，再产生气泡，且气泡的生命力值=跟踪症状+备注两者的生命力之和。由于在mri中添加症状与添加备注是两次对话，且绝大部分情况下，两次对话的间隔极短，所以气泡产生时间以后者为准
4. 新增加`用药更新`、`治疗更新`、`疾病更新`、`医检记录更新`四种气泡类型

[2018-11-13 06:30] nancy919 commented on #60
好的，我已将您的建议采纳到奖励模型-补丁版本中去了

[2018-11-15 01:45] kimgrace6 opened #62 "发现小白记录中的问题"
昨天生活点滴的内容不见了，图片画红线的地方本来显示生活点滴内容的；
另外，每天记录时，每添加一个数据，都要跳出“微信运动”（有人可能就是暂时不要使用这个功能），需要关闭后才能再写其他数据，个人感觉用户感受不是最好。
![image](https://user-images.githubusercontent.com/41655751/48524395-185bd500-e8bb-11e8-823c-542bfcbca657.png)

[2018-11-15 10:24] zhaobinglong commented on #62
联系用户排查该问题，明天给出解决后的回复

[2018-11-15 10:26] zhaobinglong commented on #61
该问题已在奖励模型补丁包中增加了右侧箭头，待版本发布后，关闭该issue

[2018-11-15 10:26] zhaobinglong commented on #61
link：https://github.com/sibbay-ai/lt-miniapp-wepy/issues/696

[2018-11-15 11:11] zhaobinglong commented on #62
用户id：userid=5b113774a4838400018fe547
正式环境
问题：后端接口没有返回说说文字，用户反馈说昨天的这条feed是有文字的
![image](https://user-images.githubusercontent.com/8922614/48549203-179e5f80-e90a-11e8-9e71-ce628675992c.png)

[2018-11-16 02:01] bqx619 opened #63 "邀请好友界面编辑邀请文字"
![unadjustednonraw_thumb_d0](https://user-images.githubusercontent.com/9692149/48593119-5c67dc00-e986-11e8-9a40-ae87925bc739.jpg)

[2018-11-16 03:13] georgeliuyu opened #64 "关于症状细节询问的改进"
![image](https://user-images.githubusercontent.com/16983441/48595547-1152c680-e990-11e8-8c76-bc52af26c0ed.png)
针对上图：
1、是症状的特征，应该记录后在feedback的文字中体现；@nullscc
2、疾病因该提问是否添加疾病跟踪；@fushang318
3、习惯应该在feedback中体现 @nullscc
4、除了记录症状的情况外，还应该询问是否要跟踪； @fushang318

[2018-11-16 03:18] ben7th commented on #64
已了解，我会听相关讨论后，结合
https://github.com/orgs/sibbay-ai/projects/23#card-14896502
的工作来进行

[2018-11-16 03:22] georgeliuyu opened #65 "关于生命力由别人帮忙收取的mri处理"
增加生命力有别人帮助收取时，增加mri的互动：
1、说明谁、帮助收取了多少？
2、提示是否打赏表示谢谢。
目的让用户知道自己得到了多少牛。

@ben7th @fushang318 @nancy919

[2018-11-16 03:42] ben7th commented on #65
记录：

- 尝试给气泡收集加上音效
- 气泡产生到由别人帮收之间设置一个时间间隔，否则会干扰气泡原用户的体验

[2018-11-16 03:54] nullscc commented on #64
@nancy919 @ben7th 关于feature在feed日记里面展示的需求，涉及到两个问题需要两位先考虑：
1. 症状或疾病本身是有备注需要在feed日记里面展示的，展示情况需要区分备注和特征吗
2. 如果遇到很多个特征的情况，怎么展示

[2018-11-21 07:26] zhaobinglong commented on #62
经过后端排查反馈，数据库中仅存在一条用户的说说文本，用户的操作流程编辑了旧的说说，不是添加新的说说，目前在小程序1.14.X迭代中，已经启用了新的记录发布界面，在发布界面有单独的按钮添加新说说 @kimgrace6

[2018-11-21 07:28] zhaobinglong commented on #62
关于总是弹出微信运动的弹出层，协调产品了解该问题 @nancy919

[2018-11-26 02:36] fushang318 opened #66 "日记的评论文字，字数限制是多少"
![image](https://user-images.githubusercontent.com/326242/48989844-0dc8f780-f167-11e8-87bc-cda3e1fe9fa8.png)

如图中的评论，字数限制是多少

[2018-11-26 02:36] fushang318 commented on #66
@zhaobinglong

[2018-11-26 02:49] zhaobinglong commented on #66
![image](https://user-images.githubusercontent.com/8922614/48990267-b6c42200-f168-11e8-8008-51cc69d34508.png)

link：https://developers.weixin.qq.com/miniprogram/dev/component/textarea.html

目前评论区域使用的长度限制是微信评论组件默认提供的，140个字符串的长度，产品在这里没有明确的规定。

[2018-11-26 03:05] #66 closed, assigned to nobody

[2018-11-29 02:36] georgeliuyu opened #67 "生命力泡泡收取不正常"
昨天有记录
![image](https://user-images.githubusercontent.com/16983441/49195500-5b8d6c00-f3c2-11e8-8bbf-ae319fb0b766.png)
今天也有记录，但是没有人帮我收取
![image](https://user-images.githubusercontent.com/16983441/49195527-6fd16900-f3c2-11e8-8c38-090e605eda67.png)
现在的泡泡
![image](https://user-images.githubusercontent.com/16983441/49195546-837ccf80-f3c2-11e8-82b0-46ec4d970149.png)

@zhaobinglong @nullscc @ben7th @maohu

[2018-11-29 02:44] ben7th commented on #67
@nullscc 如果排查发现是 bug, 建议写测试来覆盖

[2018-11-29 02:52] zhaobinglong opened #68 "留言不显示和点击关注后并没有关注"
from：用户反馈
![image](https://user-images.githubusercontent.com/8922614/49196165-d788b380-f3c4-11e8-8633-7013ffd44c3e.png)

![image](https://user-images.githubusercontent.com/8922614/49196173-dc4d6780-f3c4-11e8-819e-187477f73299.png)

[2018-11-29 02:55] georgeliuyu commented on #67
![image](https://user-images.githubusercontent.com/16983441/49196273-46660c80-f3c5-11e8-85d3-68a369aaf199.png)

[2018-12-07 02:42] #59 closed, assigned to nobody

[2018-12-09 07:12] fushang318 opened #69 "关于用药管理的剂量"
![image](https://user-images.githubusercontent.com/326242/49694406-7df26700-fbc4-11e8-9f3a-e7ca551e33b9.png)
![image](https://user-images.githubusercontent.com/326242/49694410-92cefa80-fbc4-11e8-8218-5fc7d02f72cb.png)

我们的药品库中，不是每个用药都有最大剂量和最小剂量的取值

当某一个用药的 最大剂量和最小剂量有内容时，需要根据内容提供选择，而不是写死 1 到 10
有的用药的 最大剂量和最小剂量没有内容，可以写死 1 到 10

[2018-12-09 07:15] fushang318 commented on #69
@nancy919 @zhaobinglong @nullscc @ben7th @maohuaming

[2018-12-09 07:53] zhaobinglong commented on #69
了解

[2018-12-10 04:50] fushang318 opened #70 "增加症状互动反复出现多次的问题"
按照目前的互动设计，当用户增加症状后，会触发互动内容：互动的目的是用户输入关联的用药和治疗，以及症状详细情况
为了满足用户连续录入多个症状的场景，目前当用户录入多个症状后，互动内容会以此触发，进行每一个症状的互动内容
但是如果用户反复对一个症状进行删除和增加多次后，互动内容也会触发多次，反复针对一个症状进行多次互动
原因是：
目前的机制没法从逻辑上判断是反复删除增加的

录像说明

[record.mp4.zip](https://github.com/sibbay-ai/feedback/files/2661573/record.mp4.zip)

[2018-12-10 04:51] fushang318 commented on #70
link https://github.com/sibbay-ai/cooperation-issues/issues/1494

[2018-12-12 02:53] #53 closed, assigned to nobody

[2018-12-12 02:53] #56 closed, assigned to nobody

[2018-12-12 12:33] #58 closed, assigned to nobody

[2018-12-13 08:16] #60 closed, assigned to nobody

[2018-12-13 14:17] fazhen opened #71 "已关注用户，但仍显示未关注"
记录专家反馈，已经关注用户，但仍显示是未关注状态，如图
![wechatimg14](https://user-images.githubusercontent.com/34705714/49944131-ad86d380-ff24-11e8-8951-4f2597b5214d.jpeg)

@zhaobinglong @nullscc

[2018-12-16 16:38] #63 closed, assigned to nobody

[2018-12-16 16:38] #61 closed, assigned to nobody

[2018-12-21 09:55] #62 closed, assigned to nobody

[2018-12-25 01:11] fushang318 commented on #69
这么怎么样了

[2018-12-28 08:46] nullscc opened #72 "【推广演练】发现问题20181228 @nullscc"
来源： https://github.com/sibbay-ai/cooperation-issues/issues/1534

设备：iPhone SE

1. 小白视频加载很慢（3-4分都没加载出来我就放弃了），用户基本上不会有耐心等它加载完。家用wifi环境
2. 在视频没有加载出来的情况下，mri对话跳出来的时候有闪影，很奇怪～
3. mri初始对话，“TA们真的很需要”，这句话很莫名其妙（我没机会看视频，一直没加载出来）
4. mri互动对话语言组织有点生硬，比如“一次分享终生不变，占位” -> "Null，下午好"，过度太僵硬啦～
5. 推广只有url吗？微信限制不能推广到朋友圈？我看到那个推广链接有点不知道怎么做...
6. 软文模版的软文上下滑动时给我一种很卡顿的感觉，不舒服～
7. 互动新文字出来时，页面往上跳动的过程中感觉一卡一卡的，不平滑，给我一种有点难受的感觉
8.

[2018-12-28 08:50] zhaobinglong opened #73 "小白演练发现问题"

[2018-12-28 09:02] bqx619 opened #74 "演练发现的问题 @bqx619"

[2018-12-28 09:04] bqx619 commented on #74
视频点击出错:

录屏: https://wsclv-10010931.cos.ap-shanghai.myqcloud.com/ScreenRecording_12-28-2018%2016-43-32.MP4

[2018-12-28 09:08] ben7th commented on #72
- 目前的视频是占位视频，不是正式的，但是慢的问题可能确实存在。需要确定一下是网络问题还是视频 URL 组织不正确
- MRI 对话闪影问题存在，会进行修改优化
- 对话用语方面的问题会集中起来报告给南希和刘总
- 小程序有限制，不能直接对外转发网页，所以目前没有更简化的方式。目前的设计是，可以复制推广链接直接发给其他人。或者自己打开这个网页后发到朋友圈。
- 软文模板页面没做任何特殊处理，卡顿可能是因为视频和文章混排

[2018-12-28 09:09] ben7th opened #75 "小白演练中发现的问题记录"
1. 推广中心的专属链接打开的网页，分享到朋友的微信或朋友圈时，没有正确地替换上自定义图标和标题

[2018-12-28 09:11] bqx619 commented on #74
下面图片的`右上角`点击文案, 其实退出小程序也是在那里, 是不是可能误操作关了呢, 如果是第一次使用小程序, 以前见过一种这种分享的页面, 点击以后会有一个遮罩层, 然后提示点哪, 点哪, 会不会好些

![31545988210_ pic](https://user-images.githubusercontent.com/9692149/50510123-70dddf00-0ac3-11e9-8a8e-43193614cfc4.jpg)

[2018-12-28 09:14] bqx619 commented on #74
分享后, 新用户打开界面持续显示正在加载中, 退出小程序重新打开小程序后无关系, 重新点击分享卡片后正常

![31545988375_ pic](https://user-images.githubusercontent.com/9692149/50510218-d336df80-0ac3-11e9-8331-fbf5ba001983.jpg)

[2018-12-28 09:20] bqx619 commented on #74
刷新动态页面, 显示下图, 持续时间有 2-3s

![41545988790_ pic copy](https://user-images.githubusercontent.com/9692149/50510594-455bf400-0ac5-11e9-80d3-82c7e9efef1b.png)

[2018-12-28 09:21] kimgrace6 opened #76 "推广演练"
打开小程序之后出现第一条“小白推出了新的……”，建议明确具体内容，目前容易误解为有瑕疵没弄好;点击到看视频，打不开，不流畅，建议查找原因，否则，降低进一步互动的愿望;文字互动部分，超nice,感受良好，行云流水！

[2018-12-28 09:23] bqx619 commented on #74
打开匿名配置, 显示`无`

![51545988803_ pic](https://user-images.githubusercontent.com/9692149/50510513-f910b400-0ac4-11e9-9973-8869c148a030.jpg)

[2018-12-28 09:34] nullscc commented on #72
## 视频上方的黑影
![default](https://user-images.githubusercontent.com/17700282/50510951-991b0d00-0ac6-11e9-93e3-2dc9476d4bb0.jpeg)

## 对话中间的内容消失了
![default](https://user-images.githubusercontent.com/17700282/50510952-9ae4d080-0ac6-11e9-8142-20eb6a7b07fa.jpeg)

## 对话切换有点僵硬，加个"emm... 看看小白还有什么能为您做的"之类可能会心理上舒服点
![default](https://user-images.githubusercontent.com/17700282/50510953-9cae9400-0ac6-11e9-891d-4e

[2018-12-28 10:51] ben7th commented on #76
视频卡顿，无法加载经研究可能是由于网络配置问题，开发运维这边已经做了调整，之后应会改善。

[2018-12-28 11:26] fushang318 commented on #76
优化了CDN配置，已经改善了

[2018-12-29 05:51] #68 closed, assigned to nobody

[2018-12-29 05:51] #67 closed, assigned to nobody

[2018-12-31 02:01] ben7th opened #77 "正式上线推广计划第二次演练通知"
小白定于 2018-12-31 （周一）全天进行上线推广演练

### 演练形式：

- 完全按照正式上线的程序功能，使用正式版本进行演练测试
- 本次测试直接持续到正式上线，以修改各种发现的问题，中间不再做回滚
- 1 月 1 日 00:00 会再次进行已有的上下级关系和奖励数据清除

演练开始后，按照以下方法进行演练

### 演练方法

### 重点检查：每日互动是否顺畅
### 重点检查：推广中心内的三个模板是否能正确生成

#### 没有新的微信号的同学（老用户）

- 访问正式版小程序，切换到正式环境

**检查互动**

- 若今天还没有运行每日互动，检查每日互动是否正确，中间涉及到奖励计划介绍的内容是否能正确展示。
- 是否能通过奖励计划介绍进入“奖励细则”和“传播中心”页面
- 若每日互动已经结束，检查六个交互选项中的“传播健康种子”“需要帮助”“奖励计划”是否能正常运作

[2018-12-31 02:03] ben7th commented on #77
### 演练中发现的问题汇报方式：

- 每个参与演练的同学把自己在过程中发现的问题，单独创建 issue，发到 https://github.com/sibbay-ai/feedback/issues 自己发现的所有问题创建一个 issue 即可。

- issue 标题注明 【推广演练】

- 写明遇到的问题，或者觉得不妥当的地方。
   说明是在哪一步操作，哪个位置发现的问题。
   说明自己的手机操作系统（android / IOS）
   最好附上截图或录屏。

[2018-12-31 09:46] zhaobinglong commented on #77
推广中心的互动对话进行到二维码的时候，突然就截止了，缺失提示

[2019-01-02 14:04] #73 closed, assigned to nobody

[2019-01-06 02:57] georgeliuyu opened #78 "首次生命力的统计-紧急A"
根据：https://shimo.im/docs/qe9G8dMADXsAJkQp 文档的规定：
![image](https://user-images.githubusercontent.com/16983441/50731506-79a87200-11a1-11e9-954c-148ad5bc7464.png)
基础信息完善的总生命力是：300
那么一级是：300 * 6% =18  二级 300* 5%=15 三级是：300* 4%=12
那为什么会有这样的数据：

![image](https://user-images.githubusercontent.com/16983441/50731516-c5f3b200-11a1-11e9-8bb3-b067d09c6f3f.png)

[2019-01-06 02:57] georgeliuyu commented on #78
@nullscc @fushang318 @ben7th

[2019-01-06 04:01] ben7th commented on #78
收到，尽快安排从日志和数据细目上排查

[2019-01-08 02:21] ben7th opened #79 "2019-01-07 工作简报"
1 月 7 日调整：
- 更新了每日和首次互动，进一步缩短路径，优化运营统计显示易中断的部分；
- 屏蔽了“他人帮收气泡”的功能。目前只能用户自己收自己的气泡；
- 优化了生命力气泡面板下方的文字，从“关闭”改为“继续交流”，以避免用户误解；
- 在 23:50 - 00:10 进行了停服更新，主要更新内容为补发 1 号到 8 号少统计的一部分生命力；

1 月 8 日计划进行：
- [x] 优化目前生命力收获的通知提醒时机
       https://github.com/sibbay-ai/sr-wiki/issues/408
       已梳理出开发逻辑，其他事情阻塞，今天没有完成

- [x] 屏蔽托付记录时的所有分享推广操作
- [x] 排查“打赏”操作出错的问题
       https://github.com/sibbay-ai/lt-miniapp-wepy/issu

[2019-01-08 02:36] ben7th commented on #79
其他待安排：
- 下级气泡拆分（按直接下级人数）

- 一些互动子流程增加退出选项
   （需要前端修改 MRI UI 实现新机制）
   https://github.com/sibbay-ai/lt-miniapp-wepy/issues/820

- https://github.com/sibbay-ai/cooperation-issues/issues/1556
   FC 响应优化

- https://github.com/sibbay-ai/sr-wiki/issues/406
   时间显示故障修正

- MRI 断点统计中的互动版本对应问题

- 血压血糖体重的生命力记录

- 技术验证：是否能在 web-view 内通过交互在小程序其他页面间导航
   https://developers.weixin.qq.com/miniprogram/dev/componen

[2019-01-09 01:41] ben7th opened #80 "2019-01-08 工作简报"
昨日简报地址：
https://github.com/sibbay-ai/feedback/issues/79

1 月 8 日调整：
- 排查“打赏”操作出错的问题（0N 的记录），并进行数据迁移（影响 5 条数据）
- 调整“症状”显示界面，主要调整统计小图显示和历史列表显示
- 解决 MRI 断点统计中的互动版本对应问题，以使得统计更准确（非用户可感知问题）

1 月 9 日计划：
- [x] 下级气泡拆分（按直接下级人数）

- [x] 优化目前生命力收获的通知提醒时机
       sibbay-ai/sr-wiki#408
       昨日未完成，今天须优先处理

- [x] 屏蔽托付记录时的所有分享推广操作
       调整点较多，昨日未进行

- 为互动对话的第一个对话选项增加提示箭头
       sibbay-ai/lt-miniapp-wepy#821

[2019-01-09 01:42] ben7th commented on #80
其他待安排：（在最优先的工作完成的情况下，择机进行）

其他待安排：

- 一些互动子流程增加退出选项
   （需要前端修改 MRI UI 实现新机制）
   https://github.com/sibbay-ai/lt-miniapp-wepy/issues/820

- https://github.com/sibbay-ai/cooperation-issues/issues/1556
   FC 响应优化

- https://github.com/sibbay-ai/sr-wiki/issues/406
   时间显示故障修正

- 血压血糖体重的生命力记录

- 技术验证：是否能在 web-view 内通过交互在小程序其他页面间导航
   https://developers.weixin.qq.com/miniprogram/dev/component/web-view.h

[2019-01-09 02:25] ben7th opened #81 "推广 UI 与气泡 UI 重叠问题"
来源：运营群反馈

![image](https://user-images.githubusercontent.com/322486/50872036-cfc32280-13f8-11e9-8ec3-ca4054fac35a.png)

解决：调整 UI

[2019-01-09 03:00] ben7th opened #82 "气泡面板切出切入界面的残留问题"
来源：运营群反馈

![image](https://user-images.githubusercontent.com/322486/50874004-49f5a600-13fd-11e9-9d46-4341ea299275.png)

原因：
开启气泡面板，没有关闭的情况下，切出 MRI 界面进行记录
再回来时由于互动被记录引发的新互动打断，导致气泡面板一直显示，无法关闭

解决：
调整 UI，使得切出 MRI 界面再切回来时，如果有气泡面板是开启状态，直接使其消失，避免残留。

[2019-01-10 01:49] ben7th opened #83 "2019-01-09 工作简报"
昨日简报地址：
https://github.com/sibbay-ai/feedback/issues/80

1 月 9 日调整：

- 对下级贡献气泡的方式进行了修改，现在会按照直接下级的数量来归纳下级贡献。例如有 5 个直接下级，且有来自他们或他们的下/下下级的生命力时，就会归纳成 5 个气泡；
- 将下级贡献生命力的成熟时间改为了每天凌晨 2 点；
- 调整了生命力收取的提醒时机，现在会在每天 10:00 或 16:00 进行提醒；
- 目前首次互动的第一个选项增加了提示箭头；
- 修复了查看他人历史信息不正确的 bug;
- 修复了气泡界面与红包界面重叠的问题；
- 修复了特定情况下气泡界面无法关闭的问题；
- 修改了下级气泡的半径；现在比以前略小，仍然比普通气泡略大；
- 实现了对于气泡收取留存度的统计；

1 月 10 日计划：

- 在下级气泡显示上增加来源的名字
  h

[2019-01-10 01:51] ben7th commented on #83
**重要：梳理春节前的各项工作时间计划**

其他待安排：（在最优先的工作完成的情况下，择机进行）

- https://github.com/sibbay-ai/cooperation-issues/issues/1556
   FC 响应优化

- 技术验证：是否能在 web-view 内通过交互在小程序其他页面间导航
   https://developers.weixin.qq.com/miniprogram/dev/component/web-view.html

- review login_wx_union 的代码，看对腾讯服务的调用错误是如何处理的

- 阿里云 mongoDB 数据库对于数+ 经典网络生效的问题（运维）

[2019-01-11 02:26] ben7th opened #84 "2019-01-10 工作简报"
昨日简报地址：
https://github.com/sibbay-ai/feedback/issues/83

1 月 10 日调整：
- 现在在下级贡献的橙色气泡上会显示下级的名字了
- 简化了新用户授权的过程，现在新用户，或者更换手机/很久不用的老用户访问小白会看到一个新的登录界面
- 修正了在只进行“记日记”的情况下，SNS 中的一个时间显示错误

1 月 11 日计划：
- [x] 首次互动的生存时间改为 3 天
- [x] 每日互动的提建议增加退出选项

- [x] 当切换为非主用户时，屏蔽隐私设置和推广中心
- [x] 将通知进入跳转页面由静态图更换成 loading 动画
- review 通知模板的改动并上线（昨天开发，未 review 上线）
   https://github.com/sibbay-ai/sr-reminder/issues/96
   - [x] 后

[2019-01-11 02:27] ben7th commented on #84
**重要：梳理春节前的各项工作时间计划**

其他待安排：（在最优先的工作完成的情况下，择机进行）

- 把初始互动的“填写基本信息”的气泡拆成三个来给

- review login_wx_union 的代码，看对腾讯服务的调用错误是如何处理的

- 阿里云 mongoDB 数据库对于数+ 经典网络生效的问题（运维）

- 文本输入互动增加退出选项和发送选项（从之前计划降低优先级排序）
   （需要前端修改 MRI UI 实现新机制）
   sibbay-ai/lt-miniapp-wepy#820

- 后端 repo commits 整理
   https://github.com/sibbay-ai/sr-wiki/issues/414

- 按钮重复点击问题的修正的 review @zhaobinglong
   https://github.com/sibbay-ai/lt-m

[2019-01-12 15:26] #71 closed, assigned to nobody

[2019-01-14 01:40] ben7th opened #85 "2019-01-11 至 2019-01-13 工作简报"
上次简报地址：
https://github.com/sibbay-ai/feedback/issues/84

近日调整：

- [x] 首次互动的生存时间改为 3 天
- [x] 每日互动的提建议增加了一个退出选项
- [x] 目前托付记录时，会屏蔽切换到的用户的隐私设置和推广中心
- [x] 重新设计了通知进入的欢迎页面，增加了圆点 loading 动画
- [x] 重新设计了多个通知的内容，现在会有大字号的醒目提示

优化：
- [x] 解决了一个阿里云 mongoDB 数据库与经典网络相关的运维问题，已提升安全性

----------------

1 月 14 日 计划

- 将大白邀请的问题的相关修复上线（昨天开发，未 review 上线）
   https://user-images.githubusercontent.com/322486/50873428-144fbd

[2019-01-14 01:41] ben7th commented on #85
春节计划涉及开发工作草案
https://mubu.com/doc/1bTwh11IvO

---------

其他待安排：（在最优先的工作完成的情况下，择机进行）

- 把初始互动的“填写基本信息”的气泡拆成三个来给

- review login_wx_union 的代码，看对腾讯服务的调用错误是如何处理的

- 文本输入互动增加退出选项和发送选项（从之前计划降低优先级排序）
   （需要前端修改 MRI UI 实现新机制）
   sibbay-ai/lt-miniapp-wepy#820

- 后端 repo commits 整理
   检查表： https://github.com/sibbay-ai/sr-wiki/issues/414

- 按钮重复点击问题的修正的 review @zhaobinglong
   https://github.com/sibbay-ai/lt

[2019-01-15 01:57] ben7th opened #86 "2019-01-14 工作简报"
昨日简报地址：
https://github.com/sibbay-ai/feedback/issues/85

1 月 14 日已完成：

- [x] 对 sns, asset, user, mri, reminder 的 repo 进行 commits 整理
   https://github.com/sibbay-ai/sr-wiki/issues/414

- [x] 修正了多处按钮重复点击导致重复提交的问题

1 月 15 日计划：

- 实现简单版本的 FC 响应优化
   sibbay-ai/cooperation-issues#1556

- 技术验证：是否能在 web-view 内通过交互在小程序其他页面间导航
   https://developers.weixin.qq.com/miniprogram/dev/component/web-view.html

- 排查

[2019-01-15 01:59] ben7th commented on #86
其它待安排：（在最优先的工作完成的情况下，择机进行）

- 将大白邀请的问题的相关修复
   https://user-images.githubusercontent.com/322486/50873428-144fbd80-13fb-11e9-9e1b-66398b383c9a.png

- 把初始互动的“填写基本信息”的气泡拆成三个来给

- review login_wx_union 的代码，看对腾讯服务的调用错误是如何处理的

- 文本输入互动增加退出选项和发送选项（从之前计划降低优先级排序）
   （需要前端修改 MRI UI 实现新机制）
   sibbay-ai/lt-miniapp-wepy#820

- 后端 repo commits 整理
   检查表： https://github.com/sibbay-ai/sr-wiki/issues/414

- 图表 X 轴

[2019-01-15 02:13] georgeliuyu opened #87 "显示疑似重复"
![image](https://user-images.githubusercontent.com/16983441/51154244-1e1b6a00-18ae-11e9-8da8-b769f8c43304.png)

感觉可用的已经增加，但是锁定没有减少。

[2019-01-15 02:36] hnuyx commented on #87
图示地址：0x9eaeb1a90e36307c39e995894892a906f101ef35

问题原因：
1. 可用余额包含了已经释放的余额+已到期未释放的余额
2. 锁定余额包含了已到期未释放的余额+未到期的余额

所以，在显示上需要一些优化，即显示未到期余额的时候，判断一下到期时间是否大于当前时间。
应该只显示到期时间大于当前时间的锁定条目
@fushang318

[2019-01-15 03:52] georgeliuyu opened #88 "健康成就bug"
#### 1、重复问题
在疾病、症状、用药治疗都存在重复的问题，应该进行去重处理：
![image](https://user-images.githubusercontent.com/16983441/51157637-b23ffe00-18bb-11e9-9f91-a9cc35ec7445.png)
#### 2、编辑错误
已经生成的健康成就，重新进行编辑时：
![image](https://user-images.githubusercontent.com/16983441/51157666-e9161400-18bb-11e9-933e-1d4f190e59f4.png)
日记的列表没有了，顶上的文字不对。

@ben7th @zhaobinglong

[2019-01-15 04:11] georgeliuyu opened #89 "健康成就-请求失败"
![image](https://user-images.githubusercontent.com/16983441/51158247-97bb5400-18be-11e9-9d21-f1eb65d43fd7.png)

拉倒底部总是会出现这个bug

@ben7th @zhaobinglong

[2019-01-17 02:25] ben7th opened #90 "2019-01-15 至 2019-01-16 工作简报"
昨日简报地址：
https://github.com/sibbay-ai/feedback/issues/85

1 月 15， 16 日已完成：

- [x] 增加了备注修改，血压，血糖，体重记录的生命力产生（之前开发上有遗漏）到测试环境。目前正在进行测试，根据测试结果择机上线。

- [x] 发布了 1.15 版本（留言体验升级迭代）版本小程序的体验版。目前正在进行测试，根据测试结果择机上线。

优先计划：

- [ ] 排查 BUG：健康成就无法创建，一直 loading
   无论是自己尝试创建，还是切换到别人尝试创建

--------

- [ ] www.sibbay.ai 查询结果显示优化
   - 显示总量（已解锁的和所有未解锁的相加）
   - 前端屏蔽显示从日期上来说已解锁的额度

-------

- [ ] 健康日记概况页目前没有显示从“血压”“血糖”“体重”功能

[2019-01-17 02:26] ben7th commented on #90
待定计划：（在最优先的工作完成的情况下，择机进行）

- 实现简单版本的 FC 响应优化
   sibbay-ai/cooperation-issues#1556

- 技术验证：是否能在 web-view 内通过交互在小程序其他页面间导航
   https://developers.weixin.qq.com/miniprogram/dev/component/web-view.html

- 将大白邀请的问题的相关修复
   https://user-images.githubusercontent.com/322486/50873428-144fbd80-13fb-11e9-9e1b-66398b383c9a.png

- 把初始互动的“填写基本信息”的气泡拆成三个来给

- review login_wx_union 的代码，看对腾讯服务的调用错误是如何处理的

- 文本输入互动增

[2019-01-18 02:47] ben7th opened #91 "运营群反馈：用户记步授权无法拒绝"
![image](https://user-images.githubusercontent.com/322486/51362352-2ffb4800-1b0e-11e9-8822-1ec9bba52058.png)
![image](https://user-images.githubusercontent.com/322486/51362391-5620e800-1b0e-11e9-900c-3a8fc9c3b8b1.png)

反馈：某些情况下，出现了无法拒绝，只能关闭的授权界面

[2019-01-18 02:53] ben7th commented on #91
http://img4ye.oss-cn-hangzhou.aliyuncs.com/sibbay-video/1547777624271421.mp4

目前的正常使用过程录屏。拒绝记步授权不会打断使用

所以需要进一步明确是什么操作导致出现了截图中的界面

[2019-01-20 04:39] #64 closed, assigned to nobody

[2019-01-20 04:40] #65 closed, assigned to nobody

[2019-01-24 07:57] #69 closed, assigned to nobody

[2019-01-24 20:51] zhaobinglong opened #92 "【bug】消息列表中每条消息下面都出现了大白的图标"
from： @georgeliuyu

![image](https://user-images.githubusercontent.com/8922614/51708019-bc04f680-205d-11e9-84df-63386e8a737e.png)

[2019-01-25 00:55] georgeliuyu commented on #88
@ben7th @zhaobinglong 我刚刚测试了体验版还是由bug，日记列表没有了

[2019-01-25 00:59] georgeliuyu commented on #88
原来输入的疾病也没有了，你们查查症状、用药、指标、治疗等是否也有问题。

[2019-01-25 00:59] georgeliuyu commented on #88
同时建议这样的bug fix，让bug提交人做确认 @ben7th

[2019-01-26 03:18] zhaobinglong opened #93 "【BUG】健康概况页面出现个别用户查看他人数据异常"
- [x] 南溪查看刘总的健康概况，疾病历史点击进去后，再点击进去一层，看不到疾病的详情数据
- [x] 症状详情和症状历史详情保持一致
- [x] 看不到指标的详情数据
- [x] 看不到用药详情
- [x] 概况页面不应该出现任何可操作的按钮
- [x] @nancy919 看不到自己的记录存档数据

[2019-01-27 12:38] #76 closed, assigned to nobody

[2019-01-27 12:38] #74 closed, assigned to nobody

[2019-01-27 12:38] #72 closed, assigned to nobody

[2019-01-27 12:38] #75 closed, assigned to nobody

[2019-01-28 01:23] georgeliuyu opened #94 "【bug】从mri进入增加用药提交报错"
这个压缩的视频
[bug.zip](https://github.com/sibbay-ai/feedback/files/2801088/bug.zip)

注意：结果添加却是成功的
@ben7th @zhaobinglong

[2019-01-28 03:58] georgeliuyu opened #95 "feed流中的图片点击有问题【改善】"
[图.zip](https://github.com/sibbay-ai/feedback/files/2801370/default.zip)

@zhaobinglong @fushang318

[2019-01-28 04:01] georgeliuyu commented on #95
可以看看视频

[2019-01-28 04:06] georgeliuyu opened #96 "关于症状同义词的改进"
改进内容：
1、同义词支持模糊查询；
2、显示在前端的条目包含查到同义词：
![image](https://user-images.githubusercontent.com/16983441/51814187-22577680-22f5-11e9-8f02-05036fe731f0.png)

@fushang318 @nullscc

[2019-01-28 04:09] fushang318 commented on #96
这个涉及到阿里云产品的配置，以前也是我在做，我做效率高

[2019-01-30 16:29] #77 closed, assigned to nobody

[2019-02-05 17:25] #78 closed, assigned to nobody

[2019-02-08 04:55] #81 closed, assigned to ben7th

[2019-02-08 04:55] #82 closed, assigned to nobody

[2019-02-11 03:10] #84 closed, assigned to nobody

[2019-02-12 04:55] #70 closed, assigned to nobody

[2019-02-14 04:27] #85 closed, assigned to nobody

[2019-02-14 04:27] #87 closed, assigned to nobody

[2019-02-14 11:24] #89 closed, assigned to nobody

[2019-02-14 11:24] #86 closed, assigned to nobody

[2019-02-15 08:24] #79 closed, assigned to nobody

[2019-02-15 08:24] #80 closed, assigned to nobody

[2019-02-15 08:24] #83 closed, assigned to nobody

[2019-02-17 18:01] #91 closed, assigned to nobody

[2019-02-17 18:01] #90 closed, assigned to nobody

[2019-02-18 07:11] georgeliuyu opened #97 "bug：新手指南-如何记录-医学影像拍照方法链接打不开"
![image](https://user-images.githubusercontent.com/16983441/52933810-781cbd00-338f-11e9-87a1-e70ba83843b8.png)

@ben7th @zhaobinglong

[2019-02-19 01:39] georgeliuyu opened #98 "关于打开”完全隐私“的功能定义【完善】"
对于打开完全隐私的功能：
- 大白仍然可以看到
- 家人仍然可以看到
- 托付仍然可以看到

@nancy919 你确认好最后的规则后给 @nullscc 实现

[2019-02-19 02:01] nancy919 commented on #98
@georgeliuyu 收到

[2019-02-19 02:38] georgeliuyu opened #99 "只要今天收过生命力就不要发收取通知消息【优化】"
增加两条规则：
1、只要当天收到过生命力就不要再发送收取通知消息；
2、只要打开过小程序就不要发送记录消息

@fushang318
@nancy919 @ben7th 知晓

[2019-02-19 02:43] georgeliuyu commented on #99
我今天已经收过了，还是发通知会有点烦。

[2019-02-19 02:54] fushang318 commented on #99
确定两个需求
1. 收到过生命力，指的是本人自己今天收取过泡泡对吗
2. 打开过指的是，通过任何形式进入过小程序是吗

[2019-02-19 02:59] georgeliuyu commented on #99
@fushang318 对

[2019-02-19 14:33] #93 closed, assigned to nobody

[2019-02-19 14:33] #92 closed, assigned to nobody

[2019-02-19 14:34] #88 closed, assigned to nobody

[2019-02-19 14:35] zhaobinglong opened #100 "用户编辑医检记录中的图片，删除点击困难【优化】"
from： @georgeliuyu

[2019-02-19 14:36] zhaobinglong commented on #100
这个问题我们之前有过一次反馈和讨论，但是没有形成最终的结论，前端建议是更改为长按删除的交互，请产品确认一种修改方式

@nancy919

[2019-02-19 14:46] georgeliuyu commented on #88
@zhaobinglong 上面的问题修复了吗？

[2019-02-19 14:53] zhaobinglong opened #101 "意见反馈按钮隐藏的太深"
from：@zhaobinglong

我的一位做开发的同学跟我反馈，他在第一次使用过程中有一点困惑，想给我们反馈，但是找了半天没找到意见反馈或联系我们的按钮。

我的思考：小白目前是快速迭代的产品，迭代过程中会暴露大量问题，需要方便用户第一时间联系我们，而我们的意见反馈菜单，目前有两种方式可以找到，一种是在互动中完成对话，一种是在我->设置->帮助中心。这两种办法，都需要数次点击才可以找到，而对于老年用户，更不友好

我的处理办法：
把帮助中心移动到我->帮助中心，放在菜单列表中的第一项

更激进的做法：
把悬浮在三个主页的切换家人按钮变为意见反馈按钮，移动到页面底部。我认为，意见反馈和切换家人这两个菜单，不管是从使用频率上来说还是从重要性来说，都是前者更重要。对于第一次使用小白的用户，他们第一眼就可以明白意见反馈的作用，但是却不一定明白切换家人那个按钮是做啥的。同时切换家人这个需求，只

[2019-02-20 02:59] zhaobinglong commented on #88
@georgeliuyu 已修复，

[2019-02-20 06:03] zhaobinglong opened #102 "小程序全屏设计"
我发现有一些小程序，它们是可以全屏幕展示的，顶部的两块区域，原本这是属于系统和微信app控制的两块区域，现在也可以在小程序中控制， 小白是否可以考虑把tab菜单移动到底部，让页面全屏幕显示呢？这样互动对话就会铺满屏幕，从体验上来看，更像一个app

@georgeliuyu  @nancy919

参考小程序：票圈长视频

[2019-02-20 06:04] zhaobinglong commented on #102
![image](https://user-images.githubusercontent.com/8922614/53070054-e6d95200-3518-11e9-9161-e8d120350075.png)

[2019-02-20 06:11] georgeliuyu commented on #102
期待

[2019-02-20 06:24] georgeliuyu commented on #102
如果技术上是可行的， @nancy919 今天的新改版用这个。

[2019-02-20 07:00] georgeliuyu opened #103 "sns fc后端报错"
![image](https://user-images.githubusercontent.com/16983441/53072496-3707e280-3520-11e9-9733-9bed2ba6ac47.png)

@nullscc @fushang318

[2019-02-20 07:12] fushang318 commented on #103
![image](https://user-images.githubusercontent.com/326242/53073037-e42f2a80-3521-11e9-9177-bae436c5784e.png)

[2019-02-20 07:12] fushang318 commented on #103
![image](https://user-images.githubusercontent.com/326242/53073078-fe690880-3521-11e9-8435-d208cf273efb.png)

[2019-02-20 07:13] fushang318 commented on #103
从网关日志来看，大部分是503错误

[2019-02-20 07:14] nancy919 commented on #102
@georgeliuyu 收到

[2019-02-20 07:18] nullscc commented on #103
@georgeliuyu 最尖峰理论上是 @Yidadaa 那天测试评论字数限制，对应sentry : http://sentry.xiaowhite.com/sentry/sns-service/issues/5005/events/

[2019-02-20 07:19] fushang318 commented on #103
有些没有在 senttry 的 500 错误，我们看一下

[2019-02-20 07:20] fushang318 commented on #103
![image](https://user-images.githubusercontent.com/326242/53073439-fbbae300-3522-11e9-997f-b3e546f13b98.png)
![image](https://user-images.githubusercontent.com/326242/53073448-02495a80-3523-11e9-94a2-339bb70e2fff.png)

[2019-02-20 07:31] nancy919 commented on #101
收到 @zhaobinglong

[2019-02-20 08:04] georgeliuyu opened #104 "这个统计是否有错误"
![image](https://user-images.githubusercontent.com/16983441/53075881-36277e80-3529-11e9-84ff-0665c8e52844.png)

这个用户是我的上级，而我已经734人
@fushang318

[2019-02-20 08:34] nancy919 commented on #100
收到，已给出方案 @zhaobinglong

[2019-02-21 04:35] zhaobinglong opened #105 "【bug】我的大白列表，点击有日记的大白跳转新页面显示无消息"
from： @georgeliuyu

参考图：
![image](https://user-images.githubusercontent.com/8922614/55064375-d89cc980-50b4-11e9-8a59-8ff5d26af83a.png)

[2019-02-21 05:16] zhaobinglong opened #106 "【需求】编辑我的健康成就，直接显示用户已经选择的数据"
如果用户已经选择了症状疾病用药和指标的数据，需要直接显示在输入框，而不是点击后才弹出列表

[2019-02-21 05:24] zhaobinglong commented on #106
![image](https://user-images.githubusercontent.com/8922614/53145660-071e1500-35dc-11e9-8fca-07a00bd45a11.png)

[2019-02-21 06:11] georgeliuyu opened #107 "删除大白，文字显示不对"
今天这个用户是取消了安娜的大白关系，这里显示有bug
![image](https://user-images.githubusercontent.com/16983441/53147366-5a936180-35e2-11e9-87a4-79ee12cb9a17.png)

[2019-02-21 06:11] georgeliuyu commented on #107
@nullscc

[2019-02-21 07:42] Yidadaa commented on #102
这里是使用了微信小程序的`navigationStyle: custom`配置项，可以使小程序获得全屏显示的能力，不过@nancy919 在设计时要注意顶栏一定要加入**返回按钮**，因为我自己开发的一款小程序也用到了这个设计，但有用户表示不知道怎么返回到上一个页面（微信默认左滑返回上一层，但是很多用户都不知道）。

[2019-02-21 12:37] nullscc commented on #107
查找了大白关系的记录，发现先后三次建立了大白小鹿关系，时间点分别是：
2019/1/4 23:17:6
2019/2/21 12:56:39
2019/2/21 13:25:39

前两次已经取消，后两次有效

据反馈，用户2019/2/21当天只进行了一次操作，需要持续跟进下

[2019-02-22 01:21] georgeliuyu opened #108 "图片教程链接没有内容"
![image](https://user-images.githubusercontent.com/16983441/53213253-2ae86600-3683-11e9-99c8-6f7300466427.png)

点击显示后没有内容

@ben7th @

[2019-02-22 01:22] georgeliuyu commented on #108
from ：hunter 石宏

[2019-02-23 08:29] Yidadaa commented on #101
链接：https://github.com/sibbay-ai/lt-miniapp-wepy/issues/930
状态：版本1.16.11已上线

[2019-02-23 12:36] georgeliuyu opened #109 "删除大白时，会发送邀请成为大白的消息"
对方把我这个大白进行删除，我却收到大白的邀请。
![image](https://user-images.githubusercontent.com/16983441/53286505-abee4d00-37aa-11e9-877b-d1929d77b3d7.png)

@ben7th @nullscc @zhaobinglong

[2019-02-25 02:45] georgeliuyu commented on #107
@nullscc 这个问题是 https://github.com/sibbay-ai/feedback/issues/109 这个原因造成的，请合并处理

[2019-02-25 02:58] fushang318 commented on #99
已经完成优化，并完成了测试
已经部署上线

[2019-02-25 03:12] fushang318 commented on #99
运行的测试用例包括

1. 启动一个新用户，不进行互动（保证没有泡泡），完成一个医学记录（保证有 form_id），测试环境数据库删除这个用户的 last_login_time , 删除测试环境记录发送时间戳，手动运行发送通知，预期结果是：用户可以收到日记通知
2. 启动一个新用户，不进行互动（保证没有泡泡），完成一个医学记录（保证有 form_id），测试环境数据库修改这个用户的 last_login_time 为昨天的一个时间, 删除测试环境记录发送时间戳，手动运行发送通知，预期结果是：用户可以收到日记通知
3. 启动一个新用户，不进行互动（保证没有泡泡），完成一个医学记录（保证有 form_id），删除测试环境记录发送时间戳，手动运行发送通知，预期结果是：用户不会收到通知
4. 启动一个新用户，进行互动到补全完信息，出现可以收取的泡泡，但是不要收取，完成一个医学记录（保证有 form

[2019-02-25 06:55] nullscc commented on #107
排查发现，在用户的个人主页点击：【取消Ta的关心】会先后调用（几乎同时）以下两个接口：
[code]

第一个是取消大白关系的接口，第二个是建立大白关系的接口。 几乎可以肯定：如果后端先处理取消接口，再处理建立关系接口，则会造成此问题

协调 @zhaobinglong 处理此问题

[2019-02-25 06:56] nullscc commented on #109
初步排查结果见： https://github.com/sibbay-ai/feedback/issues/107#issuecomment-466893131

[2019-02-25 10:28] zhaobinglong commented on #107
收到 @nullscc

[2019-02-25 11:09] zhaobinglong commented on #107
根据 @nullscc 提供的信息，前端最终确认是前端页面中的逻辑判断错误，导致了用户每次取消关系时，前端就发送一次邀请通知

该问题已fix，发布PR，等待合并发版

[2019-02-26 06:37] fushang318 opened #110 "一个用户的上级，上上级，上上上级获取 百分之四，五，六的生命力奖励的五年限制是否需要去掉"
一个用户的上级，上上级，上上上级获取 百分之四，五，六的生命力奖励的五年限制是否需要去掉

改为没有五年限制，而是永远都会获取这百分之四，五，六的生命力奖励

[2019-02-26 06:37] fushang318 commented on #110
@georgeliuyu 我记得以前说过要改为永远可以获得？

[2019-02-26 06:42] georgeliuyu commented on #110
@fushang318 对的，改为永远。

[2019-02-26 06:44] fushang318 commented on #110
好的

[2019-02-27 02:42] #94 closed, assigned to nobody

[2019-02-27 03:46] georgeliuyu opened #111 "A级：中药方剂没有打开相关的页面"
![image](https://user-images.githubusercontent.com/16983441/53464409-180bd200-3a85-11e9-9d61-516da10b643d.png)
![image](https://user-images.githubusercontent.com/16983441/53464432-2f4abf80-3a85-11e9-9d0f-9a9252a7c25c.png)

@zhaobinglong @ben7th

[2019-02-27 03:55] zhaobinglong commented on #111
前端检查发现接口返回了空，导致页面出现空白，正在协调后端做进一步排查 @nullscc

[2019-02-27 05:42] #95 closed, assigned to nobody

[2019-02-27 15:43] zhaobinglong commented on #111
![image](https://user-images.githubusercontent.com/8922614/53502668-871b1200-3ae9-11e9-9f78-8323b969a400.png)

[2019-02-27 15:44] zhaobinglong commented on #111
@ben7th  申请发版正式版

[2019-02-27 15:47] zhaobinglong commented on #109
请 @georgeliuyu  对该问题最后进行一次确认，目前已发布正式版

[2019-02-28 04:45] fushang318 opened #112 "在家人状态下，是否允许发送邀请卡片"
来自：核对补发生命力流水发现的问题   https://github.com/sibbay-ai/feedback/issues/114

### 目前的使用步骤
1. 创建一个家人
2. 切换到家人状态
3. 进入动态页面
4. 进入 查看明细
5. 可以使用邀请功能，发送邀请卡片给朋友微信

如果朋友通过这个卡片进入小程序，如果朋友的小白账户没有上级，那么这个家人会成为朋友小白用户的上级
但是家人是可以删除的，如果建立上下级关系后，删除这个家人
这样会造成朋友小白账户的上级可能是一个不存在的用户

[2019-02-28 04:45] fushang318 commented on #112
@nancy919

@georgeliuyu @ben7th

[2019-02-28 05:03] fushang318 opened #113 "目前记录系统回收生命力的流水发现严重问题"
来源：核对生命力流水

### 问题描述
目前一个用户记录以后，会进行一个需要处理的生命力分发处理
分发的步骤是
1. 分给用户自己
2. 分给传播者（如果传播者不存在，直接进入系统回收）
3. 分给小白（用户每天会先生成一个大白生命力流水记录，今天的生命力会一直在这个记录上叠加），然后在第二天计算分配给某一个大白
4. 把剩下的生命力直接放入系统回收池（这个设计最早应该是为了记录计算错误的情况，比如精度问题，这里会剩下少量生命力）

但是目前的实现，计算最后一步剩下的生命力时，产生了计算错误
包括了几项错误
1. 当用户记录是一个 补全信息的流水时，这里note_value 多出 85% 的生命力
2. 当其他类型记录时，这里 note_value 多出 25% 的生命力
3 但因为整体使用 note_value 时，数量级错误（少计算了 1000 倍），导致大部分这个数据的 note_

[2019-02-28 05:06] fushang318 commented on #113
耦合的几个问题
1. SystemPoolSourceType 的枚举值重复了
[code]

2. 补全信息产生的生命力流水记录中，少了 recordid 字段的记录，这个也是产生这个问题的一个因素

[2019-02-28 05:20] nancy919 commented on #112
我的建议，不允许发送邀请卡片，当前账户只允许发送主用户的邀请卡片，上下级关系也只与主用户有关 @fushang318

[2019-02-28 06:03] fushang318 commented on #112
@nancy919 前端页面交互你看如何改？
比如用户在家人状态进入带有邀请卡片页面时，邀请按钮如何显示，如何交互

[2019-03-01 01:11] fushang318 opened #114 "小程序的邀请功能逻辑BUG处理"
来自：补发生命力流水统计核对

### 状况介绍
在核对补发生命力流水的过程中，发现有一个用户的上级ID是一个不存在的 user

尝试找到复现方法，确定是否是一个BUG，或者设计不合理问题

[2019-03-01 01:13] fushang318 commented on #114
一开始想到是否是一个家人对一个用户发起了邀请，然后这个家人被删除了，导致用户存在在
但是检查代码，删除家人并不会删除这个 user,只是删除 家人关联关系
所以不是这个方式产生的，但是想到家人邀请应该是一个不合理的设计，所以提出了另一个 ISSUE

在家人状态下，是否允许发送邀请卡片
https://github.com/sibbay-ai/feedback/issues/112

[2019-03-01 01:17] fushang318 commented on #114
对生产数据库中的 上下级关系数据进行遍历查询，确定有两个用户的上级ID是不存在的 user

1. 根据猜测怀疑是测试环境的 userid 记录到了生产环境
于是去测试环境查询，果然其中的一个 userid 是测试环境的

2. 但是另一个 userid 在测试环境找不到，因为测试环境存在删除用户的概念，所以也不确定这个 userid 是否是测试环境的

[2019-03-01 01:20] fushang318 commented on #114
于是想到根据上下级建立关系的时间戳，去找日志看
因为时间比较久远，需要从日志冷存档中去找（日志冷存档记录到了 OSS 中）
最终找到了对应的日志
分析出来两个不存在的 userid 的来源
1. 一个来源于测试环境
2. 一个来源于 user 库 的 entrust_record 表 ID ，这个是处理托福关系的，但是处理邀请逻辑时出现了BUG，导致把 entrust_record 的 id 当成上级 ID 记录了

[2019-03-01 01:24] fushang318 commented on #114
昨晚和宋亮梳理了一下，前后端的邀请调用关系，了解了整体业务
看了一遍目前的后端邀请的业务逻辑，很乱，需要重构并修复BUG
减少以后出现 BUG 的几率

我会按照如下方式进行
1. 梳理邀请业务逻辑
2. 补全单元测试用例
3. 重构代码，保证测试用例通过
4. 部署到测试环境，进行手工测试
5. 部署上线

[2019-03-01 02:25] georgeliuyu opened #115 "关于健康成就医生编辑添加的规则"
页面，应该是这样
![image](https://user-images.githubusercontent.com/16983441/53611981-5f23cf80-3c0b-11e9-9ff8-c32042d38a6a.png)

1、上面可以手写输入医生的名字；将来显示也是文字；（针对非小白用户）
2、下面列出曾经在我的日记中留言的小白用户（不一定需要是大白，因为大白是动态的），显示顺序按照留言时间的最近前置
3、如果没有留言的小白用户，建议加一句功能提醒广告 @nancy919 ；
4、将来显示前面要加 @运动医学专家-张强   可以点击进入医生的页面；
5、对于医生可发消息通知有人添加了他进入健康成就，这样他可以点开并收藏；
6、合并的显示结果：
![image](https://user-images.githubusercontent.com/16983441/5361

[2019-03-01 02:57] georgeliuyu commented on #115
![image](https://user-images.githubusercontent.com/16983441/53613359-d90a8780-3c10-11e9-895a-b9bde1c61a3c.png)

[2019-03-02 01:35] fushang318 opened #116 "邀请逻辑的处理确认"
来自BUG：梳理补发生命力流水，发现不存在的上级用户 ID  https://github.com/sibbay-ai/feedback/issues/114

目前小程序有四种邀请类型
1. 邀请下级
2. 邀请大白
3. 邀请小鹿
4. 把自己的记录托付给他人

### 需要确认如下逻辑
1. 邀请大白时，如果对方没有上级，是否需要让对方成为自己下级
2. 邀请大白时，如果对方是第一次使用小程序，也就是一个新用户，是否需要让对方成为自己下级
3. 邀请小鹿时，如果对方没有上级，是否需要让对方成为自己下级
4. 邀请小鹿时，如果对方是第一次使用小程序，也就是一个新用户，是否需要让对方成为自己下级
5. 把自己的记录托付给他人时，如果对方没有上级，是否需要让对方成为自己下级
6. 把自己的记录托付给他人时，如果对方是第一次使用小程序，也就是一个新用户，是否需要让对方成为自己下级

[2019-03-02 01:35] fushang318 commented on #116
@georgeliuyu @nancy919 请看一下

[2019-03-02 02:11] georgeliuyu commented on #116
对的 @fushang318
换个说法：一个没有上级的任何用户（新、旧），只要收到任何小程序卡片、二维码（包括邀请、牵金猪等等）均成为其下级

[2019-03-02 03:04] nancy919 commented on #116
和刘总的观点一样。 @fushang318

[2019-03-02 04:17] fushang318 commented on #116
好的

[2019-03-02 06:21] ben7th commented on #116
![image](https://user-images.githubusercontent.com/322486/53678220-ff0a5780-3cf6-11e9-92bb-4445c1ffb914.png)

@fushang318 @nancy919 需明确，在上述表格的后四种情况下（二维码，通知形式）建立的非上下级邀请，是否也需要同时建立上下级关系

[2019-03-02 07:04] zhaobinglong opened #117 "生命力超过一定数值时给用户生成卡片鼓励分享"
类似于：
![image](https://user-images.githubusercontent.com/8922614/53678595-65de3f80-3cfc-11e9-87ec-c60fe5894f6f.png)

[2019-03-02 12:15] nancy919 commented on #116
二维码类型需要建立关系，通知类型无需建立关系    @fushang318

[2019-03-04 01:40] georgeliuyu commented on #117
很好，建议运营和产品组织一次意见征集，出一个方案。 @nancy919 @ben7th @aixinhuang

[2019-03-04 05:21] fushang318 commented on #114
重新确定了邀请逻辑，但是需要重新梳理前端UI交互，这个由 @ben7th 梳理和设计

考虑到目前前端调用后端api 的情况比较混乱，为了先解决目前后端已经存在的bug，不被重新梳理block住
目前后端先按照如下逻辑处理
1. 先按照各种邀请情况，不额外处理上下级关系的逻辑实现
2. 补充单元测试
3. 重构代码，测试通过
4. 部署到测试环境，进行手工测试
5. 部署上线

等前端梳理好后，在重新调整，因为已经重构过代码，调整起来也会容易很多

[2019-03-04 05:39] georgeliuyu opened #119 "待处理事项：药品扫码提交到后端的信息不全"
需要提交barcode的api查询返回结果，文字即可；
barcode的本身的内容；
![image](https://user-images.githubusercontent.com/16983441/53712680-e038cc00-3e82-11e9-94c0-739562072053.png)

@fushang318

[2019-03-04 06:36] georgeliuyu opened #120 "关于症状和疾病停止跟踪，添加祝福性文字的"
当症状或疾病停止跟踪时：
恭喜您，xx已经治愈了   （条件：治愈）
xx已经停止跟踪，您想说明一下原因吗？  （条件：误诊、其他）

@fushang318 @nancy919

[2019-03-04 06:38] georgeliuyu opened #121 "互动中已经关联过的药品，不要二次提问"
![image](https://user-images.githubusercontent.com/16983441/53714916-1c702a80-3e8b-11e9-9507-a81b2a56c4bd.png)

@fushang318

[2019-03-04 06:53] georgeliuyu opened #122 "关于伴症"
伴症，不要作为症状的特征处理，而是添加独立的症状：
1、有呕吐吗？（条件：今天没有询问个这个症状，且没有在跟踪）  是的、没有、不清楚
2、严重吗？（条件：1是的） 轻微、一般、严重  （记录在历史中）
3、小白希望进一步了解一下呕吐的情况？（2：大于一般） 好的（call 呕吐的问询）、算了
4、需要小白进行跟踪吗？（条件：1是的） 好的，不用

@fushang318
@nancy919 知晓

[2019-03-04 06:59] georgeliuyu opened #123 "副作用问询"
副作用：
1、副作用仅仅针对症状进行问询；
2、不能是针对症状（也就不能是用药的目的症状）
3、问题：您认为xxx是yyy造成的副作用吗？是、不是、不清楚

@fushang318
@nancy919 @fazhen 知晓

[2019-03-04 07:42] georgeliuyu commented on #120
同时增加统计类信息：
xx疾病（症状）持续跟踪了10天，用了yy等进行治疗。

[2019-03-04 08:00] fushang318 commented on #120
停止疾病统计内容包括
1. 停止的疾病 bmesh
2. 跟踪周期的时间长短，以秒为单位
3. 进行了哪些治疗和用药
4. 停止的原因

停止症状统计内容包括
1. 停止的症状 bmesh
2. 跟踪周期的时间长短，以秒为单位
3. 进行了哪些治疗和用药
4. 停止的原因

[2019-03-04 08:26] fushang318 commented on #114
已经修复bug，并测试上线到正式环境
后续在完成 梳理后的逻辑

[2019-03-05 01:25] georgeliuyu commented on #120
@fushang318 这个应该不用统计，直接就能在跟踪数据库中取到吧。如果涉及统计要重新设计。

[2019-03-05 02:22] fushang318 commented on #120
确定需求：
统计类信息是显示给用户的
目前还不需要持久化这种统计信息，因为现有数据结构，可以表达出这些信息

[2019-03-06 02:57] fushang318 commented on #113
按照脚本逻辑统计得到的 系统回收生命力总值
要比现在系统记录的多一个数量级

[2019-03-06 03:02] fushang318 commented on #113
EnergyAccount 中  userid 000000000000000000000000 代表的系统回收生命力总值，是不确认的，因为 2019 年1月1日数据迁移时，没有清空这个表中的数值

[2019-03-06 03:04] fushang318 commented on #113
后续处理计划
1. 我来修复发现的所有bug，每个bug应该会对应一到多个数据迁移
2. 我来增加字段，简化目前关联，应该会对应数据迁移
3. 我来重新核对数据流水，能够核对上
4. 核对正确后，由 @ben7th 重新设计简化的流水数据库结构
5. 设计迁移落地方案

[2019-03-06 03:39] fushang318 commented on #113
已知bug

- [ ] 1. 邀请bug，导致一些用户的上级是一个不存在的 user https://github.com/sibbay-ai/feedback/issues/114
- [x] 2. system_pool 的 source_type 枚举值中 UNKNOWN 和 NOUSER 都是 0 https://github.com/sibbay-ai/sr-wiki/issues/534
- [x] 3. 一些 system_pool 的 sorce_type 是 REGISTOUTDATE https://github.com/sibbay-ai/data-migration/issues/91
- [ ] 4. note_value 特定值时，百分比换算可能有问题 精度问题
- [ ] 5. sym_histroy 重复 bmesh 丢失挖矿记录
- [ ] 6. sys

[2019-03-07 08:06] nancy919 commented on #112
三种处理方式，存在的问题

一、允许家人发送邀请卡片（上下级、大白小鹿）：

1. 开发工作量巨大，涉及到各种判断，因为同属于一个账号，且家人能创建多个；
2. 账号能被随时删除，且删除后下级则拥有一个不存在的上级用户；
3. 出现造假。

二、不允许家人发送邀请卡片（上下级、大白小鹿）：

1. 家人无法建立大白小鹿的关系；
2. 任何人留言都无法获得大白奖励；
3. 没有上下级关系链。

三、只允许家人发送大白小鹿邀请，

1. 存在开发量，但会小一些；
2. 没有上下级关系链。

[2019-03-07 08:11] nancy919 commented on #112
@georgeliuyu 我的建议，采取第三种

1. 家人多是为没有手机的老幼人群建立的，上下级关系并不急迫，可以暂时不考虑，以节省开发时间；
2. 家人可创建多个，容易出现造假现象；
3. 大白小鹿的建立是重要的功能；
4. 家人可以在拥有账号后，进行数据迁移，此时的账号即保留了数据，也可以建立上下级关系。

[2019-03-08 02:08] georgeliuyu commented on #112
同意：
1、家人之间、主账号和家人之间、家人和其他帐号之间均没有上下级关系；
2、家人之间、主账号和家人之间没有大白和小鹿的关系；
3、家人可以和其他帐号建立大白和小鹿的关系；
4、家人的账号可以迁出到新的微信号。

@nancy919

[2019-03-08 02:47] georgeliuyu opened #124 "生命力兑换SHT，历史列表增加地址"
![image](https://user-images.githubusercontent.com/16983441/54003821-6e1bfc00-418e-11e9-890b-39b1ac6dda68.png)

 | 数量 | 地址 | 日期 | 状态 |
| --- | --- | --- | --- |
|100|0x9ff877723Ff749ea32248727B1a8E00E35791132|2019-1-1|成功|

@ben7th

[2019-03-11 02:41] fushang318 commented on #113
一些疑问
https://github.com/sibbay-ai/cooperation-issues/issues/1684

[2019-03-11 04:11] fushang318 commented on #113
sym_feature 实现有问题

[2019-03-11 04:19] fushang318 commented on #113
treat_take 实现有问题

[2019-03-11 04:32] fushang318 commented on #113
drug_valid drug side 实现有问题

[2019-03-11 04:34] fushang318 commented on #113
treat_valid treat_side  实现有问题

[2019-03-11 05:38] fushang318 commented on #113
sym_update 有出入

[2019-03-12 05:53] georgeliuyu opened #125 "优化：建议能将公众号的文章能在互动中显示给用户。"
我们现在会有以用户使用感受的公众号文章产生，建议支持这样的文章能在每日互动中打开。

@nancy919 @ben7th

[2019-03-12 05:59] ben7th commented on #125
技术实现梳理（待完善）
https://github.com/sibbay-ai/lt-miniapp-wepy/issues/975

[2019-03-12 07:13] nancy919 opened #126 "【优化】指标波形图的速度"
用户反映指标内的波形图滑动时速度过慢，用户体验差，建议进行优化。

![11121552374880_ pic](https://user-images.githubusercontent.com/42829996/54181468-97fc5800-44d9-11e9-8d0e-7a65d3575dc3.jpg)

[2019-03-12 07:26] ben7th commented on #126
此问题的主要原因是，早期小程序引擎不支持将 canvas 放置于可滚动区域内。因此使用了捕捉屏幕触摸并重新绘图的方式实现滚动。

根据微信官方文档：
https://developers.weixin.qq.com/miniprogram/dev/component/native-component.html

基础库 2.4.4 以后，canvas 已可放置在可滚动区域内，可据此进行优化
相关工作由我来处理

[2019-03-12 07:43] ben7th commented on #126
优化思路：
- 精简绘图过程，使得每一帧的绘制加快
- 去掉不必要的计算，避免重新绘图时重新计算固定的数据
- 参考 http://web.zhaicool.net/1125.html 在小程序中实现更平滑的渲染

[2019-03-13 04:10] fushang318 commented on #120
目前的数据结构
用药监控和用药历史中记录了用药目的（也就是关联的 疾病和症状的bmesh）
治疗监控和治疗历史中记录了治疗目的（也就是关联的 疾病和症状的bmesh）

所以
要想知道
xx疾病（症状）持续跟踪了10天，用了yy等进行治疗。
这句话中的 yy
只能从这个用户现有监控中的用药和治疗去查 purpose 字段
如果用户先停止监控的用药，后停止监控疾病，那么就查不到 purpose 了

这个符合预期吗
还是数据结构设计有欠缺，需要完善？
这块的数据结构的设计比较核心和古老，我需要知道您的想法和思考

@georgeliuyu

[2019-03-14 02:56] ben7th commented on #126
@nancy919 已优化，已发体验版 1.16.21

[2019-03-14 04:21] nancy919 commented on #126
功能已验收，可以上线 @ben7th

[2019-03-14 08:24] fushang318 opened #127 "增加疾病或者症状后，触发的互动中，添加用药或者治疗的页面跳转需要优化"
### 复现方法
1. 增加一个疾病或者增加一个症状后，会触发增加事件的互动内容，进入互动页面
2. 在互动内容中，当问到是否增加用药和治疗时，选择增加，进入增加表单页面，增加完点击保存
3. 这个时候页面并没有自动退回互动页面

### 希望的结果
点击保存后，可以自动退回互动页面

[2019-03-14 08:24] fushang318 commented on #127
@zhaobinglong @ben7th

[2019-03-14 08:26] fushang318 commented on #127
补充内容：触发的RPC是
[code]

[2019-03-14 08:33] fushang318 commented on #121
以前的实现，太简单粗暴了，没有针对各种情况做针对性的文案和逻辑

梳理设计了互动的流程
https://www.processon.com/view/link/5c88dc85e4b0afc744105960

流程图中展示了 增加用药时，处理症状的逻辑
其他的
增加用药，处理疾病
增加治疗，处理疾病和症状
增加疾病，处理用药和治疗
增加症状，处理用药和治疗
都是相同结构的流程

已经按照这个设计，并且测试通过，并部署到生产环境了

[2019-03-14 08:33] fushang318 commented on #121
还发现了其他的体验问题
增加疾病或者症状时，触发互动中 如果增加用药或者治疗，填写完表单，点击保存，并不能自动退回互动页面 sibbay-ai/feedback#127

修复完这个问题后，一并验收

[2019-03-15 05:03] fushang318 commented on #123
我想确认一下逻辑，具体来说

用户监控了 drug_a 这个用药
给这个用药关联了一个疾病 treat_a，并监控这个疾病
给这个用药关联了两个症状 sym_a sym_b，并监控这两个症状

用户监控了第三个症状 sym_c

当用户停止 drug_a 监控时
互动内容为：
1. 问针对 treat_a sym_a sym_b 是否有效
2. 问 sym_c 是否是 drug_a 的副作用造成的

确认的问题：
1. 副作用的询问，不针对疾病，而是只针对如下症状吗：
关联的症状和监控的症状取 差集

2. 停止治疗的逻辑和用药同理对吧

[2019-03-15 06:19] georgeliuyu commented on #123
@fushang318
1、是的，仅仅针对症状；
准确的说是：用药期间的所有历史症状 - 关联症状
2、是的

[2019-03-15 06:20] fushang318 commented on #123
明白需求了

[2019-03-16 11:49] georgeliuyu opened #128 "【bug】医学指标添加错误"
添加值回到图表后再次进入添加出现bug
见视频：

[2e5bd0e90aaf7435b994c8d368927b89.zip](https://github.com/sibbay-ai/feedback/files/2973852/2e5bd0e90aaf7435b994c8d368927b89.zip)

[2019-03-16 11:50] georgeliuyu commented on #128
@zhaobinglong @Yidadaa

[2019-03-16 16:22] zhaobinglong commented on #127
该issue暂添加C标签，

思考：开发者添加issue的时候，可否先根据自己的判断添加一个等级标签 @fushang318

[2019-03-16 16:32] zhaobinglong commented on #124
指定开发者： @ben7th

[2019-03-16 16:42] zhaobinglong commented on #115
该版本的相关开发已完毕

[2019-03-16 16:48] zhaobinglong commented on #109
该版本开发已上线

[2019-03-16 17:03] zhaobinglong commented on #97
用户通过小程序反馈的问题，需要机器人自动把问题发布到仓库中，同时打上待分类的标签

格式：
用户ID：XXX
反馈：XXXXX
奖励SHT：2000SHT

[2019-03-16 17:08] zhaobinglong commented on #97
思考：是否可以在问题一旦得到确认后，就给与用户SHT的奖励？

因为用户主动为小白发现问题，一旦问题得到确认，其实用户的责任就已经尽到了，剩下的就是社区开发者的事情。可否在问题得到确认的时候，就给与用户生命力的奖励

@georgeliuyu @ben7th @fushang318 @nancy919

[2019-03-16 17:11] zhaobinglong opened #129 "社区统计周报"
### 本周解决：

9个

### 本周新增：

4个

### 未解决的问题：

A级: 0个
B级：3个
C级：11个
D级：9个

需要借助机器人把相关issue的链接放进来

[2019-03-18 01:31] #99 closed, assigned to fushang318

[2019-03-18 01:32] #103 closed, assigned to fushang318

[2019-03-18 01:36] fushang318 commented on #104
这个统计是有延迟的吧，和小程序用的不是一个数据？

@bqx619 你来处理吧

[2019-03-18 01:36] fushang318 commented on #110
已解决，关闭

[2019-03-18 01:36] #110 closed, assigned to fushang318

[2019-03-18 01:38] fushang318 commented on #121
@zhaobinglong 这个问题主要修改互动内容，互动内容已经修改上线了
但是要想体验完整，需要前端修改一些问题 #127

[2019-03-18 01:42] fushang318 commented on #116
@zhaobinglong
目前后端已经把逻辑修改为了 只有邀请目的是上下级时，才建立上下级关系，其他邀请都不处理上下级

后续要想实现产品确定的逻辑，需要前后端一起配合处理
目前的进度是，等待前端梳理邀请时的API调用，由 @ben7th 在梳理

[2019-03-18 01:43] fushang318 commented on #112
@zhaobinglong 这个已经由 @nancy919 梳理了功能列表
后续需要排期，前后端都要做一些调整

[2019-03-18 01:44] fushang318 commented on #120
@zhaobinglong 正在进行中

[2019-03-18 01:44] fushang318 commented on #123
@zhaobinglong 正在进行中

[2019-03-18 01:48] fushang318 commented on #114
@zhaobinglong 这个问题由来两方面造成
1. 家人可能可以邀请下级
2. 托付邀请码的处理BUG（已经修复）
3. 测试环境的 userid 成为了正式环境的上级（已经修复）

所以要等 1 问题彻底解决，1问题有另外一个ISSUE 记录了https://github.com/sibbay-ai/feedback/issues/112

[2019-03-18 01:51] fushang318 commented on #119
好的，我来确定需要调整的地方，以及协调完成，目前看起来需要修改小程序前后端和后台管理前后端，比较分散

[2019-03-18 02:21] fushang318 opened #130 "有些用户会一直登陆认证失败的问题"
来源：贡献者群，九台的反馈

### 问题排查步骤
1. 我增加了一些日志的收集，并由 九台配合完成了问题的复现
2. 针对日志我已经分析出了原因，并进行了分析，大致了解了情况，后续会进行修复

[2019-03-18 02:23] fushang318 commented on #130
九台的操作录像
[1552800669873907.mp4.zip](https://github.com/sibbay-ai/feedback/files/2976129/1552800669873907.mp4.zip)

[2019-03-18 04:46] fushang318 commented on #130
相关 sentry http://sentry.xiaowhite.com/sentry/user-service/issues/5395/

[2019-03-18 07:14] georgeliuyu opened #131 "【bug】这个下级生命力统计应该有误"
![image](https://user-images.githubusercontent.com/16983441/54512820-64fe0c80-4990-11e9-9303-af5b1dd2cdcc.png)

这个下级给我带来的生命力收入，应该不止这些。

@nullscc @fushang318

[2019-03-18 07:31] Yidadaa commented on #128
@georgeliuyu

已发布体验版1.16.23，请及时确认。

[2019-03-18 07:39] fushang318 commented on #131
![65281552894712_ pic_hd](https://user-images.githubusercontent.com/326242/54514050-05096500-4994-11e9-94ef-f2387d2ac751.jpg)

[2019-03-19 10:16] fushang318 commented on #131
@georgeliuyu
问题已经解决，是数据的问题
原因是
2019年1月9号之前的贡献流水数据结构和现在的不一样，应该是当时调整过需求后，后端开发没有考虑数据迁移的事情，还好可以从其他数据结构上回溯关联，已经基本上修复

=============
另外有一些特别的错误数据，本着可以补发，但是不能回扣的原则
目前不太好处理了，因为属于给用户多发的生命力，涉及数量是 168.430

详细情况如下：
2019年1月1号之前有一些 本应该被废弃的贡献者流水没有废弃，而是算成了用户的正常流水
情况如下
[code]

[2019-03-19 12:05] fushang318 commented on #131
![image](https://user-images.githubusercontent.com/326242/54604686-5c85fe80-4a82-11e9-905f-3e2328a6a2dc.png)

[2019-03-19 12:05] fushang318 commented on #131
问题已经解决

[2019-03-20 01:44] #131 closed, assigned to nobody

[2019-03-20 07:35] fushang318 commented on #96
![image](https://user-images.githubusercontent.com/326242/54663725-3a8d8a00-4b1d-11e9-96f0-b059a14c77a4.png)

[2019-03-20 07:35] fushang318 commented on #96
![image](https://user-images.githubusercontent.com/326242/54663746-46794c00-4b1d-11e9-8a9e-046a4f5a662f.png)

[2019-03-20 07:37] fushang318 commented on #96
已经可以模糊搜索了，支持拼音缩写
同义词一般会有多个，后端目前都有返回
但是前端要显示某一个同义词的话，可能比较麻烦
@ben7th @zhaobinglong 你们判断一下

[2019-03-20 07:44] fushang318 commented on #96
查询接口返回的症状数据里，有一个数组存放了这个症状的同义词
用户查询的关键词有可能命中的是同义词，而不是症状名

看刘总的需求，想达到的效果是，如果命中的是同义词，就在括弧内显示命中的那条同义词

[2019-03-20 07:48] fushang318 commented on #96
举例
颈部疼痛这个症状，它有N个同义词 （脖子痛，脖子疼）
如果用户通过 颈部 搜索到 颈部疼痛 ，那么页面条目只显示 颈部疼痛
如果用户通过 脖子痛 搜索到 颈部疼痛，那么页面条目显示 颈部疼痛（脖子痛）
如果用户通过 脖子疼 搜索到 颈部疼痛，那么页面条目显示 颈部疼痛（脖子疼）
如果用户通过 脖子 搜索到 颈部疼痛，那么页面条目显示 颈部疼痛（脖子痛，脖子疼）

[2019-03-20 07:55] fushang318 commented on #96
这个是搜索结果
[code]
synonyms 字段是这个症状的所有同义词，有 0 到 多个不等

[2019-03-20 07:56] fushang318 commented on #96
麻烦的地方在于
1. 搜索引擎没有告诉用户，是通过什么命中的
2. 关键词有可能是字母缩写，而不是单个命中的关键词

所以要想实现这个效果很麻烦，是否有必要
@ben7th @zhaobinglong

[2019-03-20 08:46] ben7th commented on #96
整理一下，举例来说：

输入 fj

返回的结果包括：
[code]

希望在前端显示 `颈部僵硬（脖子发僵）`

但现在不知道输入的搜索词命中了哪个同义词，所以数据上不易组织

-------

通过与 @fushang318  讨论，建议：
针对一个症状名称和他的 N 个同义词，在搜索引擎建立 N + 1 个索引，这样就能确定是命中了哪个同义词

[2019-03-20 10:42] #129 closed, assigned to zhaobinglong

[2019-03-20 10:42] zhaobinglong opened #132 "社区统计周报"
### 本周解决：

4个

### 本周新增：

1个

### 未解决的问题：

A级: 0个
B级：3个
C级：9个
D级：8个

### 等待分类：

2个

[2019-03-20 10:44] #101 closed, assigned to Yidadaa

[2019-03-20 10:44] #115 closed, assigned to zhaobinglong

[2019-03-20 10:45] #111 closed, assigned to zhaobinglong

[2019-03-20 10:45] #100 closed, assigned to Yidadaa

[2019-03-20 10:45] #126 closed, assigned to ben7th

[2019-03-20 10:47] #109 closed, assigned to zhaobinglong

[2019-03-20 10:47] #107 closed, assigned to zhaobinglong

[2019-03-20 10:54] zhaobinglong commented on #98
体验版收到产品反馈的意见，补充调整

[2019-03-21 02:30] fushang318 commented on #96
@ben7th 按照你的新方案修改好啦，后端相关内容已经全部改完
并且因为是兼容性修改，所以已经部署到测试，预发布和生产了，后续的工作交给前端啦

[code]

[2019-03-21 02:58] ben7th commented on #96
@fushang318 我来进行后续处理

[2019-03-21 08:27] fushang318 commented on #119
![image](https://user-images.githubusercontent.com/326242/54740393-397c5b80-4bf6-11e9-8f95-da86113d05ef.png)

[2019-03-21 08:28] fushang318 commented on #119
已经有显示了
因为 json内容字段不固定，所以显示原信息，也不图好看了吧，满足需求就行...

[2019-03-22 02:09] #119 closed, assigned to fushang318

[2019-03-23 02:36] fushang318 commented on #123
已经完成

[2019-03-23 02:36] #123 closed, assigned to fushang318

[2019-03-23 10:24] bqx619 commented on #104
经查, 人数的统计做一个说明:
下级人数指的是: 该用户的下三级人数, 并且该统计相比较小程序的统计有延迟, 小程序的实时统计, 此处的定时统计, 小程序的是传播人数.

发现了贡献生命力值有 bug, 和需求不一致, 修复此 bug

[2019-03-23 13:37] bqx619 commented on #104
![image](https://user-images.githubusercontent.com/9692149/54866827-be60a400-4db3-11e9-836b-89e6fc4912ee.png)

[2019-03-23 13:46] bqx619 commented on #104
这里的下级人数指的是 下该用户的下三级人数不是传播人数, 并且该统计相比较小程序的统计有延迟, 小程序的是实时统计, 此处的10分钟定时统计
另外发现这个字段中的贡献生命力和需求不一致以及点击无法显示详情的另外两个问题, 下午以及做出修复部署

[2019-03-24 08:07] ben7th commented on #97
此问题已修正，正进行反馈确认

[2019-03-24 08:10] ben7th commented on #108
此问题和 https://github.com/sibbay-ai/feedback/issues/97 为同一问题
已修复，正在反馈确认

[2019-03-24 08:11] ben7th commented on #130
@fushang318 是后端问题还是前端问题？

[2019-03-24 08:12] ben7th commented on #130
问题已修复，等待反馈确认

[2019-03-24 08:21] ben7th commented on #112
已进行梳理，待安排开发排期，此 issue 关闭

[2019-03-24 08:21] #112 closed, assigned to fushang318

[2019-03-24 11:30] #132 closed, assigned to nobody

[2019-03-24 11:32] zhaobinglong opened #133 "社区统计周报"
### 本周解决待确认：

5个

### 本周新增：

1个

### 未解决的问题：

A级: 0个
B级：1个
C级：8个
D级：5个

### 等待分类：

0个

[2019-03-24 11:35] zhaobinglong commented on #98
link：https://github.com/sibbay-ai/lt-miniapp-wepy/issues/1001

[2019-03-24 11:40] zhaobinglong commented on #102
该issue为新需求，转移进入需求池，由产品经理统一规划 @nancy919

[2019-03-24 11:41] zhaobinglong commented on #102
link：https://github.com/orgs/sibbay-ai/projects/39#card-19271339

[2019-03-24 11:42] #102 closed, assigned to nancy919

[2019-03-24 11:43] zhaobinglong commented on #117
新需求issue，移动进入需求池，由产品经理统一规划 @nancy919
link：https://github.com/orgs/sibbay-ai/projects/39#card-19271426

[2019-03-24 11:43] #117 closed, assigned to nobody

[2019-03-25 02:35] fushang318 commented on #130
上周一晚上已经和九台微信沟通过，他需要去固定的一个地方拿到哪个手机才能确认

[2019-03-25 02:51] fushang318 commented on #121
@ben7th 这个问题的互动部分已经修复上线了，只是在做的时候发现前端也有问题
这个是等前端改了在关闭还是开着？

[2019-03-25 02:56] bqx619 commented on #104
已解决, 已确认

解决 issue: https://github.com/sibbay-ai/sr-wiki/issues/577

[2019-03-25 05:49] georgeliuyu opened #134 "【优化】健康成就的卡片不用二维码"
不用显示二维码，应该显示有效的内容：
![image](https://user-images.githubusercontent.com/16983441/54897783-c9771980-4f04-11e9-961a-da10d8f6a686.png)

@nancy919 @ben7th

[2019-03-25 05:52] ben7th commented on #134
收到，建议由 @nancy919 确定内容调整要求

[2019-03-25 06:00] georgeliuyu opened #135 "分级响应该统计的核心"
每个issue的核心：
- 谁 ：谁在负责
- 按时完成否
- 未按时延期：协调、遗忘、未确认  （你们可以添加原因）

统计：
完成率：xx%（总数）
延期原因：协调xx%   遗忘xx%   未确认xx%   （仅仅取最大的前三个即可）
延期最多的个人：xxx，xxx

前期数量不多可以手工统计，总结经验然后逐步自动化。

@zhaobinglong @ben7th

[2019-03-25 06:01] ben7th commented on #135
收到

[2019-03-25 06:04] zhaobinglong commented on #135
好的

[2019-03-25 07:10] ben7th commented on #97
已确认，关闭

[2019-03-25 07:10] #97 closed, assigned to zhaobinglong

[2019-03-25 07:11] ben7th commented on #108
已确认，关闭

[2019-03-25 07:11] #108 closed, assigned to ben7th

[2019-03-25 07:11] ben7th commented on #128
已确认，关闭

[2019-03-25 07:11] #128 closed, assigned to Yidadaa

[2019-03-25 07:11] ben7th commented on #98
已在 2019-03-25 组织集中测试，确认，关闭

[2019-03-25 07:11] #98 closed, assigned to Yidadaa

[2019-03-25 10:19] fushang318 commented on #130
![image](https://user-images.githubusercontent.com/326242/54911959-83cd4780-4f2a-11e9-9c6b-a2e282d1737b.png)

[2019-03-25 10:19] fushang318 commented on #130
已经确认解决

[2019-03-25 10:51] #130 closed, assigned to fushang318

[2019-03-26 02:09] zhaobinglong commented on #105
今日协调社区贡献者协同测试该问题

[2019-03-26 05:27] georgeliuyu opened #136 "新版本血压chart显示故障"
![image](https://user-images.githubusercontent.com/16983441/54973467-f55cd280-4fca-11e9-9e68-681ae3695c9c.png)

 @zhaobinglong  @ben7th

[2019-03-26 05:28] georgeliuyu commented on #136
请明确责任人

[2019-03-26 05:40] ben7th commented on #136
由我来处理

这个版本中我修改过 chart 组件（为了解决日期显示重叠和拖拽缓慢等问题）
目前的问题可能是特定数据导致的显示错误，正在处理（问题范围不会很大）

------

经进一步沟通，出现问题的手机上，血压显示不正确，其他图表正常

[2019-03-26 05:41] ben7th commented on #136
经进一步观察，在我的手机上通过查看该用户的个人页面，可以正常显示血压图表。
将进一步判断是否手机兼容问题。

[2019-03-26 06:23] ben7th commented on #136
问题判断：
数据多导致图表绘图区域过大，在部分手机上出现绘图错误。

解决方案：

1. （当前措施）图表上只显示最后 30 条数据
2. （进一步措施）开发图表数据分页显示，使得图表往前拖拽时能加载更早的数据（需做交互设计和开发，建议作为 C-D 级迭代进行）

[2019-03-26 06:31] ben7th opened #137 "体验优化 - 图表拖拽时分页查看更早数据"
需求来源为解决该问题时提出：
https://github.com/sibbay-ai/feedback/issues/136

![image](https://user-images.githubusercontent.com/322486/54975887-859f1580-4fd3-11e9-913b-f43533945d94.png)

描述：
- 目前医学指标图表只显示最后 30 条数据（因更换绘图方式导致绘图区域在数据多时会很大，导致绘图错误）
- 用户拖拽图表到目前显示的最早的数据时，希望能够加载显示更早的数据
- 需要进行交互设计与开发

[2019-03-26 06:34] georgeliuyu opened #138 "备注支持多行编辑和显示"
![image](https://user-images.githubusercontent.com/16983441/54975870-76b86300-4fd3-11e9-9904-df0a40d6420a.png)

疾病、医检报告、体重、血糖、血压、症状、用药、治疗的备注均要支持多行编辑和显示

@zhaobinglong @Yidadaa @ben7th

[2019-03-26 06:34] ben7th opened #139 "体验优化 - 改善图表数轴显示取值"
需求来源：解决该 issue 时提出：
https://github.com/sibbay-ai/feedback/issues/136

![image](https://user-images.githubusercontent.com/322486/54976016-f6dec880-4fd3-11e9-9bdc-90ca778897bb.png)

描述：
- 目前图表 Y 轴数据总是从 0 开始，在显示血压图表，或其他一些数据取值远大于 0 的图表时会有较大的空白区域
- 需要优化 Y 周刻度取值，使得可以在数据符合一定分布时不从 0 开始

[2019-03-26 06:35] georgeliuyu commented on #138
@nancy919 知晓

[2019-03-26 14:07] #104 closed, assigned to fushang318

[2019-03-26 14:08] ben7th commented on #121
@fushang318 前端我来处理

[2019-03-26 14:48] ben7th opened #140 "特定情况下疑似触发对没有跟踪的症状的提问"
![image](https://user-images.githubusercontent.com/322486/55006640-06cccb80-5019-11e9-8c9c-6f1252c0133a.png)

环境：
IDE 工具 + 测试环境

操作步骤：
1. 通过 RPC 添加用药
2. 因为这个用药已经添加过了，在添加用药表单提示添加失败
3. 回退到 MRI 后，出现源源不断的症状提示，这些症状都是没有跟踪的

[2019-03-26 19:49] zhaobinglong commented on #138
收到

[2019-03-26 19:52] zhaobinglong opened #141 "【疑似BUG】在概况、日记、成就列表点击分享给朋友，标题都是显示XXX的健康记录日记"
我觉得这里需要优化一下，
分享概况，标题为：XXX的健康概况
分享日记，标题为:   XXX的健康日记
分享成就列表，标题为：XXX达成的健康成就

@nancy919 @georgeliuyu

![image](https://user-images.githubusercontent.com/8922614/55028687-4a3c2f80-5043-11e9-8f39-45908810e39f.png)

![image](https://user-images.githubusercontent.com/8922614/55028817-a1420480-5043-11e9-8ee2-39911afcfa8d.png)

[2019-03-27 02:22] zhaobinglong opened #142 "【A级】健康成就卡片在动态中消失了"
from：微信用户-九台
![image](https://user-images.githubusercontent.com/8922614/55045847-5d1e2680-507a-11e9-8748-fc064314ffca.png)

[2019-03-27 02:25] zhaobinglong commented on #142
已协调后端确认该问题的存在，确认为A级bug，指派 @fushang318 为开发者

[2019-03-27 02:34] zhaobinglong commented on #141
已经和产品经理沟通，这里暂时不改，保持原样

[2019-03-27 02:34] #141 closed, assigned to nobody

[2019-03-27 02:47] ben7th opened #143 "每日互动中重复提示收取气泡"
![image](https://user-images.githubusercontent.com/322486/55046799-ade34e80-507d-11e9-9097-029468438719.png)

环境：
开发 IDE + 测试环境

如图，在红圈的位置，两次提示收取气泡。气泡面板会出来两次。体验上比较冗余

[2019-03-27 04:29] fushang318 commented on #142
已经修复部署到生产，我这里测试可以了，你看看 @zhaobinglong

[2019-03-27 05:18] ben7th opened #144 "添加已跟踪的治疗时，没有明显的提示"
![image](https://user-images.githubusercontent.com/322486/55052100-a5e1d980-5092-11e9-9faf-b22484f3a796.png)
![image](https://user-images.githubusercontent.com/322486/55052142-cad64c80-5092-11e9-9005-2d55b25af245.png)

API 请求结果有错误提示，但前端无视觉提示

[2019-03-27 05:42] zhaobinglong commented on #142
![image](https://user-images.githubusercontent.com/8922614/55053099-150cfd00-5096-11e9-90c3-806b210f3557.png)

[2019-03-27 05:42] zhaobinglong commented on #142
开发者自行验收用户的日记主页，问题解决

[2019-03-27 05:44] #142 closed, assigned to fushang318

[2019-03-27 05:53] ben7th opened #145 "添加已跟踪的用药时，提示不对"
![image](https://user-images.githubusercontent.com/322486/55053600-b2b4fc00-5097-11e9-898a-2f1359fcd834.png)

![image](https://user-images.githubusercontent.com/322486/55053624-bcd6fa80-5097-11e9-97b9-0a72789a60b8.png)

提示为网络错误，这是不对的

[2019-03-27 06:00] ben7th commented on #140
还会有关于“None”的提问

![image](https://user-images.githubusercontent.com/322486/55053899-b39a5d80-5098-11e9-9aea-5b23fa26c5d8.png)

[2019-03-27 06:01] #136 closed, assigned to ben7th

[2019-03-27 07:34] fushang318 commented on #140
已经解决部署

[2019-03-27 07:49] fushang318 commented on #121
已经修改为如下体验
1. 增加疾病，触发互动，询问关联用药和治疗，增加完成后
2. 会触发刚才增加的用药和治疗的互动，但是不会重复询问双方已经建立过关系的问题

[2019-03-27 07:49] fushang318 commented on #127
确认已经OK

[2019-03-27 09:05] ben7th opened #146 "添加疾病时选择医院，没有传 gps 的 {x, y} 数据"
![image](https://user-images.githubusercontent.com/322486/55063241-85c21280-50b2-11e9-961e-939a3f62164c.png)

[2019-03-27 09:07] ben7th opened #147 "需要统一所有包含 gps 信息的数据获取的实现方式"
目前，gps 数据存在以下方式或问题：
- 有的数据获取是由前端获取传给后端的
- 有的数据获取是由后端根据地址字符串查询第三方服务得到的
- 有的应有 gps 的数据记录没有正确传入（前端）或正确处理保存（后端）gps

上述问题应做统一梳理，并安排统一实现

[2019-03-27 09:19] zhaobinglong commented on #105
经过协同测试，目前的版本中已经不存在这个问题了，协调微信用户确认该问题的解决

[2019-03-27 11:20] #133 closed, assigned to nobody

[2019-03-27 11:27] zhaobinglong opened #148 "快速迭代制度执行统计"
本周已解决：
A级：2个
#142
#136

本周新增：
12个

延期的问题：
A级: 0个
B级：2个（待确认）
C级：5个（三个待确认，两个未解决）
D级：5个

完成率：待统计
延期原因：
未确认：41%
其他：59%

[2019-03-28 04:47] ben7th opened #149 "邀请卡界面没有显示二维码预览"
![image](https://user-images.githubusercontent.com/322486/55130924-a2645600-5157-11e9-84e7-a33daa39d533.png)

如图，应该显示二维码yu'lan预览，但没有显示

[2019-03-29 04:36] nancy919 opened #150 "【需求】健康成就分享链接"
1.  新增 健康成就分享卡片上下级建立逻辑；
2. 新增 健康成就分享图片增加个人推广二维码；

[2019-03-29 04:39] nancy919 opened #151 "【需求】发起邀请者申请成功提醒"
需求链接：https://shimo.im/docs/T5CAtnpYD0c2tLGv

from：https://github.com/sibbay-ai/lt-miniapp-wepy/issues/969

[2019-03-29 04:42] nancy919 opened #152 "【需求】下级贡献者在明细中的显示"
需求链接：https://shimo.im/docs/QXKi3r4oCqoZUEf7

[2019-03-29 04:44] nancy919 opened #153 "【需求】完善家人授权在多种情况下的托付申请"
需求链接：https://shimo.im/docs/ESTyZb0LjtAYDkrT

[2019-03-29 04:49] nancy919 opened #154 "【需求】账号在家人状态下的显示和对应功能"
需求链接：https://shimo.im/docs/Fsv4CzrRkO43XpKM

引用issue：https://github.com/sibbay-ai/feedback/issues/112#issuecomment-470776551

[2019-03-29 04:52] nancy919 opened #155 "【需求】为用户提供多种互动选择"
来源：用户反馈，在互动过程中，出现无法自主结束对话的交互

目的：为用户提供多种互动选择

需求：

新增 当用户在互动窗口点击“写日记”功能时，增加【再想想】选择，点击【再想想】返回到上一步；
新增 当用户在互动窗口点击“给小白一些建议”功能时，增加【再想想】选择，点击【再想想】返回到上一步；
新增 将互动对话的输入框改为多行显示。

[2019-03-29 05:43] ben7th opened #156 "优化 - 在更多情况下上传记步数据"
来源：
微信群反馈 - 目前需要先访问一次记录页面，才能上传当日的记步数据。需要进行优化，使得记步数据在更多情况下能正确上传。

[2019-03-29 08:51] georgeliuyu opened #157 "feed流中上次添加的评论文字，不应该在下一次出现"
![image](https://user-images.githubusercontent.com/16983441/55220691-c781c300-5242-11e9-844f-12ff0b622113.png)

应该是发送就删除了。而不是一直记着。

@ben7th @zhaobinglong @Yidadaa

[2019-03-29 08:55] fushang318 commented on #113
@nancy919
经过对历史数据进行筛选，发现只有两个流水出现了 计算精度问题，理论上需要给这两个用户每人补发 1 个生命力

昵称: 榕 上级昵称：朱至诚 上上级昵称：刘宇@小白健康  上上上级：Vivian
昵称: Cathy☕️ 上级昵称：Nature.C 上上级昵称：carrie  上上上级：Vivian

[2019-03-29 09:03] nancy919 commented on #113
@fushang318 涉及人员和生命力都很小，建议直接补发到生命力总数

[2019-03-29 17:03] zhaobinglong commented on #157
收到

[2019-03-30 01:22] fushang318 commented on #113
发现新的问题
回收没有大白生命力定时任务时间设置错误，导致没有大白生命力的系统回收生命力流水有问题，不影响用户，但是需要重新计算迁移数据
![image](https://user-images.githubusercontent.com/326242/55269389-68b55b80-52cd-11e9-8d8d-bcf3ea3bc3ad.png)

[2019-03-31 02:25] georgeliuyu opened #158 "健康成就编辑多个bug，日记只能保存一次载入的！！！"
原来是19日：
![image](https://user-images.githubusercontent.com/16983441/55283896-d5e4f180-539e-11e9-9b83-ab338c135a06.png)
打开编辑后，什么都不干编程了21日
![image](https://user-images.githubusercontent.com/16983441/55283913-088eea00-539f-11e9-87b3-4218aafa9466.png)

原因第一次load的标记正确，上拉出来的日记就没有了
@zhaobinglong @ben7th

[2019-03-31 02:33] georgeliuyu opened #159 "健康成就多个bug，疾病和症状出错！！！"
视频
14s处已经修改为：头屑和头皮瘙痒
![image](https://user-images.githubusercontent.com/16983441/55283970-0b3e0f00-53a0-11e9-94f3-366a0e85ceb2.png)
然后经过编辑，且修改日记（下啦）就变化了。
![image](https://user-images.githubusercontent.com/16983441/55283983-59531280-53a0-11e9-93ff-6e5e1943cddc.png)

@zhaobinglong @ben7th

[2019-03-31 02:37] georgeliuyu opened #160 "健康成就修改，编辑不要支持点击进入下一级日记！"
点击选择日记，很容易碰到下面。造成干扰
![image](https://user-images.githubusercontent.com/16983441/55284011-cff01000-53a0-11e9-9a08-d57430924de3.png)

@zhaobinglong @ben7th
@nancy919 这个你要注意设计这样的细节。

[2019-03-31 02:42] georgeliuyu opened #161 "健康成就编辑改进：增加相应的文字显示！"
![image](https://user-images.githubusercontent.com/16983441/55284039-6f150780-53a1-11e9-9ff9-a583b9e39271.png)
疾病、症状、指标、用药、治疗均在后面显示已经选择过得文字；
日记后面显示起始和结束日期。

@zhaobinglong @ben7th

[2019-03-31 02:46] georgeliuyu commented on #159
注意疾病也会出错

[2019-03-31 05:25] zhaobinglong commented on #161
![image](https://user-images.githubusercontent.com/8922614/55285140-49472d00-53b8-11e9-8fdf-843e663cc9ee.png)

[2019-03-31 05:26] zhaobinglong commented on #160
![image](https://user-images.githubusercontent.com/8922614/55285159-99be8a80-53b8-11e9-8094-c5328de00251.png)

[2019-03-31 05:27] zhaobinglong commented on #159
![image](https://user-images.githubusercontent.com/8922614/55285164-b064e180-53b8-11e9-96af-acced2058a95.png)

[2019-03-31 05:28] zhaobinglong commented on #158
![image](https://user-images.githubusercontent.com/8922614/55285169-c70b3880-53b8-11e9-86fd-275d4225d3b4.png)

[2019-03-31 05:28] zhaobinglong commented on #106
![image](https://user-images.githubusercontent.com/8922614/55285179-e5713400-53b8-11e9-89b6-0b3eeaca0d6c.png)

[2019-03-31 05:29] #106 closed, assigned to zhaobinglong

[2019-03-31 05:29] #161 closed, assigned to nobody

[2019-03-31 05:29] #160 closed, assigned to nobody

[2019-03-31 05:29] #159 closed, assigned to nobody

[2019-03-31 05:29] #158 closed, assigned to nobody

[2019-03-31 11:28] #148 closed, assigned to nobody

[2019-03-31 11:28] zhaobinglong opened #162 "快速迭代制度执行计划统计"
## 本周已解决：
A级：2个
B级：4个

## 本周新增：
25个

## 延期的问题：
A级: 0个
B级：1个
C级：4个
D级：5个

## 延期issue处理：
@zhaobinglong  1个
@ben7th  3个
@fushang318 6个

[2019-03-31 13:38] zhaobinglong commented on #134
link：https://github.com/sibbay-ai/lt-miniapp-wepy/issues/970

[2019-03-31 13:39] #162 closed, assigned to nobody

[2019-04-01 01:55] georgeliuyu opened #163 "mri：疾病、症状治愈以后，提示进入健康成就的界面"
1、针对疾病和症状；
2、结束时，如果是“治疗，痊愈”或者是“未治疗，痊愈”
3、在这个互动的结束前，询问：
“您是否想总结一下治疗过程，写一篇健康成就？”   好的（跳转到健康成就的创建） 以后再说

@fushang318

[2019-04-01 02:11] georgeliuyu opened #164 "mri：健健康成绩的关联显示"
1、有用户撰写了健康成绩：
凡是有这个疾病、或者症状的其他用户，均会在每日互动中（症状问询结束），心情问询之前。
“小白提示：有患有xx，xx（可能多个疾病或症状相同）的小鹿，已治愈并发布了一个健康成就？”   “去看看”（跳转到该健康成就）   “算了”

2、有用户添加新的症状或者疾病
在添加互动的最后，询问？
“小白提示：曾经患有xx的小鹿，治愈并发布过一个健康成就？”   “去看看”（跳转到该健康成就）   “算了”

3、关于匹配规则
症状：ID 相同
疾病：icd10-a15.053  仅仅比较小数点前的id相同即可， 规则：icd10-a15.*
注：疾病显示健康成就的疾病名，而不是当前用户的

4、选择规则
下面安顺序优先
- 只有有一个匹配即成立。
- 匹配个数越多的越优先。
- 疾病优先于症状

@fushang318
@nancy919 @ben7th 知晓

[2019-04-01 02:25] fushang318 commented on #163
@ben7th
我需要前端提供一个可以 RPC 跳转到 健康成就创建页面
[code]
单纯的页面跳转，不需要支持参数

[2019-04-01 02:29] fushang318 commented on #164
疾病显示健康成就的疾病名，而不是当前用户的  是什么意思

[2019-04-01 02:36] zhaobinglong commented on #105
经过测试，发现用户账号下面的大白存在消息存在异常 @fushang318
![image](https://user-images.githubusercontent.com/8922614/55300438-05acfb80-546a-11e9-9220-1e2c7bad2b43.png)

[2019-04-01 02:45] georgeliuyu commented on #164
例如：使用者的疾病是A15.001（名称：xxx)  而匹配的是健康成绩的疾病是：A15.002(名称是：yyy）
那么显示的是：yyy @fushang318

[2019-04-01 02:57] zhaobinglong commented on #105
与后端协调发现是因为部分用户删除了自己的评论但是通知消息还在，从而导致了这个问题，现在由 @fushang318 负责处理这个问题

[2019-04-01 02:59] fushang318 commented on #164
@ben7th
我需要前端提供一个可以 RPC 跳转到 某一条健康成就
[code]
参数是 健康成就的 id

[2019-04-01 03:10] #140 closed, assigned to fushang318

[2019-04-01 05:12] fushang318 commented on #105
已经处理好，我来联系刘总确认

[2019-04-01 05:53] fushang318 commented on #105
![image](https://user-images.githubusercontent.com/326242/55306089-7877a000-5485-11e9-830b-b9c92de95e2e.png)

[2019-04-01 05:53] #105 closed, assigned to fushang318

[2019-04-01 06:28] #127 closed, assigned to fushang318

[2019-04-01 06:40] zhaobinglong opened #165 "【逻辑矛盾】关注和小鹿关系的建立存在冲突"
情况一：用户A关注用户B后，再邀请用户B做自己的小鹿，正常
情况二：用户A邀请用户B做自己的小鹿，再去关注用户B，提示不能关注已经监督的人

@nancy919

[2019-04-01 06:49] nancy919 commented on #165
@zhaobinglong 用户b成为用户a的小鹿后，用户a仍能关注用户b，只是不再在feed流里显示关注按钮。

[2019-04-01 07:28] nancy919 commented on #134
收到

[2019-04-01 07:54] fushang318 commented on #116
目前需求已经梳理清楚 https://shimo.im/sheets/RYRA828Ts4kasVT4/MODOC

后续由 @zhaobinglong 梳理前端调用关系
我来实现后端API

[2019-04-01 07:57] fushang318 commented on #116
目前的结论是
对所有邀请关系的处理，后端提供两个API
1. 处理大白，小鹿，托付，上下级等类型邀请的一个API，参数是一个邀请码
2. 处理上下级关系，参数是上级 userid

原有的登录接口不在提供处理邀请码的逻辑

[2019-04-01 08:01] fushang318 commented on #116
处理大白，小鹿，托付，上下级等类型邀请的一个API，参数是一个邀请码

设计如下
[code]

invite_code 格式介绍
[code]

[2019-04-01 08:03] fushang318 commented on #116
处理上下级关系，参数是上级 userid

设计如下
[code]

如果当前用户没有上级，就处理关系，如果当前用户已经有上级，这个API什么都不做，直接返回200

[2019-04-02 02:55] fushang318 commented on #116
和 宋亮讨论后的结果如下

1. 后端只提供一个API，处理上下级，大白，小鹿，托付关系，我们叫做 邀请码处理API
2. 登录接口的处理邀请码逻辑去掉

**不提供专门的上下级处理API，上下级处理调用邀请码处理API即可**

邀请码处理API  设计如下
[code]

邀请码格式如下
[code]

[2019-04-02 03:53] nancy919 opened #166 "首次互动的文案调整"
修改所有涉及“新年”等的互动文案。

互动链接：https://www.processon.com/view/link/5c3d6580e4b025fe7c7d8d10

[2019-04-02 03:55] nancy919 commented on #166
@fushang318

[2019-04-02 04:35] fushang318 commented on #166
已经修改，并且部署到了生产环境和测试环境

[2019-04-02 05:06] nancy919 commented on #134
需求：去掉二维码及“长按了解我的治疗过程”文案

[2019-04-02 08:25] zhaobinglong opened #167 "医学指标列表没有返回最新一条的备注时间和记录"
接口：event.app.func.medindex_ing.list

如图：该指标我在2019年4月2日添加了记录，但是列表这里还是显示的以前的记录

![image](https://user-images.githubusercontent.com/8922614/55387332-d24e9780-5563-11e9-9626-fb1dbc981c78.png)

[2019-04-02 08:28] fushang318 commented on #121
![image](https://user-images.githubusercontent.com/326242/55387649-6587cd00-5564-11e9-92d2-d4a7b677a8ec.png)

[2019-04-02 08:29] #121 closed, assigned to fushang318

[2019-04-02 08:40] zhaobinglong commented on #165
指派 @fushang318 ，取消对成为小鹿后不能关注的限制

[2019-04-02 10:21] zhaobinglong commented on #138
![image](https://user-images.githubusercontent.com/8922614/55395417-18abf280-5574-11e9-94c2-ed772daf4618.png)

[2019-04-02 10:21] #138 closed, assigned to zhaobinglong

[2019-04-02 10:29] zhaobinglong commented on #134
该issue指派 李飞，由后端更新图片

[2019-04-02 10:48] nancy919 commented on #166
已验收

[2019-04-02 18:59] ben7th commented on #122
@fushang318 这个如何处理？

[2019-04-02 19:08] ben7th opened #168 "症状同义词前端处理"
来源：
https://github.com/sibbay-ai/feedback/issues/96

任务：
- 根据调整后的数据结构，调整前端症状搜索时的显示

[2019-04-02 19:08] #96 closed, assigned to fushang318

[2019-04-03 05:10] #166 closed, assigned to fushang318

[2019-04-03 05:19] fushang318 commented on #134
图片分享的图片
![222](https://user-images.githubusercontent.com/326242/55454620-1d73b380-5613-11e9-8af4-f32922758052.png)

[2019-04-03 05:19] fushang318 commented on #134
卡片分享的图片
![111](https://user-images.githubusercontent.com/326242/55454627-28c6df00-5613-11e9-945d-2b8d6bf59fab.png)

[2019-04-03 05:50] fushang318 commented on #163
已经实现并部署好，已经发布到测试和生产环境

[2019-04-03 05:51] fushang318 commented on #134
已经修改好，部署到测试环境了，可以使用测试环境验收

[2019-04-03 05:59] nancy919 commented on #134
已验收

[2019-04-03 06:11] fushang318 commented on #163
![image](https://user-images.githubusercontent.com/326242/55456676-49defe00-561a-11e9-97cf-2a19a46ee266.png)

[2019-04-03 06:11] #163 closed, assigned to fushang318

[2019-04-03 06:11] fushang318 commented on #120
![image](https://user-images.githubusercontent.com/326242/55456732-5a8f7400-561a-11e9-8785-1cca3ed535aa.png)

[2019-04-03 06:11] #120 closed, assigned to fushang318

[2019-04-03 06:31] #134 closed, assigned to fushang318

[2019-04-03 06:42] fushang318 commented on #122
关于第三点有一些疑问
贾老师写的这些互动内容，我们叫做 症状询问互动
系统的增加症状事件触发的互动，我们叫做 增加症状互动

1. 用户增加症状A 触发 增加症状互动
2. 增加症状互动中，发现症状A 有 设计好的 症状询问互动，那么就会触发 症状A 的 症状询问互动
3.  症状询问互动中会询问伴症B的情况，如果伴症B存在症状询问互动（并且用户选择了是的），那么会级联触发伴症B的症状询问互动，那么有可能伴症B中有伴症C，是否一直级联触发下去 症状询问互动

[2019-04-03 06:44] nancy919 commented on #167
确认是个bug，医学指标列表应返回最新一条的备注时间和记录

 @zhaobinglong

[2019-04-03 07:34] fushang318 commented on #167
数据结构有问题，需要前后端一起设计好，再修改

[2019-04-03 08:52] fushang318 commented on #165
@zhaobinglong 确认一下问题

1. 关注按钮是否显示，这个需要后端提供哪些API接口，或者说，需要后端在目前的情况下，做哪些修改
2. 既然已经不显示关注按钮，那么调用API可不可以关注有什么关系呢（正常情况下，用户不会再会调用到关注API吧，因为已经没有按钮了）
3. 南希的意思应该是，大白和小鹿可以有关注和被关注关系，只是当成为小鹿后，不在显示这个按钮了吧

所以我们要做的是不是
1. 前端针对自己的小鹿不在显示关注按钮即可

[2019-04-04 01:46] zhaobinglong commented on #165
产品确认的逻辑是：

1.  A用户成为B用户的小鹿，B仍然可以关注A
2. A用户成为B用户的小鹿，feed流中不显示关注按钮

目前我们的feed流，在成为小鹿关系后，本身就不会再显示关注按钮，而是在个人的健康概况页面，依然会显示关注按钮
![image](https://user-images.githubusercontent.com/8922614/55524240-35087600-56bf-11e9-9bb4-21462a99c4cf.png)

所以后端需要做的变更就一条：

1.  当用户A成为用户B的小鹿后，用户B再调用接口关注用户A，接口调用成功即可

[2019-04-04 02:02] georgeliuyu opened #169 "chart 日期和数据不对应"
![image](https://user-images.githubusercontent.com/16983441/55524653-a4cb3080-56c0-11e9-9de3-c53dcb7b1e4b.png)

体重、血糖、医学指标是否也有这样的问题，请确认？

@ben7th @zhaobinglong

[2019-04-04 02:07] ben7th commented on #169
可能是上次修改显示 bug 引发的问题，具体我来处理

[2019-04-04 02:24] georgeliuyu opened #170 "ms管理界面增加，发送消息的按钮"
1、![image](https://user-images.githubusercontent.com/16983441/55525523-eb6e5a00-56c3-11e9-8e86-1c3d3959bf5a.png)
在所有点击查看后的用户id，后面增加一个按钮，可以直接给用发送文字信息。（用户附加功能中的定向功能）
![image](https://user-images.githubusercontent.com/16983441/55525577-2f615f00-56c4-11e9-8e5b-9c9d5ca96a09.png)
仅仅填文字即可。
2、同时定向功能的uri，给定默认值
![image](https://user-images.githubusercontent.com/16983441/55525802-10170180-56c5-11e9-9b2e-6b78

[2019-04-04 02:36] nancy919 opened #171 "【需求】女性生理全周期互动脚本设计"
相关设计内容：

初始：https://www.processon.com/view/link/5c998e05e4b07103434aad4c
例假中：https://www.processon.com/view/link/5ca2c0f5e4b06765f081b5e0
前一周：https://www.processon.com/view/link/5ca3025ae4b035b243bf0f5d
后一周：https://www.processon.com/view/link/5ca2d132e4b029f6dae37694
排卵期：https://www.processon.com/view/link/5ca2c102e4b034408de988c1
怀孕中：https://www.processon.com/view/link/5ca2d152e4b00f8893f1ae1a
哺乳

[2019-04-04 02:38] nancy919 commented on #171
补充：

1. 触发初始互动条件：女，12-60岁（含）；
2. 一旦“闭经”设置为无，则关闭整个经期互动；
3. 任何时候关闭经期互动后，在症状内添加“例假”“怀孕”“哺乳期”“经期出血”都将重新触发经期互动。

[2019-04-04 03:15] nancy919 opened #172 "【需求】增加大白语音留言功能"
### **主要功能**

1、增加大白语音留言功能
2、功能支持语音转文字、语音保留
3、支持文字编辑

prd文档链接：https://shimo.im/docs/rWdkwoMPhIIcXfJs

[2019-04-04 03:21] nancy919 commented on #172
建议开发工作是在不影响惊蛰计划和快速响应的情况下完成。

也可以考虑找第三方团队完成。

@ben7th

[2019-04-04 04:54] fushang318 commented on #170
![image](https://user-images.githubusercontent.com/326242/55530419-b28cb000-56d8-11e9-8c01-9916acb156db.png)
![image](https://user-images.githubusercontent.com/326242/55530429-b91b2780-56d8-11e9-8516-5a1908e434e3.png)

[2019-04-04 04:57] fushang318 commented on #170
@bqx619
需要后台管理前端实现页面跳转的功能，跳转后，自动填写好如下内容
1. userid
2. bunch_uri mri.func.note.insert.normal
3. 代码编辑器内，自动填写一个示例字符串 "我是互动消息正文"

[2019-04-04 05:03] bqx619 commented on #170
@fushang318

只需要在`待处理管理`中的查看里面的 userid 后面加一个按钮实现跳转功能, 同时跳转页面内容默认就可以了是吗？

[2019-04-04 05:45] ben7th opened #173 "经期管理状态机设计 review + 开发"
目的：
- 获取经期管理相关的业务需求和设计文档等资源
- 根据以上内容为经期管理的业务逻辑相关的状态机做设计 review
- 根据确定后的状态机设计进行开发

[2019-04-04 05:46] ben7th commented on #173
需要 @fushang318 @nancy919 提供现有的以下内容：

- 目前的状态机设计文档
- 目前的业务逻辑描述文档
- 目前的互动对话设计
- 其他可能的文档

[2019-04-04 05:54] fushang318 commented on #173
目前的状态机设计文档
https://www.processon.com/view/link/5ca56d4ee4b071e8c544c920

目前的业务逻辑描述文档 应该没有
业务描述分两种内容
1. 状态迁移的逻辑，这个在状态机图中 说明了
2. 互动内容，这个后续由 南希 给出

[2019-04-04 05:57] ben7th commented on #172
@Yidadaa 可以结合之前的调研结果来考虑是否由你来开发

[2019-04-04 05:58] fushang318 commented on #173
其他可能的文档
刘总整理了一遍状态机图和互动内容，并给了一些建议和要求
https://github.com/sibbay-ai/cooperation-issues/issues/1778

[2019-04-04 06:00] nancy919 commented on #173
相关设计内容：

初始：https://www.processon.com/view/link/5c998e05e4b07103434aad4c
例假中：https://www.processon.com/view/link/5ca2c0f5e4b06765f081b5e0
前一周：https://www.processon.com/view/link/5ca3025ae4b035b243bf0f5d
后一周：https://www.processon.com/view/link/5ca2d132e4b029f6dae37694
排卵期：https://www.processon.com/view/link/5ca2c102e4b034408de988c1
怀孕中：https://www.processon.com/view/link/5ca2d152e4b00f8893f1ae1a
哺乳

[2019-04-04 06:01] nancy919 commented on #173
补充：

触发初始互动条件：女，12-60岁（含）；
一旦“闭经”设置为无，则关闭整个经期互动；
任何时候关闭经期互动后，在症状内添加“例假”“怀孕”“哺乳期”“经期出血”都将重新触发经期互动。

[2019-04-04 06:15] fushang318 commented on #165
讨论后决定，有南希整体梳理一个各种角色关系情况下，关注按钮是否显示的 需求矩阵
然后前后端开发再整体修改

[2019-04-04 06:15] #165 closed, assigned to fushang318

[2019-04-04 06:46] fushang318 commented on #167
@zhaobinglong 经过讨论
event.app.func.medindex_ing.list api 增加两个字段
1.  last_date
2. last_remark

已经修改部署到测试环境

[2019-04-04 07:05] bqx619 commented on #170
@georgeliuyu 已经部署正式环境, 强制刷新浏览器缓存后可验收

[2019-04-04 08:00] #167 closed, assigned to fushang318

[2019-04-04 09:47] fushang318 commented on #122
1、有呕吐吗？
2、呕吐严重吗？
3、小白希望进一步了解一下呕吐的情况？
4、需要小白进行呕吐的跟踪吗？

[2019-04-04 13:44] bqx619 commented on #170
@fushang318 需求理解不一致, 经过核对, 此处为两个实现

1. 发送消息处为直接添加弹窗, 点击发送
2. 定向功能处的 uri 给定默认值

[2019-04-04 13:45] ben7th commented on #169
已在正式版修正并确认解决，此 issue 关闭

[2019-04-04 13:45] #169 closed, assigned to ben7th

[2019-04-05 05:04] nancy919 opened #174 "【需求】梳理小白所有关注的业务逻辑"
梳理小白所有关系下【关注】按钮的业务逻辑

相关文档：https://shimo.im/sheets/Ekr6WWi41XMOZU4N/

[2019-04-05 05:11] nancy919 commented on #174
文档内容补充：

只要页面中显示有按钮，即可对按钮进行操作，不存在无法操作等提示。

关注按钮：可建立关注关系
已关注按钮：可取消关注关系
互关按钮：可取消关注关系

[2019-04-05 09:16] fushang318 commented on #122
[code]

以上这些症状有医学问询互动

[2019-04-05 09:38] nancy919 opened #175 "【需求】小白所有右上角分享的业务逻辑梳理"
梳理小白所有关系下点击右上角【分享】按钮的业务逻辑

相关文档：https://shimo.im/sheets/etzAQ7ugXPEJtHEU/MODOC

[2019-04-05 09:51] nancy919 opened #176 "【需求】优化查看健康日记交互体验"
需求：

1. 新增   上滑健康日记时置顶切换tab栏，左右滑动可以切换页面；
2. 新增  置顶后向下滑动，滑动区域超出切换tab栏，取消置顶。

![WechatIMG66](https://user-images.githubusercontent.com/42829996/55619658-bc431000-57cb-11e9-8aaf-b443e46cb217.jpeg)

[2019-04-05 09:55] nancy919 opened #177 "【bug】健康日记医院地址显示问题"
医院地址上传后，部分用户原来上传的医院地址无法显示

![WechatIMG67](https://user-images.githubusercontent.com/42829996/55619804-117f2180-57cc-11e9-9e78-1d323463fa3a.jpeg)

[2019-04-05 09:59] nancy919 opened #178 "【bug】去掉健康成就feed流的小鹿图标"
![WechatIMG68](https://user-images.githubusercontent.com/42829996/55620071-966a3b00-57cc-11e9-8671-777484f46006.jpeg)

[2019-04-05 23:26] fushang318 commented on #116
@zhaobinglong 后端已经修改并部署到测试环境
修改的内容包括
1. 登录认证接口去掉了邀请码的处理
2. event.app.health.diary.share.picture 返回的二维码是新的格式
3. event.app.health.achievement.share.picture.v2 返回的二维码是新的格式
4. event.app.user.qr.invite.code 返回的二维码是新的格式
5. event.app.user.invite.code.get 和 event.app.user.invite.code 返回的邀请码是新的格式
6. event.app.user.relation.build.post 可以处理新的邀请码格式了（处理第三部分的上下级关系）

### 邀请码格式
[code]

[2019-04-06 08:22] fushang318 commented on #116
因为微信二维码的 sence参数最长支持为 32 位，超出了我们需要的长度
所以修改了设计，sence返回一个后端保存的数据表条目的 id
重新修改后如下

**新增新版本接口**
1. event.app.health.diary.share.picture.v2
2. event.app.health.achievement.share.picture.v3
3. event.app.user.qr.invite.code.v2

**新增接口**
1. event.app.user.wx_scene.get
[code]

**修改的内容包括**
1. 登录认证接口去掉了邀请码的处理
2. event.app.user.invite.code.get 和 event.app.user.invite.code 返回的邀请码是新的格式
3. event.app.user.relation

[2019-04-07 00:51] zhaobinglong opened #179 "体重记录删除后无法再次添加"
![image](https://user-images.githubusercontent.com/8922614/55676982-29f95400-5912-11e9-9db8-ce16cd062558.png)

from： @georgeliuyu

[2019-04-07 03:12] bqx619 commented on #170
已经实现

[2019-04-07 03:26] georgeliuyu commented on #122
@fushang318 修改一下
1、去掉级联询问；
2、每个询问的激活的开始都问问：
您小白针对“xx"做进一步了解吗？  好的  不用了

[2019-04-07 07:10] fushang318 commented on #122
![image](https://user-images.githubusercontent.com/326242/55680044-46fc4a00-5947-11e9-8e85-99ea7156ebc9.png)

[2019-04-07 07:10] #122 closed, assigned to fushang318

[2019-04-07 07:11] fushang318 commented on #179
![image](https://user-images.githubusercontent.com/326242/55680060-6bf0bd00-5947-11e9-95e4-648a526534b9.png)

[2019-04-07 07:17] fushang318 commented on #179
已经确认处理

[2019-04-07 07:17] #179 closed, assigned to fushang318

[2019-04-07 09:47] bqx619 commented on #170
![image](https://user-images.githubusercontent.com/9692149/55681810-32c34780-595d-11e9-87d3-915d17dc2164.png)

[2019-04-07 09:47] #170 closed, assigned to bqx619

[2019-04-07 12:39] fushang318 commented on #177
@nancy919 这个问题，你上次在微信群提过，当时我回复你了，可能你没有在意，
我文字说明一下

我仔细看了数据和代码
看了彭大姐的数据
1. 彭大姐创建疾病时，主动填写过医院的疾病是 18 年很早的数据
2. 目前增加体重，血压数据时是默认上传GPS地址的

以前FEED流显示的地址，大部分来自血压，体重的GPS地址，而不是用户选择的医院地址

后来有个版本，你提了一个需求，FEED流里至只显示用户选择医院的地址
当时 谢志伟做的这个需求，他和你专门确认过，我在 ZOOM 会议室还听到你们确认这个需求的讨论

[2019-04-08 01:27] nancy919 commented on #177
确认问题已解决

[2019-04-08 01:32] #177 closed, assigned to fushang318

[2019-04-08 06:25] georgeliuyu opened #180 "设计几个小白的海报模板"
风格要求：简洁、优美
要素：包含小程序二维码，小白形象和双人logo
两种尺寸：
1、900px x 383px 公众号封面
2、720px x 1280px 手机海报
做成模板放在：https://www.fotor.com.cn/   账号私信给你们
所有的文字均可以在这个上面编辑

@fangrongxaing @aixinhuang @nancy919

[2019-04-08 06:27] georgeliuyu commented on #180
注意字体用网站上的，能进行编辑

[2019-04-08 06:30] georgeliuyu commented on #180
![image](https://user-images.githubusercontent.com/16983441/55702950-c69f1d00-5a0a-11e9-866f-e098f6e3801c.png)

参考

[2019-04-09 08:05] georgeliuyu opened #181 "mri中显示网页"
已经在这个issue中提出了 https://github.com/sibbay-ai/cooperation-issues/issues/1569
@ben7th @zhaobinglong

[2019-04-09 08:10] ben7th commented on #181
@georgeliuyu

该 issue 提到的特性，前两点已经实现了：

目前有 RPC: `app.mri.open_webview`
可以传递网址作为参数（网址所在的域名必须是小程序后台配置过的）

第三点：
3、回到mri时可以回传参数
目前未实现

由于小程序的回退不支持传递参数，所以要考虑针对具体场景变通实现。
是否可以举例对应的场景需求？

[2019-04-09 08:13] georgeliuyu commented on #181
我都不记得，为什么要回传参数了。 @nancy919 你知道吗？

[2019-04-09 08:15] georgeliuyu commented on #181
好，这个issue先关闭 @ben7th 作为完成

[2019-04-09 08:21] georgeliuyu opened #182 "在mri中像微信一样显示网页"
![image](https://user-images.githubusercontent.com/16983441/55784486-43052f00-5ae3-11e9-9034-e2a597f4d2cf.png)

增加一个mri的显示type，点击后打开网页。
生成这样的图片是否有成熟的方案，没有建议外包。

@ben7th @zhaobinglong @nancy919

[2019-04-09 09:36] ben7th commented on #182
主要技术点是网页内容摘要的获取，微信的做法是需要在网页内自行声明摘要内容和图片。

由于我们只能链接自己的网址，建议采取类似做法声明摘要内容。

剩下的就是在 mri 的 UI 内组织摘要内容

由于这是一个逻辑比较简单的需求，可能没有“完整成熟方案”

[2019-04-09 10:44] zhaobinglong commented on #176
此交互方案需要前端评估，我个人不建议这么做，左右滑动的交互需要做的非常流畅才不会觉得生硬，基于目前小程序的开发环境，我觉得很难达到理想中的效果

[2019-04-09 10:50] ben7th commented on #176
@zhaobinglong 认同你的担忧。关于评估方法：建议先用另外的工程开发 demo 让南希评估和进行优化，交互体验没有任何问题时，再应用到小白项目

[2019-04-09 10:51] ben7th commented on #176
@nancy919 小程序交互开发相比于一般手机
 app 有一定技术限制。如果是其他人的小程序已经实现的效果，我们可以直接开发。若是原创的交互效果，一般要进行较严格的实验评估。

[2019-04-10 02:44] fushang318 opened #183 "更新自定义用药提交的数据格式有问题"
![image](https://user-images.githubusercontent.com/326242/55847818-709eb680-5b7d-11e9-8d09-6f460127fd92.png)
![image](https://user-images.githubusercontent.com/326242/55847836-7b594b80-5b7d-11e9-8de3-d9ad5259220a.png)

我尝试复现，没有复现出来
要不你看一眼
@zhaobinglong

[2019-04-10 03:52] georgeliuyu opened #184 "在小白的后台管理系统中增加统计信息的链接入口"
将统计信息的链接（ @bqx619 统计的mri互动，运营、生命力等等）加到后台中；
![image](https://user-images.githubusercontent.com/16983441/55850425-da6f8e00-5b86-11e9-866e-263d7e62756e.png)

@bqx619 @fushang318

[2019-04-10 04:01] bqx619 commented on #184
@georgeliuyu 看刘总的意思是想做成之前监控图表的那种嵌套网页形式, 不需要后端开发, 只需要前端链接过来就行
有个问题, 我印象中似乎目前的仪表板有 iframe 限制, 我先尝试一下

[2019-04-10 04:36] fushang318 commented on #164
每个用户的每日互动都尝试推荐一个健康成就
推荐的逻辑如下
1. 获取上次互动到当天的所有新增加的健康成就，按照健康成就关联的症状和疾病，以及用户自己的症状和疾病进行匹配
匹配一个最合适的给用户
2. 如果匹配不到就不推荐

[2019-04-10 04:37] fushang318 commented on #164
有用户添加新的症状或者疾病，推荐一个健康成就
推荐的逻辑如下
根据用户增加的疾病或者症状去匹配合适的健康成就，推荐的是匹配到的创建时间最接近现在的 健康成就

[2019-04-10 05:18] zhaobinglong commented on #157
![image](https://user-images.githubusercontent.com/8922614/55853320-2b857f00-5b93-11e9-8134-53a3bcdfcd54.png)

[2019-04-10 05:19] #157 closed, assigned to zhaobinglong

[2019-04-10 05:38] nancy919 commented on #178
已验收

[2019-04-10 05:38] zhaobinglong commented on #178
![image](https://user-images.githubusercontent.com/8922614/55853999-e7e04480-5b95-11e9-84da-bbd0be0134ab.png)

[2019-04-10 05:38] #178 closed, assigned to zhaobinglong

[2019-04-10 09:02] nancy919 commented on #143
### **三种状态会提示收取气泡：**
1、如果有生命力可以收取（显示气泡面板）
2、如果有没有到期的生命力（显示气泡面板）
3、未产生生命力（不显示气泡面板）

### **2个入口会提示收取气泡**
1、每日互动
2、【收获奖励】按钮

1、未到期的生命力显示气泡面板，是为了让用户能看到培育中的气泡及倒计时；
2、考虑到用户只会通过每日互动查看气泡信息，则以上三种提示方式都需显示；
3、【收获奖励】入口，是方便用户在任何时间都可以查看气泡信息，因此以上三种提示方式都需显示；
4、普遍情况下，用户完成每日互动后都会去点【收获奖励】，就会出现第二种状态下显示2次气泡面板，因此体验上比较冗余

假设：我们增加一个逻辑，用户完成每日互动后，立即点击【收获奖励】则不会出现气泡面板，且文案稍作调整；而当用户超过x秒后点击再【收获奖励】则互动内容保持现在的不变。那么问题就得到了解决。

@ben7

[2019-04-10 09:20] nancy919 commented on #143
我的建议，如果开发量不小可以暂时不做考虑；

或者，给出你觉得更好的方案。

[2019-04-10 12:12] ben7th commented on #143
初步建议：

按照 lark 或者小白之前做的表情互动的设计，把此类常驻功能做到一个可以独立调用的 UI 菜单中
来避免自动产生的对话流比较僵硬的问题；

[2019-04-11 04:08] bqx619 commented on #184
经过试验, 不存在 iframe 限制

[2019-04-11 07:14] zhaobinglong commented on #150
产品已在会议室确认

[2019-04-11 07:14] #150 closed, assigned to zhaobinglong

[2019-04-12 01:26] #116 closed, assigned to fushang318

[2019-04-12 01:27] #114 closed, assigned to fushang318

[2019-04-12 01:29] fushang318 commented on #114
剩余问题是：https://github.com/sibbay-ai/feedback/issues/154
所以 此 ISSUE 关闭

[2019-04-12 07:30] zhaobinglong opened #185 "概况页面指标的的添加日期没有更新"
from：https://github.com/sibbay-ai/qa-defects/issues/538

@zhaobinglong @fushang318 @nancy919

[2019-04-12 07:34] zhaobinglong commented on #176
参考：小程序最美壁纸
![image](https://user-images.githubusercontent.com/8922614/56020619-1e56c480-5d3a-11e9-8457-e5bbe476ce98.png)

[2019-04-12 07:43] zhaobinglong commented on #176
进过与产品的沟通，参考了最美壁纸小程序，该小程序实现了滑动切换效果，顶部菜单在点击后，会把当前被点击的菜单滑动到菜单中央显示，该效果实现的前提是每个菜单对应的内容必须位于同一个页面中，而在小白健康中，概况，日记，成就 ，虽然页面头部相同，但是其实是三个页面。为了实现这个效果，需要把三个页面合并成一个页面

疑惑：产品在最初的迭代中，是基于何种考虑，把这块的内容放到了三个页面中来实现？ @ben7th

合并这三个页面，开发需要1-2个size的时间， @nancy919 可决定是否重构

[2019-04-12 07:52] ben7th commented on #176
@zhaobinglong 最初的考虑包括：

1. 三个页面内容较多，全都并在一个页面不利于组件化的组织
2. 其他一些分享功能和 MRI RPC 需要跳转到这三个页面之一，因此三个页面具有单独的 url，会比较容易实现
3. 最早的版本中导航结构和现在不一样，三个页面不位于同一个导航层级，所以是单独分别开发的。

建议实现时不要遗漏上面第二点，要考虑其他功能跳转到这些页面的情况，都合并后，因为不能以 url 区分，就要以参数区分。并且其他功能要做对应修改。

[2019-04-12 08:00] #185 closed, assigned to nobody

[2019-04-13 07:12] fushang318 commented on #164
![image](https://user-images.githubusercontent.com/326242/56076039-81aa2a80-5dfe-11e9-8401-fd8e3a310b47.png)

[2019-04-13 07:12] #164 closed, assigned to fushang318

[2019-04-15 02:38] nancy919 opened #186 "【需求】优化分享健康日记及健康成就页面"
需求链接：https://shimo.im/docs/GaywYFkqnSMjGOnB

[2019-04-15 06:06] georgeliuyu opened #187 "分享图片文字修改一下"
![image](https://user-images.githubusercontent.com/16983441/56110481-38391700-5f87-11e9-99f2-def6a3bda517.png)

文字修改为：
 您好！向您推荐我正在使用的
医疗健康记录工具！

@ben7th   @zhaobinglong
@nancy919 知晓

[2019-04-15 14:18] #181 closed, assigned to ben7th

[2019-04-15 14:21] #135 closed, assigned to ben7th

[2019-04-15 15:42] ben7th commented on #124
@georgeliuyu @fushang318
已实现，请确认

![image](https://user-images.githubusercontent.com/322486/56146034-11570100-5fd8-11e9-8cb0-bafbf3e3b713.png)

[2019-04-16 06:26] zhaobinglong opened #188 "【优化】合并三个图片生成页面的建议"
目前小白在产品中有三个地方会生成待分享的图片

1. 分享健康日记
2. 分享成就
3. 分享邀请卡片

三个页面结构类似，代码逻辑机几乎一样，是否协调产品在从设计的角度合并这三个页面，减少前端的维护成本

@ben7th @nancy919 @georgeliuyu

![image](https://user-images.githubusercontent.com/8922614/55611910-84cb6800-57b9-11e9-85d9-b0dc751cb582.png)

link：https://github.com/sibbay-ai/lt-miniapp-wepy/issues/1021

[2019-04-18 06:57] fushang318 opened #189 "后台管理：需要一个可以增加药品码映射用药ID的功能"
![image](https://user-images.githubusercontent.com/326242/56342289-2b682d80-61ea-11e9-90df-510349a370c9.png)

[2019-04-18 06:59] fushang318 commented on #189
后端实现几个API
1. 分页查询 drug map 数据
2. 增加 drug map 数据 需要 药品码 和药品ID 两个数据
3. 修改 drugmap 数据，修改关联的 药品ID

[2019-04-18 06:59] fushang318 commented on #189
前端实现
1. 分页列表页面
2. 增加表单
3. 修改表单

[2019-04-19 03:24] georgeliuyu opened #190 "ms.sibbay.ai 增加一个icon"
管理系统的网页
![image](https://user-images.githubusercontent.com/16983441/56403762-7f7c1c00-6295-11e9-968c-128afbbaca30.png)
用下面这个
![108](https://user-images.githubusercontent.com/16983441/56403784-9753a000-6295-11e9-91f5-0b2056d45474.png)
@fushang318 @bqx619

[2019-04-19 07:38] georgeliuyu opened #191 "界面bug"
小Bug：即我当前在“小白”标签，点击“记录”界面切到记录瞬间又会闪到“小白”标签，必须再点一下才行。还没找到稳定重现的规律

@ben7th @zhaobinglong

[2019-04-19 09:29] georgeliuyu opened #192 "状态的统计显示优化"
![image](https://user-images.githubusercontent.com/16983441/56418104-8c663300-62c8-11e9-8134-4aa64d4d842b.png)

这个数据显示很慢，建议在本地存一个上次的数据，收到回应后再update

 @ben7th @zhaobinglong

[2019-04-19 09:33] ben7th commented on #192
@zhaobinglong 先做 localStorage 处理

后续可能还是要考察一下后端性能（按理说这个应该是能快速查询的）

[2019-04-21 08:15] zhaobinglong commented on #183
没有能够复现出来，需要更多的信息补充

[2019-04-21 08:15] #183 closed, assigned to zhaobinglong

[2019-04-21 08:16] zhaobinglong commented on #183
@fushang318

[2019-04-22 04:49] ben7th commented on #172
已通过码市发包
https://codemart.com/project/18436

[2019-04-23 02:21] zhaobinglong commented on #187
![image](https://user-images.githubusercontent.com/8922614/56547985-76e75680-65b1-11e9-9133-04e3cec3bf59.png)

[2019-04-23 02:21] #187 closed, assigned to zhaobinglong

[2019-04-23 02:21] zhaobinglong commented on #192
![image](https://user-images.githubusercontent.com/8922614/56548018-8a92bd00-65b1-11e9-95eb-fec722faf880.png)

[2019-04-23 02:21] #192 closed, assigned to zhaobinglong

[2019-04-23 02:46] #175 closed, assigned to zhaobinglong

[2019-04-23 09:46] #125 closed, assigned to ben7th

[2019-04-24 02:51] zhaobinglong opened #193 "统一生命力明细列表的的样式，跟其他列表保持一致"
目前小白中，列表样式基本都是采用的是第二张图的格式，列表组件渲染数据，生命力明细列表样式不统一，导致不能对代码重复使用，建议统一格式。主要是icon大小、边距的统一
![image](https://user-images.githubusercontent.com/8922614/56629026-a31cd900-667e-11e9-80e2-0e8700f21490.png)

@nancy919

[2019-04-24 03:35] nancy919 commented on #152
验收通过

[2019-04-24 03:39] #152 closed, assigned to ben7th

[2019-04-25 01:41] georgeliuyu commented on #184
不用frame

[2019-04-25 01:42] georgeliuyu commented on #184
就像李飞这样就可以，主要是集中和记住。
![image](https://user-images.githubusercontent.com/16983441/56704104-67e1df00-673e-11e9-9564-4c9567a25a2a.png)

@bqx619 @fushang318

[2019-04-25 01:45] fushang318 commented on #184
这个  API-geteway 也是  @bqx619 做的，就是 frame

[2019-04-25 01:46] georgeliuyu commented on #184
哦，我的意思是即使不能frame，就是弹出一个新的窗口也是可以的。

[2019-04-25 01:47] fushang318 commented on #184
好的，明白了

[2019-04-25 03:17] georgeliuyu opened #194 "mri增加一个自由的留言入口"
设计见：
http://mritools.sibbay.ai/mm/?mapurl=https://www.processon.com/view/link/5cc11c7ee4b06bcc138b0725

@fushang318
@nancy919 知晓

[2019-04-25 04:14] zhaobinglong commented on #190
![image](https://user-images.githubusercontent.com/8922614/56709411-bb125c80-6753-11e9-8955-15c8d1489849.png)

[2019-04-25 04:14] #190 closed, assigned to nobody

[2019-04-25 07:32] #137 closed, assigned to ben7th

[2019-04-26 02:07] nancy919 opened #195 "【需求】优化后台向用户直接发送互动内容的格式"
要求：

1、支持连续发多个泡泡；
2、支持在任意对话内容结束后设置用户选项；
3、支持可编辑用户选项内容；
4、支持用户选择选项后，继续互动对话；
5、支持换行。

@fushang318

[2019-04-26 06:00] #144 closed, assigned to ben7th

[2019-04-26 07:00] #145 closed, assigned to ben7th

[2019-04-26 10:00] #146 closed, assigned to ben7th

[2019-04-27 01:47] fushang318 commented on #194
已经开发完成，部署到测试环境

[2019-04-27 01:49] fushang318 commented on #195
已经开发完，部署到测试环境，我可以zoom 进行演示

[2019-04-27 05:59] #149 closed, assigned to ben7th

[2019-04-28 07:07] #156 closed, assigned to ben7th

[2019-04-28 07:44] fushang318 commented on #194
![image](https://user-images.githubusercontent.com/326242/56860744-8b21be00-69cc-11e9-94d4-d9031ec863cc.png)

[2019-04-28 07:45] fushang318 commented on #194
已经部署到生产并验收

[2019-04-28 07:45] #194 closed, assigned to fushang318

[2019-04-28 12:41] zhaobinglong opened #196 "提议给予参与经期管理内测的用户生命力奖励"
给参与内测的用户一定数值的生命力奖励，在生命力明细列表中增加一种类型，添加一个内测的icon，即是奖励，也是一种参与小白的荣誉，类似2019签金猪活动的奖励。
![image](https://user-images.githubusercontent.com/8922614/56864509-d603fb80-69f5-11e9-8e76-624cac2d9fbf.png)

@nancy919 @georgeliuyu

[2019-04-29 02:21] #113 closed, assigned to fushang318

[2019-04-29 05:22] zhaobinglong opened #197 "提议根据小白卡通形象设计一款小白健康页面加载中的icon"
参考：每日优鲜小程序
![image](https://user-images.githubusercontent.com/8922614/56877590-b87c7380-6a81-11e9-8416-353f9eb209e4.png)

@nancy919 @ben7th @georgeliuyu

[2019-04-29 06:40] fushang318 commented on #189
拆分的可能不合理，需要重新拆分前后端需要实现的内容

[2019-04-29 07:27] bqx619 commented on #184
已经增加在了监控门户下面, 命名为 **运营统计门户**, 查看权限名称也为 **运营统计门户**, 代码 OP_STAT

[2019-04-29 13:24] bqx619 commented on #184
![image](https://user-images.githubusercontent.com/9692149/56899101-33b34900-6ac5-11e9-8597-dcbe962f69ef.png)

[2019-04-29 13:31] bqx619 commented on #184
1. 已经验收
1. 延期原因: 生病

![image](https://user-images.githubusercontent.com/9692149/56899463-1337be80-6ac6-11e9-8baf-180352a321ba.png)

[2019-04-29 13:31] #184 closed, assigned to bqx619

[2019-04-30 01:31] nancy919 commented on #195
已验收

[2019-04-30 01:32] #195 closed, assigned to fushang318

[2019-04-30 02:11] #151 closed, assigned to zhaobinglong

[2019-04-30 02:47] georgeliuyu commented on #196
@zhaobinglong @nancy919 我同意，以后这种提议要在微信中给我一下，具体时间时候来得及，方案是什么？

[2019-04-30 06:19] nancy919 opened #198 "【需求】配合月度健康报告对特定用户进行数据统计"
### **本月时间均以：每月1号 00:00 至月末 11:59分计算。**

1、是否本月新用户，以首次微信授权获取用户基础信息为判断；

2、本月记录次数总和，每进行一次记录算作一次。

包含：每日互动（需走完）、记录疾病、症状、用药、治疗、医学指标（含体重、血糖、血压）、记录/存档、写日记、健康日记；

其中，记录中进行的添加、备注、停止跟踪都算单独次数。

3、本月记录次数在总用户中所占的比例；如：本月记录次数，超过90%的人群；

4、本月新添加疾病总次数；

5、本月新添加症状总次数；

6、本月新添加用药总次数；

7、本月新添加治疗总次数；

8、本月新添加医学指标总次数，其中，体重、血糖、血压属于医学指标部分；

9、本月新添加记录存档总次数；

10、本月写日记总次数，包含：互动、feed流入口；

11、本月每日互动（需走完）总次数；

12、本月健康成就总次数；

[2019-04-30 06:22] nancy919 commented on #198
@fushang318 请评估一下开发量，可能仅统计10个用户的数据

[2019-04-30 14:26] ben7th opened #199 "重构：把所有后端日期时间生成采用 arrow 库"
目的：
- 统一处理时区问题，避免由时区问题产生的 BU

示例代码：

[code]

### 数据库保存结果

[code]

[2019-04-30 15:38] ben7th commented on #199
坑：

arrow 产生的 datetime 对象和自己构建的 datetime 对象会有不能算差值的问题：

![image](https://user-images.githubusercontent.com/322486/56974194-fa500b80-6ba0-11e9-9169-1717ceb127c4.png)

[2019-05-01 08:45] ben7th commented on #199
一个可能能用于辅助测试的框架
https://github.com/spulec/freezegun

[2019-05-02 03:42] #124 closed, assigned to ben7th

[2019-05-02 11:27] zhaobinglong opened #200 "[BUG]feed流中的时间显示疑似bug"
截图中的Lynn在一分钟之前成为我的小鹿，但是刷新feed流后，显示的动态时间是19个小时前，这种情况正常吗
![image](https://user-images.githubusercontent.com/8922614/57072405-250ca200-6d10-11e9-84c4-c238b5503fba.png)

@fushang318

[2019-05-02 12:18] fushang318 commented on #200
这里显示默认显示 基于当天零点
如果有一些记录，以最后一个记录为基准
但是现在可能没有把邀请当做几个记录处理
所以出现了现在的情况

[2019-05-02 20:31] #147 closed, assigned to ben7th

[2019-05-02 20:31] #168 closed, assigned to ben7th

[2019-05-03 12:19] #155 closed, assigned to ben7th

[2019-05-03 22:38] georgeliuyu opened #201 "mri：例假 拨轮输入造成回来的问题看不到了"
![image](https://user-images.githubusercontent.com/16983441/57169040-24baf680-6e37-11e9-9948-8b63ebebbbf4.png)

![image](https://user-images.githubusercontent.com/16983441/57169055-34d2d600-6e37-11e9-9011-30963e420f61.png)

@nancy919 @ben7th

[2019-05-03 22:42] georgeliuyu opened #202 "mri：例假 怀孕了状态没有变"
![image](https://user-images.githubusercontent.com/16983441/57169168-ce01ec80-6e37-11e9-8cdf-badafcbf651b.png)

@ben7th @fushang318

[2019-05-03 22:47] georgeliuyu opened #203 "mri 波轮的UI操作完全借鉴lark"
采用lark的波轮UI设计，仔细看看lark的波轮，我以前看到过但是没有截图

@ben7th
@nancy919

[2019-05-03 22:56] georgeliuyu opened #204 "mri 例假 这个互动要优化"
![image](https://user-images.githubusercontent.com/16983441/57169564-16220e80-6e3a-11e9-8fcf-53a00dfe0705.png)

@nancy919

[2019-05-03 23:15] georgeliuyu opened #205 "mri 例假 割宫产 没有写到日记中"
![image](https://user-images.githubusercontent.com/16983441/57169945-508cab00-6e3c-11e9-9b89-b78452316a40.png)
增加疾病应该在日记中有显示
@fushang318

[2019-05-03 23:17] georgeliuyu commented on #205
![image](https://user-images.githubusercontent.com/16983441/57170011-a6f9e980-6e3c-11e9-8c34-c39f1541fba2.png)

[2019-05-03 23:34] georgeliuyu opened #206 "mri 文字输入优化：支持多行和发送按钮"
![image](https://user-images.githubusercontent.com/16983441/57170354-e9bcc100-6e3e-11e9-98a8-fb8fb43ace41.png)

多行：

![image](https://user-images.githubusercontent.com/16983441/57170365-f8a37380-6e3e-11e9-89aa-843a2bcc9c06.png)

@ben7th
@nancy919

[2019-05-03 23:49] georgeliuyu commented on #201
一种方案是：修改前端的处理，显示一个输入提示：请输入（默认），也可以是prompt的内容
点击以后进入波轮

[2019-05-03 23:50] georgeliuyu commented on #201
这个问题似乎在所有的波轮输入中都存在

[2019-05-04 00:05] georgeliuyu opened #207 "mri 每日症状互动"
修改几个地方：
1、条件：今天的症状比上次更差，且大于等于“不太舒服” ，才启动输入文字
2、条件：今天比上次好。 增加一句：“太棒了，有改善！👍”
3、条件：长期保持“轻微”或者“没有”，提示是否关闭跟踪、或加大询问间隔

@fushang318

[2019-05-04 01:39] georgeliuyu commented on #203
先不处理，按照 https://github.com/sibbay-ai/feedback/issues/201#issuecomment-489272611 就可以了

[2019-05-04 01:39] #203 closed, assigned to nobody

[2019-05-04 03:19] #171 closed, assigned to ben7th

[2019-05-04 06:19] #173 closed, assigned to ben7th

[2019-05-05 06:31] georgeliuyu opened #208 "mri例假：增加首次记录的内容"
1、增加总结：
好的！小白记下了，您上次的例假是x月x日，预计下次例假的开始时间时x月x日
选择：对的     不对

2、写目的：
提醒
xxx

@nancy919 你今天进行完善
@fushang318

[2019-05-05 06:40] #174 closed, assigned to zhaobinglong

[2019-05-05 08:48] fushang318 commented on #208
额， 没有理解 增加总结  这个互动增加到哪里，以及用户选择选项后的逻辑变化

[2019-05-06 00:38] nancy919 opened #209 "【需求】取消大白3日评论限制，增加判断逻辑"
需求：

1.  删除 大白3日后无法对小鹿评论的限制；
2. 新增 大白3日后对小鹿进行的评价，将不计入生命力奖励；

@fushang318

[2019-05-06 00:42] nancy919 opened #210 "【需求】记录页面的将“记录”改为“存档”"
将文字“记录” 改为“存档”

![WechatIMG167](https://user-images.githubusercontent.com/42829996/57202669-b9118e80-6fda-11e9-8552-af2b5cfe048e.jpeg)

[2019-05-06 01:30] georgeliuyu opened #211 "mri：我有话说"
将选择了“帮我写到日记中”的内容，不写到建议中。

@fushang318

[2019-05-06 02:35] nancy919 commented on #210
已验收

[2019-05-06 03:51] nancy919 opened #212 "mir: 增加首次经期互动提醒"
1、条件：首次使用

“了解一下您的例假情况”
“以便小白对您提供个性化的预测”
“也方便您根据身体的节奏状态提前做好准备工作😊”

2、条件：首次记录经期时间

您可以进入症状历史页面，查看记录的经期时间和来潮量哦😊

3、将初始选项“来过了”改为“已经结束了”

[2019-05-06 07:00] fushang318 commented on #209
如果大白在三日内创建过一个 尽自己可见的 正式建议
然后在 五天后，解锁，让其他人可见
那么
大白是否可以获得生命力奖励

[2019-05-06 07:35] nancy919 commented on #209
但凡大白在评论时使用了「仅自己可见」，无论是否解锁，都不计入生命力奖励中去

[2019-05-06 08:53] nancy919 opened #213 "【bug】删除首次录入的经期时间，互动内容未发生任何变化"
互动内容始终以用户最后一次经期时间做判断条件，

如：

1、用户删除首次记录的经期时间，且只记录过1次，则回到初始（重置）状态；
2、用户删除全部记录的经期时间，且用户记录过多次，则回到初始（重置）状态；
3、用户删除最后一次的经期时间，且用户记录过多次，则根据最后一次记录时间做判断；

[2019-05-06 09:07] fushang318 commented on #212
![image](https://user-images.githubusercontent.com/326242/57216072-5a233800-7021-11e9-8aca-4852c84ed0d2.png)

[2019-05-06 09:07] fushang318 commented on #212
![image](https://user-images.githubusercontent.com/326242/57216105-74f5ac80-7021-11e9-9f62-b2e0207733fc.png)

[2019-05-06 09:28] nancy919 commented on #213
已验收

[2019-05-06 09:35] nancy919 commented on #212
**修改一下文案**

1、条件：首次使用

“小白想了解一下您的例假情况”
“以便对您提供个性化的预测”
“也方便您根据自己身体状态提前做好准备😊”

2、条件：首次记录经期时间

现在开始，您可以进入症状历史页面，查看已经记录的经期时间和来潮量哦😊

[2019-05-06 09:54] nancy919 commented on #212
已验收

[2019-05-07 03:42] nancy919 commented on #174
已验收

[2019-05-07 05:00] nancy919 commented on #208
分别在三个状态下增加总结：初始状态、经期中、经期前一周

### **初始状态：**

<img width="989" alt="屏幕快照 2019-05-07 下午1 57 49" src="https://user-images.githubusercontent.com/42829996/57275387-007a4680-70d1-11e9-9553-1d56a5fc6414.png">

### **经期中：**

<img width="662" alt="屏幕快照 2019-05-07 下午1 58 00" src="https://user-images.githubusercontent.com/42829996/57275328-d45ec580-70d0-11e9-978b-da67d83e0aee.png">

### **经期前一周：**

<img width

[2019-05-07 06:23] georgeliuyu commented on #191
@zhaobinglong @ben7th  注意查查这个是什么原因没有处理

[2019-05-07 06:26] #210 closed, assigned to zhaobinglong

[2019-05-07 06:32] zhaobinglong commented on #191
@georgeliuyu 该问题为偶发性的异常，我没有找到稳定重现的方式，所以就没有改

[2019-05-07 08:40] fushang318 commented on #208
![image](https://user-images.githubusercontent.com/326242/57285932-d6cc1a00-70e6-11e9-9aae-7f43812e77b3.png)

[2019-05-07 08:50] fushang318 commented on #208
![image](https://user-images.githubusercontent.com/326242/57286634-42fb4d80-70e8-11e9-8247-50ae90bc10a2.png)

[2019-05-07 08:51] fushang318 commented on #208
![image](https://user-images.githubusercontent.com/326242/57286651-4bec1f00-70e8-11e9-83d3-c5ac3c82e367.png)

[2019-05-07 08:59] fushang318 commented on #208
![image](https://user-images.githubusercontent.com/326242/57287161-7b4f5b80-70e9-11e9-9147-b03dc65e7342.png)

[2019-05-07 09:00] fushang318 commented on #208
![image](https://user-images.githubusercontent.com/326242/57287185-8904e100-70e9-11e9-8102-241f6f17acc3.png)

[2019-05-07 10:12] nancy919 commented on #208
已验收

[2019-05-07 10:12] fushang318 commented on #208
进行了一些修改
1. 把总结分成了两个泡泡

[2019-05-07 10:14] fushang318 commented on #208
![image](https://user-images.githubusercontent.com/326242/57292277-f87fce00-70f3-11e9-8099-8debde6794b5.png)

[2019-05-07 10:25] fushang318 commented on #201
已经按照如下方式进行了优化
再每个拨轮问题前，增加了一个选择题和叫做“输入日期”选项，用户看清问题后，点击“输入日期”选项后才弹出拨轮

后续宋亮会从互动组件上进行一些其他优化

[2019-05-07 10:39] fushang318 commented on #207
加大间隔的文案改成了

看起来您最近好多了，建议调整一下 "xxx" 的跟踪频率，把记录间隔加大一些

[2019-05-07 10:46] fushang318 commented on #202
![image](https://user-images.githubusercontent.com/326242/57293848-78a83280-70f8-11e9-8534-7815cdef4823.png)

[2019-05-07 10:48] fushang318 commented on #202
我这里没有这种情况，推测是因为如下原因
现在的状态机完全基于数据判断的
在一些特别数据下，会有这个问题
一般使用场景目前不会触发这个问题

这个问题不建议单独处理，而是考虑是否修改目前的状态机实现？

@georgeliuyu @ben7th

[2019-05-07 10:56] fushang318 commented on #204
今天例假来潮量如何？  这个问题触发了两次，是吗
看起来是如下流程导致的
输入了结束时间后，状态机应该进入下一个状态，但是因为数据和状态机判断的原因又重新进入了这个状态
还是状态机基于数据判断导致的问题

刘总你的测试环境现在保留了现场吗，不然我很难想到复现的数据特点

[2019-05-07 10:57] fushang318 commented on #205
已经解决，目前只过滤性行为不显示

[2019-05-07 11:03] #212 closed, assigned to fushang318

[2019-05-08 02:57] zhaobinglong commented on #209
后端修改后，前端开始修改

[2019-05-08 03:05] fushang318 commented on #201
![image](https://user-images.githubusercontent.com/326242/57346471-3840c700-7181-11e9-99b4-b2c3e5a319a4.png)

[2019-05-08 03:05] #201 closed, assigned to fushang318

[2019-05-08 03:06] fushang318 commented on #205
![image](https://user-images.githubusercontent.com/326242/57346485-468ee300-7181-11e9-80fb-d0a84d0d40f3.png)

[2019-05-08 03:06] #205 closed, assigned to fushang318

[2019-05-08 03:06] fushang318 commented on #207
![image](https://user-images.githubusercontent.com/326242/57346501-54446880-7181-11e9-808f-cacc71640987.png)

[2019-05-08 03:06] #207 closed, assigned to fushang318

[2019-05-08 03:07] fushang318 commented on #208
![image](https://user-images.githubusercontent.com/326242/57346530-6a522900-7181-11e9-9ce2-fdadbfb21ade.png)

[2019-05-08 03:07] #208 closed, assigned to fushang318, nancy919

[2019-05-08 03:07] fushang318 commented on #211
![image](https://user-images.githubusercontent.com/326242/57346546-76d68180-7181-11e9-9bac-0650c78faec8.png)

[2019-05-08 03:07] #211 closed, assigned to fushang318

[2019-05-08 03:12] fushang318 commented on #202
刘总你那里保留了数据现场吗，是测试环境吧

[2019-05-08 03:19] georgeliuyu commented on #204
我现在重现不了。

[2019-05-08 03:20] georgeliuyu commented on #202
没有这个问题了，可以先关闭。

[2019-05-08 03:30] georgeliuyu opened #214 "mri 例假：30天"
用户昨天：
![image](https://user-images.githubusercontent.com/16983441/57347322-7ab7d300-7184-11e9-87ff-8a7626e7b08d.png)

但是今天来例假了，小白不提问。

@nancy919 @fushang318

[2019-05-08 03:32] ben7th commented on #214
@fushang318 建议检查用户数据，看是否预测周期计算上的问题

[2019-05-08 06:43] zhaobinglong commented on #191
思考：该问题可能是因为小白在使用过程中， 缓存中被埋下了跳转的逻辑，而当跳转逻辑被触发后，并没有被删除，还留在缓存在，导致出现了这种偶发性的问题

前端现在实施一种预防性的解决方案：在每次进入记录页时，检查缓存中的跳转信息，判断是否需要跳转

[2019-05-08 07:05] zhaobinglong opened #215 "公众号中的小程序菜单"
目前在小白公众号中点击小程序菜单，前往的是小程序的记录页面。小白目前的首页是互动页面，我建议变更菜单的点击为互动页面

![image](https://user-images.githubusercontent.com/8922614/57356304-ae095a80-71a2-11e9-8af7-150c28c4daf3.png)

@nancy919 @georgeliuyu

[2019-05-08 07:39] #180 closed, assigned to nobody

[2019-05-08 09:00] fushang318 commented on #214
定位到问题了，是因为目前拨轮组件有一定几率出现BUG，导致提交的时间是错误的

[2019-05-08 09:02] fushang318 commented on #202
刘总，我看了一眼你测试环境的数据，从数据前是
你先创建了一个怀孕，然后马上提交了一个剖宫产
所以状态就不是怀孕了

[2019-05-08 09:02] #202 closed, assigned to nobody

[2019-05-08 09:21] fushang318 commented on #204
我复现了，我尝试看看原因

[2019-05-08 09:36] fushang318 commented on #204
正常情况下，用户不会出现这种情况
出现这种情况不存在在测试环境（可以无限进入互动），复现步骤是
1. 在没有数据的状态下，进入初始互动
2. 选择例假中，输入开始时间是 今天，输入今天的来超量，按照顺序结束今天的例假互动
3. 重新从 测试互动入口，重新进入互动，就会提示今天是例假第一天，点击好的
4. 然后就可以体验到 刘总主楼截图中的内容

[2019-05-08 10:39] fushang318 commented on #214
已经锁定问题，并且已经修复
原因如下
1. 这个用户因为碰到了拨轮BUG，输入的例假结束时间变为了 2019-01-01
2. 所以用户处在 例假中过期状态，所以回到了 初始状态

[2019-05-08 11:00] fushang318 commented on #204
有一种情况，普通用户可以触发
1. 在没有数据的状态下，进入初始互动
2. 选择已经结束了，输入开始时间是 今天，结束时间是今天，然后就会进入刘总主楼截图中的内容

[2019-05-08 11:00] fushang318 commented on #204
已经补充单元测试进行逻辑修复

[2019-05-08 11:02] fushang318 commented on #204
已经修复并测试通过

[2019-05-09 02:23] fushang318 commented on #214
![image](https://user-images.githubusercontent.com/326242/57422898-6a672d00-7244-11e9-8b14-e745d5098780.png)
已经修复上线

[2019-05-09 03:14] georgeliuyu commented on #214
![image](https://user-images.githubusercontent.com/16983441/57424820-9cc85880-724b-11e9-800a-aaeed99ce60a.png)

这个用户的今天的界面

[2019-05-10 01:52] nancy919 commented on #215
同意。可以安排处理。 @zhaobinglong

[2019-05-10 02:08] zhaobinglong opened #216 "允许用户不授权自己的微信运动"
允许用户不授权自己的微信运动

[2019-05-10 03:49] nancy919 opened #217 "【需求】调整经期提醒互动中的例假结束波轮"
将经期提醒互动中的例假结束时间出现的时间波轮调整为天数波轮，涉及到的状态有：初始状态、经期中、经期前

### **初始状态：**

<img width="912" alt="屏幕快照 2019-05-10 上午11 32 34" src="https://user-images.githubusercontent.com/42829996/57501291-87216480-7319-11e9-99ba-4a839a58460e.png">

### **经期中**

<img width="897" alt="屏幕快照 2019-05-10 上午11 36 04" src="https://user-images.githubusercontent.com/42829996/57501305-97394400-7319-11e9-9b2c-bca24d1ab50c.png">

##

[2019-05-10 06:22] zhaobinglong commented on #216
![image](https://user-images.githubusercontent.com/8922614/57506639-02d9dc00-732f-11e9-9748-e622bcb5293f.png)

[2019-05-10 06:23] zhaobinglong commented on #216
验收通过

[2019-05-10 06:41] fushang318 commented on #214
BUG已经修复

[2019-05-10 13:30] #143 closed, assigned to nancy919

[2019-05-11 08:11] zhaobinglong opened #218 "关于数据字段的统一性反馈"
在小白中，不同接口返回的数据，数据相同，但是名字却不一样，导致开发过程中前端需要频繁的去兼容各种字段

举例：
用户头像这字段，有的接口返回的是avatar，有的接口是photo，可否都用avatar或者都用photo

@ben7th @fushang318

[2019-05-11 09:33] zhaobinglong opened #219 "统一左滑删除交互的建议"
目前小白中的左滑删除交互有两种形式：

1. 红色方块删除按钮
![image](https://user-images.githubusercontent.com/8922614/57567887-7f91b680-7412-11e9-90f4-e413dc588d29.png)

2. 胶囊删除按钮
![image](https://user-images.githubusercontent.com/8922614/57567906-b962bd00-7412-11e9-9024-f1b9e82d7b0f.png)

目前的删除以第一种为主，第二种存在与健康成就的删除，建议发一个单独的版本统一所有的删除交互

[2019-05-11 09:45] #216 closed, assigned to nobody

[2019-05-12 11:37] zhaobinglong commented on #209
![image](https://user-images.githubusercontent.com/8922614/57581683-6dd11180-74ed-11e9-8741-d9961cd981a5.png)

确认

[2019-05-12 11:38] #209 closed, assigned to zhaobinglong

[2019-05-12 11:44] zhaobinglong commented on #215
由于我没有公众号的登录权限，已将该issue指派 @ben7th ，并且微信告知修改

[2019-05-12 11:50] zhaobinglong commented on #196
执行时间：经期版本正式上线

假定发放200生命力：
方案A: 后端开发直接在代码层面执行脚本，给内测用户发送200N生命力，内测用户可在生命力历史页面查看，不需要用户领取。
方案B: 更改内测邀请页面的内容，为奖励发放的文案，用户点击确认领取，前端调用一个后端的发放接口，给该用户发放200N的生命力，用户可在历史页面查看，如果用户不领取，则奖励失效

@georgeliuyu  @fushang318 @aixinhuang @nancy919

[2019-05-12 12:08] zhaobinglong commented on #191
该bug前端经过代码层面的盘查，以及真机调试

第一是该问题很难复现（可能跟手机系统有关，我的是IOS，测试不了安卓系统）
第二是对这两个页面的代码进行分段测试，注释掉所有不相干的逻辑，还是无法复现该问题

所以建议把这个问题列入长期监控计划

[2019-05-13 03:22] nancy919 commented on #153
测试后，需要新增的需求：

1、新增  关闭弹窗按钮，点击按钮关闭弹窗；
2、新增  向好友发送托付邀请后，自动关闭弹窗；
3、新增  如托付方有多位托付对象向被托付方进行托付，托付方在解除关系时，则解除全部托付对象。

[2019-05-14 02:34] nancy919 opened #220 "【需求】增加经期提醒模板消息"
增加经期提醒模板消息

1、据预测经期来潮时间还有3天时间时，向符合经期条件的女性发送【经期提醒】模板消息；
2、据预测经期来潮时间还有2天时间时，向符合经期条件的女性发送【经期提醒】模板消息；
3、据预测经期来潮时间还有1天时间时，向符合经期条件的女性发送【经期提醒】模板消息；
4、据预测经期来潮时间还有0天时间时，向符合经期条件的女性发送【经期提醒】模板消息；

<img width="1231" alt="屏幕快照 2019-05-14 上午10 30 33" src="https://user-images.githubusercontent.com/42829996/57666798-d5917480-7633-11e9-8b7c-5ab9419de497.png">

[2019-05-14 02:43] nancy919 commented on #220
### **效果图**

![服务推送](https://user-images.githubusercontent.com/42829996/57667152-1d64cb80-7635-11e9-9066-f360bfec96cc.png)

[2019-05-14 02:47] georgeliuyu opened #221 "mri例假上次例假的时间采用新的组件实现"
针对用户采用新的日期段组件进行，例假的开始和结束时间的输入。

@zhaobinglong 实现
@nancy919 选择和决策

[2019-05-14 02:51] Lindsay919 commented on #221
收到

[2019-05-14 02:56] zhaobinglong commented on #221
收～

[2019-05-14 02:59] nancy919 commented on #217
已验收

[2019-05-14 03:03] #217 closed, assigned to fushang318

[2019-05-14 07:06] #214 closed, assigned to ben7th, fushang318

[2019-05-14 07:07] #204 closed, assigned to fushang318

[2019-05-14 07:44] bqx619 opened #222 "讨论一个求交集的算法问题"
## 问题描述

有一个字符串X(长度大概在100左右), 一个集合B(长度大概在10万+), A集合是X的所有子串集合的一个子集, 大家有没有什么想法可以最简提取出 A, B 的交集, 时间复杂度最好能够小于 O(n) 并且尽量少的占用资源.

例如: X=abc 那么 A 是 {a,b,c,ab,bc,abc} 的一个子集 {a,b,c,ab,bc}, B={ww,ax,ab}  期望结果是：{ab}

[2019-05-14 07:45] bqx619 commented on #222
@sibbay-ai/all

[2019-05-14 07:47] zhaobinglong commented on #220
该模板消息需要后端调用微信指定接口进行下发，前端无法下发消息，

指派给 @fushang318

[2019-05-14 07:58] fushang318 commented on #222
我说说的我的想法哈，我是算法白痴，勿喷

1. 集合先进行排序，然后采用折半找到的方法找相同的元素
2. 把集合按照首字拆分成多个子集合，并行处理

[2019-05-14 08:27] bqx619 commented on #222
@fushang318 主要是这个`并行处理` 的每一个处理的过程, 也就是核心是 求交集的算法吧, 飞哥你提出的这个可以作为整体实现的一个构造, 但是这个具体的求交集的过程有没有啥想法呢

[2019-05-14 08:59] Yidadaa commented on #222
不知道你的10w具体规模是多少，如果内存管够，直接把集合B当做hash表存储，每次判断A中元素是否在B中的操作的时间复杂度是o(1)，总体时间复杂度是o(n)。

如果内存不够，考虑一个并行算法，将集合B划分为K个子集合并分别建hash表，复杂度会上升到o(nk)。

如果考虑并发，hash表是不足以解决这个问题的，此时性能瓶颈不单单在算法的时间复杂度，还需要考虑空间占用，考虑使用前缀树压缩集合B，可以大大减少空间占用，但相应地会使时间复杂度上升到o(nS)，其中S为集合A中字符串的平均长度。

最省事的方法是把集合A和B都存到数据库里，建两个表，每次取计算交集只需要对两个表进行联合查询即可，并发什么的都能保证，时间复杂度最坏为o(nlogn)。

[2019-05-14 09:54] fushang318 commented on #222
具体的做法是
集合先进行排序，然后比大小，相同的说明是交集元素，为了提高找到相同元素的效率，采用折半查找比对大小，如果大，取大的一般中的中间元素进行比较，如此缩小范围，这个叫做折半查找吧，还是叫做二分法？

[2019-05-15 07:23] nancy919 opened #223 "【需求】在每日结束处新增【例假】选项"
在每日互动结束后，增加一项【例假】选项，女性用户可以随时进入经期互动

互动链接：https://www.processon.com/view/link/5cdbbe15e4b06c0492f01ddd

<img width="1399" alt="屏幕快照 2019-05-15 下午4 13 10" src="https://user-images.githubusercontent.com/42829996/57759440-867b3a80-772c-11e9-9299-24960a214910.png">

[2019-05-15 08:17] nancy919 opened #224 "【需求】调整经期互动中的选项和文案"
对部分互动进行文案和选项调整

### **初始状态**

<img width="1241" alt="屏幕快照 2019-05-15 下午3 55 38" src="https://user-images.githubusercontent.com/42829996/57759638-ec67c200-772c-11e9-80ab-c69bcbeb1a5d.png">

### **经期中**

<img width="1279" alt="屏幕快照 2019-05-15 下午4 09 04" src="https://user-images.githubusercontent.com/42829996/57759659-f4bffd00-772c-11e9-8338-ec92c948834e.png">

[2019-05-15 09:52] nancy919 commented on #175
已验收

[2019-05-15 11:47] zhaobinglong commented on #153
该issue已发版

[2019-05-15 11:47] #153 closed, assigned to zhaobinglong

[2019-05-15 11:48] zhaobinglong opened #225 "需要长期监控的bug"
tab切换时出现闪烁
from：https://github.com/sibbay-ai/feedback/issues/191

[2019-05-15 11:49] #191 closed, assigned to nobody

[2019-05-15 15:54] #139 closed, assigned to ben7th

[2019-05-16 03:34] georgeliuyu commented on #222
@Yidadaa B是固定集，可以提前进行优化，A是处理集，动态变化大。且100+的子字符串的数量很庞大。
@bqx619 A如果进行标点符号分段后，字数会降低

[2019-05-16 05:56] zhaobinglong commented on #182
链接进入前端代码仓库，列入本月开发计划

[2019-05-16 06:50] #188 closed, assigned to nobody

[2019-05-17 09:00] ben7th commented on #222
此算法问题的核心难点在于传入的 X 的长度，对于运行时间影响非常大（涉及一个排列组合问题，时间变化函数是 N! 阶乘）
B 的处理方式有很多，比较容易想

@bqx619 我需要确认一个问题，如果：
传入字符串 X = abc
那么对应的 A 集合是 { a, b, c, ab, bc, abc },
还是 { a, b, c, ab, bc, ac, abc } ?
也就是包不包括下标不连续的 ac ?

N = len(X)
下标连续，则组合数的复杂度是 N^2
下标不连续，则组合数的复杂度是 N!

[2019-05-18 12:25] bqx619 commented on #222
@ben7th
是这样的 A 是全子串集合的一个子集, 并不一定有什么规律, 基本上接近全子串集合可能只会有部分不在
组合数的复杂度就是 n!
现在和刘总讨论的一个核心就是减少 X 的长度

[2019-05-19 11:30] zhaobinglong commented on #221
已由 @nancy919 验收

[2019-05-19 11:30] #221 closed, assigned to zhaobinglong

[2019-05-20 01:47] nancy919 opened #226 "将【我的种子】列表按种子加入时间倒序显示"
1、按种子加入时间倒序排列；
2、目前种子头像显示不全，需完善。

![WechatIMG1283](https://user-images.githubusercontent.com/42829996/57991887-2d245a00-7ae4-11e9-8cb8-14c1918f0da6.jpeg)

[2019-05-20 02:18] nancy919 opened #227 "【bug】在存档中删除的记录，不应在日记中显示"
在存档中删除了其中一条「其他」记录，但在日记中仍然有显示。

![WechatIMG1291](https://user-images.githubusercontent.com/42829996/57992757-7b3b5c80-7ae8-11e9-960f-373117e094f7.jpeg)

[2019-05-21 05:21] nancy919 opened #228 "【需求】在互动中增加多选、返回、评论等新功能"
需求链接：https://shimo.im/docs/rbQyxUMZ6PEgM3FX

[2019-05-21 06:23] ben7th commented on #228
@fushang318

多选：这里的多选和之前的多选是否同样的业务逻辑？如果是则采用同样的后端实现；
返回：返回按照之前讨论的方式只允许回退一步，采用“执行下一步时才处理上一步的数据”的方式来实现，具体细节可以进一步沟通
评论：根据需求增加新的互动提交类型

[2019-05-21 06:27] zhaobinglong commented on #228
提交评论后，提交者将没有入口查看自己提交过的评论， 南希确认这一点 @nancy919

[2019-05-21 06:34] nancy919 commented on #228
是的，查看评论主要是我们来看。我们想通过这种方式收集反馈。

[2019-05-21 06:37] nancy919 commented on #228
后台需要显示bead 的文字, uri,  反馈内容，赞还是踩。

[2019-05-22 01:54] ben7th commented on #220
@fushang318 已配置相应模板：

模板 ID:
`BZSi93Z8qrBzjsCKeGrLHrsHw2341ybbZ25W2S84HhI`

关键词
预计经期日期
{{keyword1.DATA}}

距离当前天数
{{keyword2.DATA}}

![image](https://user-images.githubusercontent.com/322486/58141893-94264800-7c77-11e9-8ebe-2db1c12b5578.png)

[2019-05-22 05:19] georgeliuyu commented on #228
![image](https://user-images.githubusercontent.com/16983441/58149118-1e7ca500-7c94-11e9-9e58-6cce94ee5b02.png)
@fushang318  回撤现在是支持的

[2019-05-22 09:48] nancy919 opened #229 "【需求】优化经期互动文案和选项"
初始状态 https://www.processon.com/view/link/5cb3eea0e4b0773d8c0f4d92

经期中 https://www.processon.com/view/link/5cb3eed0e4b09ccab3589e0d

经期前一周 https://www.processon.com/view/link/5cb3ef00e4b02a2858ebc7c9

经期后一周 https://www.processon.com/view/link/5cb3ef14e4b02a2858ebc81f

排卵期 https://www.processon.com/view/link/5cb3ef2ae4b0b62750faa147

怀孕中 https://www.processon.com/view/link/5cb3ef49e4b02a2858ebc89b

[2019-05-23 03:33] fushang318 commented on #220
pages/splash/wx-notification?type=menses

[2019-05-23 05:00] nancy919 opened #230 "【设计】经期互动推广的设计海报"
### **广告语：**

我们的智能记录，
更加智能。

### **内容：**

![1](https://user-images.githubusercontent.com/42829996/58226755-9d3c1580-7d5a-11e9-8594-1d8dc11b3846.png)

### **尺寸：**

750 *1334

[2019-05-23 05:07] nancy919 opened #231 "【设计】血压测量操作步骤图"
要求：

1、保留文字内容，重新设计界面；
2、共9张图；
3、尺寸：宽750 *高不限

<img width="502" alt="屏幕快照 2019-05-23 下午1 02 55" src="https://user-images.githubusercontent.com/42829996/58227024-b8f3eb80-7d5b-11e9-95c1-581acb0d39a3.png">
<img width="510" alt="屏幕快照 2019-05-23 下午1 03 05" src="https://user-images.githubusercontent.com/42829996/58227025-ba251880-7d5b-11e9-8fee-e492691e393a.png">
<img width="365" alt="屏幕快照 2019-05-23 下午

[2019-05-23 05:56] fushang318 commented on #228
回撤功能细节逻辑
[code]

[2019-05-23 07:27] nancy919 commented on #220
已验收

[2019-05-23 07:34] #220 closed, assigned to fushang318

[2019-05-23 15:17] georgeliuyu commented on #228
关于回撤：
1、有关回撤的功能和测试均以完成；
2、我已经修改大大多数测试，典型的可以看test_drug
3、例假的测试我没有修改
4、如果你有不理解的测试，最好找我；
5、因为延后执行的原因，将no_ready bead的策略修改为不马上退出，可能会有一些测试会受到影响
6、你修改好后上线到pre环境做使用测试；
@fushang318

[2019-05-23 15:22] georgeliuyu commented on #228
FAILED (failures=19)

[2019-05-24 03:07] fushang318 commented on #223
测试用例

idle
1. 把所有例假数据删除
2. 通过每日结束互动的例假选项进入，进行体验

例假中
1. 把所有例假数据删除
2. 通过MRI测试方法，进入测试互动，选择例假，然后选择例假中，开始日期是前天
3. 通过每日结束互动的例假选项进入，进行体验

例假前一周
1. 把所有例假数据删除
2. 通过MRI测试方法，进入测试互动，选择例假，然后 已经结束了，选择开始时间是 4 28
3. 通过每日结束互动的例假选项进入，进行体验

怀孕（没有上一次例假）
1. 把所有例假数据删除
2. 通过MRI测试方法，进入测试互动，选择例假，选择 已经怀孕了，然后选择知道了
3. 通过每日结束互动的例假选项进入，进行体验

怀孕（有上一次例假）
1. 把所有例假数据删除
2. 通过MRI测试方法，进入测试互动，选择例假，然后 已经结束了，选择开始时间是 4 28
3. 通过MRI测试方法，进

[2019-05-24 04:30] #193 closed, assigned to nancy919

[2019-05-27 06:24] georgeliuyu opened #232 "健康成就：用药疾病因该可以点击查看"
用药疾病因该可以点击查看,同feed流中一样。
![image](https://user-images.githubusercontent.com/16983441/58399524-1012fc80-808b-11e9-8294-7c555ade8a73.png)

@zhaobinglong
@nancy919 知晓

[2019-05-27 06:28] georgeliuyu opened #233 "健康成就：用药没有显示"
在编辑中添加了用药后，没有显示出来。

[2019-05-27 06:29] georgeliuyu commented on #233
@zhaobinglong

[2019-05-28 03:18] nancy919 commented on #223
已验收

[2019-05-28 03:20] #223 closed, assigned to fushang318

[2019-05-28 03:22] fushang318 commented on #200
这个BUG，不算严重，而且应该很多类型记录都有这个问题
我的想法是
等陈斌重构完 FEED流微服务后，统一处理，先关闭？

[2019-05-28 03:23] zhaobinglong commented on #200
重构feed流微服务后统一处理

[2019-05-28 03:23] #200 closed, assigned to fushang318

[2019-05-28 03:27] nancy919 commented on #229
已验收

[2019-05-28 03:28] nancy919 commented on #224
已验收

[2019-05-28 04:14] #229 closed, assigned to fushang318

[2019-05-28 04:14] #224 closed, assigned to fushang318

[2019-05-28 05:37] nancy919 opened #234 "【需求】在哺乳期增加可以关闭关闭哺乳期的选项"
<img width="1263" alt="屏幕快照 2019-05-28 下午1 36 43" src="https://user-images.githubusercontent.com/42829996/58453435-b293b400-814d-11e9-8cf8-c6be805791b8.png">

[2019-05-28 05:45] nancy919 opened #235 "【需求】将经期症状改为多选"
涉及状态：初始（重置）状态、经期中、经期前一周

需求：

1、通过选项添加的症状自动关联为经期中出现症状；
2、关联经期的症状不需出现询问；
3、每月总结里列出的是关联经期的症状；
4、新添加的经期症状显示在症状历史里。
5、在初始状态（快来了、已经结束了）、经期中（已经结束了）、经期前一周（已经结束了）所添加的症状，症状感受默认显示中等，跟踪时间按经期持续时间显示。
6、在经期前一周（出现症状）所添加的症状，默认与最近添加的经期关联，并在经期中进行询问。

### **初始（重置）状态**

<img width="1750" alt="屏幕快照 2019-05-28 下午1 42 20" src="https://user-images.githubusercontent.com/42829996/58453695-b116bb80-814e-11e9-9281-2e6efd584b

[2019-05-28 06:05] nancy919 opened #236 "【需求】在症状中增加一个症状感受选项：我不记得了"
需求：

1、在互动中去掉一个【量超多】选项；
2、在症状中增加一个症状感受：忘记了；
3、增加「我不记得了」的显示方式：图表：白点    列表：忘记了
4、经期对应的显示：量少代表2轻度、中等代表5中度、量多代表8严重、结束代表0无、不记得了代表-1 忘记了；

涉及状态：初始（重置）状态、经期中、经期前一周

<img width="478" alt="屏幕快照 2019-05-28 下午1 56 27" src="https://user-images.githubusercontent.com/42829996/58454241-6dbd4c80-8150-11e9-9685-0112cdae8574.png">

[2019-05-28 09:39] fushang318 commented on #236
完成互动部分修改和动态部分修改

小程序的跟踪症状表单，图表，症状历史的显示需要 赵冰龙完成

[2019-05-29 03:32] nancy919 opened #237 "【需求】将经期互动中的时间波轮更换成日历"
需求：

1、分布式显示全部日历时间，打开日历默认定格在当月；
2、不可取消勾选过往已经记录的经期时间；
3、当勾选未到时间的日期时，弹窗提示：无法记录未来的日子哦
4、勾选开始时间及结束时间后，自动连选中间的时间；再次选择时间时，取消掉之前的时间选择，并重新选中开始时间；
      如：开始时间是5月1日，结束时间是5月5日，则将5月1日至5月5日全部选中；
      若：再次选择5月2日或5月7日，则取消之前的选择，并选中再次选择的时间。
5、不可勾选最后一次经期开始时间以前的日期；
6、经期开始时间：所勾选的最远日期，经期结束时间：所勾选的最近日期

[2019-05-29 06:11] #197 closed, assigned to nobody

[2019-05-29 09:55] nancy919 commented on #182
文章链接：https://shimo.im/docs/O1D9cglvHxEwbO5c

[2019-05-29 10:06] nancy919 commented on #182
### **文章链接：https://shimo.im/docs/O1D9cglvHxEwbO5c**

### **前端ui需要实现的效果：**

![1](https://user-images.githubusercontent.com/42829996/58548686-5fe4f580-823c-11e9-859a-ac0874507350.png)

[2019-05-29 11:40] zhaobinglong commented on #237
- [x] 分布式显示全部日历时间，打开日历默认定格在当月；
- [x] 不可取消勾选过往已经记录的经期时间；
- [x] 当勾选未到时间的日期时，弹窗提示：无法记录未来的日子哦
- [x] 勾选某经期开始时间后，根据用户的平均持续时间，连选后面的时间；连选日期还未到来，则只勾选已到的日期。
如：平均持续时间是5天，勾选经期开始时间是：5月1日，则将5月1日至5月5日全部选中；
若：5月1日为昨天，则只勾选5月1日及5月2日
- [x] 可以取消已默认勾选的日期；
- [x] 可以在已默认勾选的日期以外，勾选其他时间，此时无需再进行连选；
- [x] 全部取消已默认的勾选日期后，再次选择依然连选；
- [x] 不可勾选最后一次经期开始时间以前的日期；
- [x] 经期开始时间：所勾选的最远日期，经期结束时间：所勾选的最近日期

[2019-05-30 02:40] nancy919 opened #238 "【需求】在mri中增加「经期提醒」公众号文章"
标题：让聊天机器人懂你所想，小白「经期提醒」为您打开全新交互形式的大门！

摘要：让“机器和人一样对话”一直是小白希望去开辟的另外一条路径，在这里没有复杂的界面和繁琐的操作，您只用和小白聊聊天，小白就能帮您打造一份属于您自己的专属健康日记。

公众号链接：

[2019-05-30 02:41] nancy919 commented on #238
### **实现效果：**

![1](https://user-images.githubusercontent.com/42829996/58604842-6ae56780-82c8-11e9-9e43-64a9fa5f72cb.png)

[2019-05-30 03:15] nancy919 opened #239 "【需求】关闭经期在feed流的显示"
关闭所有的经期记录在feed流的显示

[2019-05-31 03:27] fushang318 commented on #235
1. 初始互动中，选择  快来了，已经结束了后 询问症状
2. 初次进入经期中互动，询问 症状
3. 经期中互动中，选择 出现症状
4. 经期前一周互动中，选择 出现症状
5. 经期前一周互动中，选择 已经结束了

[2019-05-31 03:56] fushang318 commented on #235
### 初始互动中，选择 快来了

查看是否正确创建了 经期开始到结束的N条数据
查看是否正确询问和创建了，症状数据

### 初次进入经期中互动，询问 症状
查看是否正确询问和创建了，症状数据

### 当天第二次进入经期中互动，选择 出现症状
查看是否正确询问和创建了，症状数据

### 经期前一周互动中，选择 已经结束了

查看是否正确创建了 经期开始到结束的N条数据
查看是否正确询问和创建了，症状数据

### 第二次进入经期中互动，选择 出现症状
这个需要在 模拟器中测试
查看是否正确询问和创建了，症状数据

### 从经期前一周迁移到经期中，集成测试
这个需要在 模拟器中测试
测试跟踪的症状是否正确

[2019-05-31 06:52] nancy919 opened #240 "【bug】上月贡献和当月贡献都没有数值"
实际情况，每天都有贡献产生

![WechatIMG1345](https://user-images.githubusercontent.com/42829996/58687195-8e391100-83b3-11e9-8eda-bfa748550659.jpeg)
2

[2019-05-31 08:30] nancy919 commented on #234
已验收

[2019-05-31 08:50] nancy919 commented on #236
已验收

[2019-06-02 12:18] zhaobinglong commented on #240
前端在IDE中排查，发现后端的确返回了0，需要后端做进一步排查 @fushang318
![image](https://user-images.githubusercontent.com/8922614/58761148-6ee8e200-8573-11e9-8cd3-86bf9eb1683f.png)

[2019-06-02 12:19] zhaobinglong commented on #240
接口：{"uri":"event.app.sns.pagedownlevel1.statistics.get.v2"}
用户token：eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IjEyM2E4YWE1LWU2ODYtNDVjYy04OTk0LWYyMmE1ZWNlOWQxYyJ9.eyJzdWIiOiJzaWJiYXkiLCJleHAiOjE1NTk1NjQxMjYsImlhdCI6MTU1OTQ3NzcyNiwiaXNzIjoic2liYmF5IiwidXNlcmlkIjoiNWE5OTA1MzRhNDgzODQwMDAxNTMzMTRhIn0.DxGAcXug6rjxC_iqxtjNu2MG7UQKG4PS7wRpdxy9wUg-EA64dmKIfO5wWRR2sBsg9TMap2VHB6D_QI6REnpwa3FqCcTxO9QjF3T

[2019-06-03 01:46] #236 closed, assigned to nobody

[2019-06-03 01:51] zhaobinglong commented on #233
![image](https://user-images.githubusercontent.com/8922614/58771130-22d68580-85e5-11e9-8390-815eac3f4c3a.png)

[2019-06-03 01:51] #233 closed, assigned to nobody

[2019-06-03 01:52] zhaobinglong commented on #232
![image](https://user-images.githubusercontent.com/8922614/58771147-32ee6500-85e5-11e9-8527-1a872ae58ab7.png)

[2019-06-03 01:52] #232 closed, assigned to nobody

[2019-06-03 01:54] #182 closed, assigned to ben7th

[2019-06-03 01:59] #213 closed, assigned to ben7th

[2019-06-03 02:00] nancy919 commented on #237
调整一下 确认按钮的样式，如下：

按钮的尺寸和颜色跟其他页面的按钮一样

![13461559527126_ pic](https://user-images.githubusercontent.com/42829996/58771347-3e8e5b80-85e6-11e9-83d5-c16043e89898.jpg)

[2019-06-03 02:00] zhaobinglong commented on #228
目前多选和评论已增加，返回需要全盘考虑，所以不放在本次issue中，单独新开issue开发

[2019-06-03 02:11] nancy919 commented on #237
涉及到的互动：初始状态、经期中、经期前一周

<img width="668" alt="屏幕快照 2019-06-03 上午10 10 48" src="https://user-images.githubusercontent.com/42829996/58771648-df314b00-85e7-11e9-8a33-c56b84945bd9.png">

[2019-06-03 03:13] nancy919 opened #241 "【需求】当网络出现异常时，MRI给出友好的提示"
需求：当网络出现异常时，MRI给出友好提示：网络好像不太给力，请稍后再试哦~

[2019-06-03 04:11] nancy919 opened #242 "【需求】MRI支持多行和发送按钮等"
需求：

1、MRI互动中支持多行输入，不限字数；
2、MRI互动中的输入框，右侧增加发送按钮；
3、隐藏feed流中的关注按钮（先隐藏起来，观察一段时间考虑要不要去掉或是设计新的样式）；
4、修改 MRI中评论的图标。

![10](https://user-images.githubusercontent.com/42829996/58775447-20315b80-85f8-11e9-841d-3ad667e52734.png)
![11](https://user-images.githubusercontent.com/42829996/58775449-2293b580-85f8-11e9-8d83-24ce24a15b86.png)

[2019-06-05 03:48] georgeliuyu opened #243 "注意处理待办事项"
![image](https://user-images.githubusercontent.com/16983441/58929070-d8d9d500-8787-11e9-9870-31bcfac7f66c.png)

@nancy919 注意定期处理，并给回复

[2019-06-05 09:40] nancy919 commented on #240
已确认

[2019-06-05 09:41] #240 closed, assigned to fushang318

[2019-06-07 08:58] #206 closed, assigned to nobody

[2019-06-07 12:40] #242 closed, assigned to zhaobinglong

[2019-06-10 05:50] nancy919 opened #244 "【需求】撤下在互动中的经期提醒的公众号文章"
撤下在互动中的经期提醒的公众号文章

[2019-06-11 05:43] nancy919 commented on #241
删除：网络好像不太给力，请稍后再试哦~

<img width="1194" alt="屏幕快照 2019-06-11 下午4 12 03" src="https://user-images.githubusercontent.com/42829996/59254904-ab979600-8c63-11e9-9b9c-91bc84594bd6.png">

[2019-06-13 09:06] fushang318 commented on #228
回撤是只支持回退一步
但是有如下限制
1. 如果上一个 bead 和 当前 bead 的 sn 不是连续的，不允许回撤
2. 如果上一个 bead 是一个只有一个选项的单选，不要允许回撤

API
[code]

[2019-06-13 16:28] zhaobinglong commented on #228
不可回撤的条件需要单开一个issue，在issue中说明，每次变更都更新该issue，前端会在项目中链接该issue，方便后期的维护

[2019-06-14 01:27] #234 closed, assigned to nobody

[2019-06-14 02:11] nancy919 commented on #235
已验收

[2019-06-14 02:12] #235 closed, assigned to nobody

[2019-06-14 11:11] nancy919 commented on #230
第二版广告设计：让重要日子，不再尴尬

[2019-06-17 01:17] nancy919 opened #245 "【bug】无法修改性别"
用户反馈，在我的家人中修改性别成功后，再次进入小白查看发现性别修改失败。

[2019-06-17 01:20] zhaobinglong commented on #245
收到

[2019-06-17 01:20] fushang318 commented on #245
每次登陆时，小白健康都会同步用户微信上的性别过来

[2019-06-17 01:48] fushang318 commented on #237
初始互动，快来了，第一次输入
初始互动，快来了，第二次输入
例假中互动，开始时间
例假中互动，结束时间
经期前一周互动，已经结束了，第一次输入
经期前一周互动，已经结束了，第二次输入

流产日期
预产期输入
宝宝生日

[2019-06-17 02:18] #245 closed, assigned to zhaobinglong

[2019-06-17 04:40] georgeliuyu commented on #244
这个你不 @人，怎么处理？
@nancy919

[2019-06-17 13:49] georgeliuyu opened #246 "mlang执行页面"
如果是.ml的文件，则出现下面的界面
![image](https://user-images.githubusercontent.com/16983441/59609274-b1044d00-9149-11e9-9dc6-8464f773b930.png)

[2019-06-17 13:51] bqx619 commented on #246
@georgeliuyu 收到

[2019-06-19 16:22] #241 closed, assigned to zhaobinglong

[2019-06-20 01:30] #231 closed, assigned to fangrongxaing

[2019-06-20 01:30] #230 closed, assigned to fangrongxaing

[2019-06-20 01:31] #244 closed, assigned to fushang318

[2019-06-20 01:32] #239 closed, assigned to fushang318

[2019-06-20 01:36] #238 closed, assigned to nobody

[2019-06-20 01:36] #227 closed, assigned to nobody

[2019-06-20 01:37] #176 closed, assigned to zhaobinglong

[2019-06-20 01:38] #186 closed, assigned to zhaobinglong

[2019-06-24 02:46] nancy919 opened #247 "【bug】网络异常提醒过于频繁"
将网络异常的等待时间延迟至10秒

[2019-06-25 07:40] fushang318 opened #248 "导图生成互动工具：增加一个蓝色线节点功能"
![image](https://user-images.githubusercontent.com/326242/60078786-36e25280-975f-11e9-8b4e-8dee6364eb42.png)
![image](https://user-images.githubusercontent.com/326242/60078808-4366ab00-975f-11e9-9672-48d2d754dfbb.png)
支持设置 do 和 call ，如果 do 和 call 都没有指定，生成一个 wait 为 0 的空节点
[code]

[2019-06-25 17:51] zhaobinglong commented on #247
link：https://github.com/sibbay-ai/lt-miniapp-wepy/pull/1120

[2019-06-25 17:51] #247 closed, assigned to zhaobinglong

[2019-06-25 17:52] zhaobinglong commented on #228
link：https://github.com/sibbay-ai/lt-miniapp-wepy/issues/1119

[2019-06-25 17:52] #228 closed, assigned to zhaobinglong

[2019-06-25 17:53] #226 closed, assigned to nobody

[2019-06-25 17:53] zhaobinglong commented on #226
已实现

[2019-06-26 02:08] fushang318 opened #249 "导图生成互动工具：备注BUG"
![image](https://user-images.githubusercontent.com/326242/60145944-3a76e780-97fa-11e9-92b6-bad2a7d5a311.png)
![image](https://user-images.githubusercontent.com/326242/60145972-567a8900-97fa-11e9-86e6-56291ae066e3.png)

导图位置 https://www.processon.com/view/link/5d104a4be4b024f7b6783eb2#map

[2019-06-26 03:17] ben7th commented on #249
HTML 代码转换问题，我来修复。若紧急的话可先换其他变量名

[2019-06-26 03:39] ben7th commented on #249
是 cheerio 对于 html 转义符 `&deg` 的替换问题
已修改了了对 code 字符串的处理方式，避免了上述问题
但不排除可能导致后续其他相关问题，可以再试用观察一下

[2019-06-26 08:43] fushang318 opened #250 "把生命力说明放在一个页面上"
把这个图片放在一个页面上
http://cdn.processon.com/5c3d8c01e4b0fa03ce9a023e?e=1547541011&token=trhI0BY8QfVrIGn9nENop6JAc6l5nZuxhjQ62UfM:RIYMfIZ-eOkPsZRy_EkBvmakLVk=

比如页面链接是
https://tui.sibbay.ai/help/t4/

方便用于互动
[code]

[2019-06-26 08:44] fushang318 commented on #250
以前  https://tui.sibbay.ai/help/t3/ 是旧版本的 生命力说明
现在需要做一个新版页面，老板页面不动

[2019-06-28 13:38] ben7th commented on #250
已实现：
https://tui.sibbay.ai/help/t4/

[2019-07-01 06:38] nancy919 opened #251 "【需求】调整关于经期提醒中涉及到输入日期的组件"
### **当输入的日期时间是多个日期时，使用日历组件，连选**

初始状态：

【快来了】
【已经结束了】

经期前一周：

【已经结束了】

日历组件：
1、分布式显示全部日历时间；
2、打开日历时，默认选中在当前日期；
3、日历时间，正序显示（未来时间在上面，过去时间在下面）；
4、**连选，勾选开始时间及结束时间后，自动连选中间的时间；再次选择时间时，取消掉之前的时间选择，并重新选中开始时间；
如：开始时间是5月1日，结束时间是5月5日，则将5月1日至5月5日全部选中；
若：再次选择5月2日或5月7日，则取消之前的选择，并选中再次选择的时间；**
5、未来日期，为灰色不可点击状态，且未来时间最多显示到当月；
6、过去时间，以当前时间为准，最多显示12个月；
如：当前时间为2019年7月30日，则过去时间最多显示到8月；

[2019-07-01 06:38] nancy919 commented on #251
### **当输入的日期时间是单个日期时，使用日历组件，单选**

经期中：

【开始时间】
【结束时间】

流产后的恢复期：

【流产时间】

哺乳期：

【宝宝出生时间】

日历组件：
1、分布式显示全部日历时间；
2、打开日历时，默认选中在当前日期；
3、日历时间，正序显示（未来时间在上面，过去时间在下面）；
**4、单选，最多选择一个日期；**
5、未来日期，为灰色不可点击状态，且未来时间最多显示到当月；
6、过去时间，以当前时间为准，最多显示12个月；
如：当前时间为2019年7月30日，则过去时间最多显示到8月；

[2019-07-01 07:09] nancy919 commented on #251
### **当输入的日期时间是未来日期时，使用日历组件，单选**

孕期：

【输入预产期】

日历组件：
1、分布式显示全部日历时间；
2、打开日历时，默认选中在当前日期；
3、日历时间，正序显示（未来时间在上面，过去时间在下面）；
**4、单选，最多选中一个日期；
5、未来日期，可以选择，且以当前时间为准，最多显示12个月；
如：当前时间为2019年7月30日，则未来时间最多显示到7月；
6、过去时间，以当前时间为准，最多显示12个月；
如：当前时间为2019年7月30日，则过去时间最多显示到8月；**

[2019-07-02 09:57] zhaobinglong commented on #250
关闭~

[2019-07-02 09:57] #250 closed, assigned to ben7th

[2019-07-02 09:58] zhaobinglong commented on #237
日历组件已替换

[2019-07-02 09:58] #237 closed, assigned to nobody

[2019-07-03 02:21] nancy919 opened #252 "【需求】优化记录存档查看和删除功能"
需求：

1.  修改  将点击图片弹出“查看”按钮，修改成点击图片可直接放大查看图片；
2. 修改  将点击图片弹出“删除”，修改成长按图片弹出“删除”按钮，并新增文字“确认删除图片？”；
3. 新增   文字“长按可删除图片？”
4. 新增   分割线

设计稿：https://lanhuapp.com/url/COz5x-ohsDM

<img width="692" alt="屏幕快照 2019-07-03 上午10 05 19" src="https://user-images.githubusercontent.com/42829996/60558587-4de6fd00-9d7c-11e9-8686-b295c8a03ff7.png">

[2019-07-03 02:31] nancy919 commented on #252
1. 修改   弹窗提示文字 “除非提交有误，否则小白不建议删除，若要删除，请确保已删除全部图片”；
2. 新增  判断条件，需判断是否已删除全部图片，若未删除，则“删除”按钮未灰色不可点击状态；若已删除，则激活删除按钮。

![WechatIMG1367](https://user-images.githubusercontent.com/42829996/60558993-aa96e780-9d7d-11e9-89b3-1d87a75034cf.jpeg)

[2019-07-04 15:54] #252 closed, assigned to zhaobinglong

[2019-07-09 09:00] georgeliuyu opened #253 "mri-mri api gateway后端报错"
![image](https://user-images.githubusercontent.com/16983441/60875195-efce8400-a26b-11e9-9f5d-3eaea74322b1.png)

查一下后端报错的原因

@fushang318

[2019-07-09 10:07] georgeliuyu opened #254 "小程序 泡泡延时"
鉴于mri-mri后端延时常规在400ms左右，故建议取消前端的泡泡延时。

@zhaobinglong @ben7th

[2019-07-09 10:18] ben7th commented on #254
@georgeliuyu

目前的做法是这样的，如果请求时间短于 500 ms 则泡泡显示延时为 500 ms
请求时间长于 500ms 泡泡显示延时为请求时间

后端请求长短不会对显示延时带来额外的延长，所以建议可以不必调整

[2019-07-09 12:57] zhaobinglong commented on #254
结论：不调整，关闭issue

[2019-07-09 12:57] #254 closed, assigned to nobody

[2019-07-10 03:01] zhaobinglong opened #255 "数据缓存的思考"
#### 什么场景下使用缓存
1.  列表页面
2. 详情页面

#### 缓存的方法
小程序storage缓存，官方推荐

#### 如何保证数据准确性
1. 优先使用缓存数据展示，同时发起数据请求
2. 每次拿到最新数据后，更新本地缓存和页面

from：https://github.com/sibbay-ai/lt-miniapp-wepy/issues/1139

[2019-07-10 03:06] #222 closed, assigned to nobody

[2019-07-10 03:08] georgeliuyu opened #256 "bug remark的输入文字和日期波轮冲突"
![image](https://user-images.githubusercontent.com/16983441/60937451-05db5380-a303-11e9-8fc8-4220ebb7ceea.png)

@zhaobinglong

[2019-07-10 05:45] georgeliuyu opened #257 "思考题：基于思维导图的互动开发系统如何面对快速修改"
基于思维导图的互动开发就产品开发而言可以非常快速的变化和迭代，那么如何在代码实现上能适应这一趋势：
核心问题是：基于proccesson，如何发现思维导图的update，以及update的位置？

@fushang318 @bqx619 @ben7th
@sibbay-ai/all

[2019-07-10 06:03] georgeliuyu opened #258 "关于近期开发的总结"
1、如何发现问题？
2、什么是好的解决方案？
3、如何相互推动解决问题的氛围？

@sibbay-ai/all

[2019-07-10 06:15] georgeliuyu commented on #255
1、呈现历史数据的页面（对比实时数据就不合适）
2、storage的特点：？
3、采用后端数据覆盖本地数据的方式保证一致性。
4、feedback的数据是否可以缓存？如何进行缓存？

[2019-07-10 06:21] ben7th commented on #257
我的思路：

1. 从 processon 获取导图结构信息。每次获取时，都保存导图结构和获取时间在数据库里。

2. 遍历导图节点，
    根据每个节点的自身内容，序列化为字符串后，生成哈希值 hashNode
    根据每个节点的自身内容及所有子节点内容，序列化为字符串后，生成哈希值 hashTree

3. 把哈希值对应到节点 id （processon 导图节点本身有 id）

4. 两个节点若 hashNode 一致，则认为两个节点内容相同
    两个节点若 hashTree 一致，则认为两个节点代表的子树相同（否则不同）

5. 若根节点 hashTree 一致，则认为导图没有修改过，否则就是修改过

6. 综上，可以对任意两个导图结构，或者不同时间获取的同一导图结构进行比较，找出有差异的子树。并定位到具体有差异的节点

7. 设计一种 mapDiff 数据结构，用来存储

[2019-07-10 06:29] zhaobinglong commented on #255
1. 呈现历史数据的页面（对比实时数据就不合适）
实时数据我认为不适合客户端缓存

2. storage的特点
永久缓存数据，类似cookie。除非删除小白小程序或者卸载微信

3. 采用后端数据覆盖本地数据的方式保证一致性。
这也是我想到的唯一方法

4. feedback的数据是否可以缓存？如何进行缓存？
这里的feedback，指用户在小白中给小白反馈的内容，目前我们直接调用微信反馈接口，内容显示在聊天列表中，等同于微信聊天列表，内容自动缓存，开发者不可自定义，如下图所示：

[2019-07-10 06:37] zhaobinglong commented on #255
![image](https://user-images.githubusercontent.com/8922614/60946214-3a113d00-a320-11e9-96f0-2b0380f84fe9.png)

[2019-07-10 06:39] georgeliuyu commented on #255
是feed流

[2019-07-10 07:11] georgeliuyu commented on #257
https://api.processon.com/ @ben7th

[2019-07-10 07:20] georgeliuyu commented on #257
场景是：产品修改了，告诉开发进行编码，开发如何快速有效的定位修改的地方（不是依靠产品的口头说明）

[2019-07-10 13:02] ben7th commented on #257
@georgeliuyu

他的 API 不让随便用，注册后需要填申请和等他审核。我之前申请的一直没过
所以我才被迫用了一些 hack 的变通方法

![image](https://user-images.githubusercontent.com/322486/60971104-03561980-a356-11e9-97c6-ebd5dbc0626b.png)

[2019-07-11 01:32] bqx619 commented on #257
### 过程

昨天下午在和 @nancy919 协同测试症状统计的过程中, 因为

1. 我们在仿真器界面开发了一套 ml 的编写运行环境, 用于生成各阶段数据;
1. 仿真器界面可以快速复制相应的 exec json 格式;
1. 仿真器本身具有虚拟用户数据.

基于以上**原因**, 我在给南希做协同测试, 过程中发现我和她一些对需求理解不一致的点, 所以需要当场作出修改, 再去触发和测试, 最终达成一致.

### 遇到的问题

当发生修改时, 我需要

1. 复制思维导图上的节点代码, 到 ml 的上传 json 按钮, 转换成代码后, 在 ml 编辑器上完成代码逻辑的修改, 并运行测试;
1. 点击运行拿到了复制的代码, 然后替换仿真器上正在运行的代码, 保存, 然后在仿真器上和 @nancy919 确认是否达成一致;
1. 如果达成一致, 需要把复制的代码替换到思维导图上的代

[2019-07-11 01:36] zhaobinglong opened #259 "确认疾病停止跟踪是否出现bug"
正式环境，停止跟踪

[2019-07-11 01:54] zhaobinglong commented on #251
与后端协调日历的调整

[2019-07-11 08:39] zhaobinglong commented on #259
### 异常的代码段：
![image](https://user-images.githubusercontent.com/8922614/61035226-60ef7200-a3f9-11e9-8f5c-5c7d12a90825.png)

### 修改后的代码段：
![image](https://user-images.githubusercontent.com/8922614/61036870-8a5dcd00-a3fc-11e9-81fa-9c75d2c2608c.png)

[2019-07-11 08:45] zhaobinglong commented on #259
用户反馈模态确认框在未知情况下未能弹出，查看代码，发现这里调用模态确认框，对原始模态对话框又封装了一层，并且全局搜索，只有这里的调用方式比较独特，无法确认是否是这一层封装的关系，取消封装，更改为直接调用的方式

[2019-07-15 01:04] georgeliuyu opened #260 "mri：用药确认"
![image](https://user-images.githubusercontent.com/16983441/61191649-6d1c4d80-a6df-11e9-9bc7-d6021e19a613.png)

用户建议在询问用药时，能给一个修改用药时间的选项。

@nancy919

[2019-07-15 06:52] georgeliuyu opened #261 "mri：调整的显示应该显示当前的频率"
![image](https://user-images.githubusercontent.com/16983441/61199327-1e3adc00-a710-11e9-971b-9a1dba357632.png)

@nancy919

[2019-07-15 06:54] georgeliuyu opened #262 "用药提醒模板消息，重复"
![image](https://user-images.githubusercontent.com/16983441/61199461-9d301480-a710-11e9-80b1-ba73ddda9d55.png)

@fushang318

[2019-07-15 14:46] ben7th commented on #250
申请开发 deadline: 2019-07-15

[2019-07-18 06:34] georgeliuyu opened #263 "前端：mri响应过慢的处理"
针对mri可能响应慢的处理
1、明确收到错误回应则，显示错误原因（503除外）
2、凡是超过6秒没收到回应或者收到503，则直接重新发出open请求。

@zhaobinglong
@nancy919

[2019-07-18 06:39] #259 closed, assigned to nobody

[2019-07-24 01:33] georgeliuyu opened #264 "推动医疗贡献者的参与医疗互动设计"
缘起：
![image](https://user-images.githubusercontent.com/16983441/61757612-e27cd200-adf3-11e9-8081-04e34ce33653.png)

目的：
开始推动医疗贡献者参与进入进行医疗互动的开发；

一些想法：
@ben7th
- 整理新的导图互动设计的文档
- 做一个医疗的设计样例视频
- 把链接放到我们的网站上

[2019-07-24 02:05] nancy919 opened #265 "【bug】出现重复互动的问题"
![WechatIMG3007](https://user-images.githubusercontent.com/42829996/61759253-85d0e580-adfa-11e9-81f1-b14dea216d17.jpeg)
![WechatIMG3008](https://user-images.githubusercontent.com/42829996/61759256-879aa900-adfa-11e9-9018-ae5eb1bf0f66.jpeg)
![WechatIMG3009](https://user-images.githubusercontent.com/42829996/61759259-88cbd600-adfa-11e9-87d5-b8534cf6ea3a.jpeg)

[2019-07-24 02:09] bqx619 opened #266 "添加用药并没有开始时间的记录"
问题描述:

1. 在小白目前的大多数类似与症状/疾病/治疗, 在添加的时候都有开始时间
2. 用药没有

请 @nancy919 评估是否需要增加

[2019-07-24 02:13] nancy919 commented on #266
收到

[2019-07-24 08:44] fushang318 opened #267 "增加三个RPC"
1. 进入一个已经跟踪的用药监控页面
[code]
![image](https://user-images.githubusercontent.com/326242/61778441-54bfd780-ae31-11e9-97a2-548a27398a20.png)

=====================

2. 进入增加一个用药的搜索页面
要求
- 搜索关键字默认填充好，并搜索出结果
- 点击搜索结果中的一个内容，进入后续增加用药页面
[code]
![image](https://user-images.githubusercontent.com/326242/61778670-c0a24000-ae31-11e9-9bba-d16a79c50333.png)

====================

3. 进入增加一个治疗的搜索页面
要求
- 搜索关键字默认填充好，并搜索

[2019-07-26 05:12] fushang318 opened #268 "停止治疗时的原因选择，交互去掉吧"
![image](https://user-images.githubusercontent.com/326242/61927301-df761300-afa6-11e9-937c-51fa56461d13.png)

目前虽然有这个交互，但是没有向后端传递数据，后端也没有字段保存原因
后续的安排时，把这个选择放在互动中
所以现在可以马上把这个交互去掉
直接询问用户是否确定停止后，直接停止即可，不用选择原因

[2019-07-26 05:20] nancy919 commented on #268
补充一点：

在【编辑治疗】页面点击“停止”按钮后，会出现一个提示弹窗：“确定停止该治疗吗？”，只有点击弹窗页面的“停止”按钮，才会停止跟踪治疗且不用选择原因

停止流程可以参考“停止用药”

[2019-07-26 07:48] nancy919 opened #269 "【需求】在互动中插入广告互动"
为了发展接下来的推广工作，需要在互动中不定期插入广告互动

目前有2种呈现方式：

1、针对新用户，导流：通过分享链接查看网页版互动，扫描互动中内置的二维码，并进入小程序，会优先看到一段广告互动。广告结束后，继续正常的互动流程。（无论新老用户都能看到）

2、针对老用户，新功能介绍：打开小程序后，在每日互动之前出现一段广告互动。（仅出现一次，若通过第一种方式查看，也不显示。）

互动1：网页版互动

https://www.processon.com/view/link/5d3a7126e4b043dcf8468333

互动2：扫码进入小程序后看到的广告互动

https://www.processon.com/view/link/5d3833dde4b02015bd892a06

互动3：老用户在每日互动前看到的广告互动

https://www.processon.com/view/

[2019-07-26 07:53] nancy919 commented on #269
需要配合的工作：

@ben7th  实现互动1，以静态互动的方式实现，具体技术咨询李飞；

@fushang318 在互动中实现互动2、互动3；

@zhaobinglong 需要生成二维码，要求：二维码长期有效，其他要求不做限制

[2019-07-26 07:56] nancy919 commented on #269
其中，互动中的二维码都是临时二维码，上线前会全部更换。

[2019-07-26 08:00] ben7th commented on #269
我来完成其中网页静态互动的部分

[2019-07-27 10:12] ben7th opened #270 "实现静态互动网页生成工具"
see: https://github.com/sibbay-ai/mri-co-write/issues/56

[2019-07-29 04:35] #270 closed, assigned to nobody

[2019-08-02 01:53] fushang318 opened #271 "三个 rpc: 疾病搜索，症状搜索，医学指标搜索"
### 点击 RPC 进入症状的搜索页面
要求
1. 搜索关键字默认填充好，并搜索出结果
2. 点击搜索结果中的一个内容，进入后续增加症状页面
[code]
![image](https://user-images.githubusercontent.com/326242/62338447-2b770980-b50b-11e9-9ab2-7fe91439090a.png)

### 点击 RPC 进入疾病的搜索页面
要求
1. 搜索关键字默认填充好，并搜索出结果
2. 点击搜索结果中的一个内容，进入后续增加疾病页面
[code]
![image](https://user-images.githubusercontent.com/326242/62338471-4184ca00-b50b-11e9-8e9e-a86333ef0ae6.png)

### 点击 RPC 进入医学指标的搜索页面

[2019-08-02 02:48] zhaobinglong commented on #268
已删除

[2019-08-02 02:48] #268 closed, assigned to nobody

[2019-08-02 06:52] fushang318 opened #272 "互动组件：选择地址"
测试互动内容如下
[code]

进入方式
![image](https://user-images.githubusercontent.com/326242/62350336-05665f00-b535-11e9-83d4-a8574027838c.png)

[2019-08-02 06:53] fushang318 commented on #272
已经部署到测试环境
前端可以借助这个测试，进行组件开发

如果开发过程中发现设计不合理，或者逻辑定义不清晰的地方，随时沟通

@zhaobinglong

[2019-08-08 00:41] georgeliuyu opened #273 "关于血压等医学指标的统计回馈"
血压：
1、纵向
	- 上次血压的显示：小白记得：你上次测量的血压是：120/80 68
	- 间隔时间：小白记得：以前大约是2.5记录一次，这次间隔时间有点长哦

	- 差值： 小白发现：这次的血压币平均值高1.3mgh
	-
2、横向
	- 排名： 小白统计：用户平均每周记录2.3次，您超过了21.2%的人
	- 变化： 小白统计：当前记录的血压，高压升高了1.2、低压升高了1.1、心率升高0.1bpm
	- 变化：小白统计：当前有10%的人血压有所下降、30%的人有所升高、60%的人基本平稳
	- 连续高压：小白统计：曾经出现连续3天高压大于140的概率为1.2%
	- 分段： 小白统计：当前记录的血压有10%是在140-160、30%（120-130）。。
	- 症状： 小白统计：记录血压在140-160的用户中有37.5%有伴随症状，130-140的有24%。。。。
	- 药品：

[2019-08-11 06:46] #272 closed, assigned to nobody

[2019-08-11 06:46] #267 closed, assigned to nobody

[2019-08-11 07:00] zhaobinglong opened #274 "MRI网络超时6s后的一种特殊情况处理"
如图：在MRI中一个请求如果6s中还没有收到回应，小白会显示异常提示为文案，目前有一种特殊情况，请求在6s后返回了结果，异常文案和正常文案一起显示了出来

方案一：更改网络延迟时间，目前是6s，更改为7s或者8s
方案二：显示正常的泡泡后，撤销提示异常的泡泡
方案三：在6s后，即使收到了响应结果，也不显示

我倾向于方案三的设计，网络超时后，就不再接受任何后续的响应，由用户重新点击icon重新发起交互

@nancy919 @georgeliuyu @ben7th

[2019-08-11 07:01] zhaobinglong commented on #274
![image](https://user-images.githubusercontent.com/8922614/62830882-d644a180-bc48-11e9-89f5-43e4d188c795.png)

[2019-08-12 01:50] zhaobinglong commented on #274
与南希沟通，确认了方案三，同时更改一个体验细节：
点击刷新icon后，撤销提示网络异常的泡泡

[2019-08-12 16:51] nancy919 commented on #273
@georgeliuyu 以下是我根据您的建议完成的互动设计，请抽空审核。

### 血压：

识别文字血压：https://www.processon.com/mindmap/5d47fa79e4b02c6fb78401d7
血压回馈：https://www.processon.com/mindmap/5d2696bfe4b07917e2dd7a7a

### 血糖：

识别文字血糖：https://www.processon.com/mindmap/5d498d8de4b01ed2c6b00651
血糖回馈：https://www.processon.com/mindmap/5d493e1ee4b01ed2c6af7d03

### 体重：

识别文字体重：https://www.processon.com/mindmap/5d43fe2de4b0e42f2a2c2940
体重回馈：h

[2019-08-13 02:07] nancy919 opened #275 "【需求】互动内增加3个波轮"
需求：在互动中增加3个波轮弹窗，波轮效果如下：

### 血压波轮：

默认选中：120/70 68

![WechatIMG1450](https://user-images.githubusercontent.com/42829996/62910152-05c2ed80-bdb2-11e9-996b-2cfc67e5a6a0.jpeg)
![WechatIMG1452](https://user-images.githubusercontent.com/42829996/62910207-33a83200-bdb2-11e9-91e6-eca4e0f5cb94.jpeg)

### 血糖波轮：

默认选中：餐前6.0

![WechatIMG1451](https://user-images.githubusercontent.com/42829996/62910373-cc3eb20

[2019-08-13 06:36] zhaobinglong commented on #274
经过与李飞协调，后端mri维服务的接口超时时间设置为6s，前端超时时间设置为6.5s，比后端多0.5s

[2019-08-14 01:23] fushang318 commented on #275
以上的几个 拨轮，应该可以通过默认的拨轮组装出来，不用前端再额外开发

需要注意的是，上面输入体重的图片中的 BMI 动态显示功能暂时不能实现，暂时妥协处理，不在拨轮中显示BMI

[2019-08-14 01:24] fushang318 opened #276 "[需求] 增加根据关键词，打开新建医学指标搜索页面的RPC"
[code]

[2019-08-14 01:27] fushang318 commented on #276
重复了

[2019-08-14 01:27] #276 closed, assigned to nobody

[2019-08-14 16:05] zhaobinglong commented on #274
更改全局网络请求超时的配置文件，小程序默认是60000毫秒
更改为6000毫秒

文档：https://developers.weixin.qq.com/miniprogram/dev/reference/configuration/app.html#networkTimeout

[2019-08-16 03:47] zhaobinglong opened #277 "进入互动在未知情况下会提示网络异常（网络正常）"
![image](https://user-images.githubusercontent.com/8922614/63142202-7751a480-c01b-11e9-91bc-44d875819890.png)

[2019-08-19 07:49] fushang318 opened #278 "互动需求：如果不是主账号，去掉种子传播的互动内容"
![18121566200684_ pic_hd](https://user-images.githubusercontent.com/326242/63247967-df60ee80-c298-11e9-8f53-53ca51980b7b.jpg)

[2019-08-20 01:45] zhaobinglong opened #279 "小白健康在互动中分享教程"
举例：

小白健康在MRI给用户推送一篇血压测量互动教程，互动完毕后，出现分享按钮：

![image](https://user-images.githubusercontent.com/8922614/63310958-32858080-c32f-11e9-9a34-af34714c6607.png)

点击分享按钮，分享给好友：

![image](https://user-images.githubusercontent.com/8922614/63311083-9a3bcb80-c32f-11e9-883e-c3796afdc295.png)

用户点击卡片后，直接进入小白健康MRI，出现教程互动

[2019-08-20 06:02] zhaobinglong opened #280 "点击单选项目时直接发送"
针对多选情况下的互动，多选选项中，可能存在单选的选项，如果点击的是单选选项，则直接发送，不用再次点击发送按钮

[2019-08-20 09:19] fushang318 commented on #278
完成

[2019-08-20 09:19] #278 closed, assigned to nobody

[2019-08-28 01:41] nancy919 opened #281 "【需求】在互动中按指定日期跳转至健康日记"
例如：

小白给用户反馈上一次的记录情况时，统计出上次记录的时间是在“10天前”，若用户点击“去看看当时的日记”，则跳转至健康日记，且定位到当天的日记。

<img width="1021" alt="屏幕快照 2019-08-28 上午9 40 44" src="https://user-images.githubusercontent.com/42829996/63819444-eca46a00-c977-11e9-8ce6-0b96e6005126.png">

需求：

1、点击互动选项，跳转至健康日记，且定位在指定日期的日记部分；
2、“返回”健康日记，返回到互动页面中。

[2019-08-28 02:14] zhaobinglong opened #282 "互动对话异常情况"
from：@吴笛+pimgeek
![image](https://user-images.githubusercontent.com/8922614/63820620-7f470800-c97c-11e9-89aa-fde951131881.png)

![image](https://user-images.githubusercontent.com/8922614/63820633-95ed5f00-c97c-11e9-883b-9e85c157648a.png)

[2019-08-28 03:28] zhaobinglong commented on #281
数据包：
[code]

[2019-08-28 03:45] fushang318 commented on #281
[code]

[2019-08-28 03:46] fushang318 commented on #281
后端还需要提供一个API
根据 recordid 查询健康日记内容

[2019-08-30 05:54] fushang318 opened #283 "MRI互动组件：选择地址 wheel 逻辑完善"
如下完善一下 user_res_format 的处理，例子如下
[code]

测试脚本已经修改成如上内容，进入方法

![image](https://user-images.githubusercontent.com/326242/63996203-8feab000-cb2d-11e9-946b-f001b3e3bb62.png)

[2019-08-30 05:55] fushang318 commented on #283
user_res_format 需要支持解析四个变量 $name  $address  $latitude  $longitude
目前感觉只支持 $address

[2019-09-06 02:10] ben7th opened #284 "在互动对话气泡上点赞和点踩的 BUG"
### 来源：
- 使用中发现

### 现象：
![image](https://user-images.githubusercontent.com/322486/64395776-f9b70c80-d08d-11e9-83e4-19b440ebf0e8.png)
如图，在对话上，先对一个对话气泡点赞，然后对下一个对话气泡点踩，系统仍会显示点赞后的互动内容；

### 分析
通过 zoom 初步沟通，认为这是一个后端问题；

前端第一次传参参数
![image](https://user-images.githubusercontent.com/322486/64395840-3b47b780-d08e-11e9-830b-fb904300d752.png)

前端第二次传参参数
![image](https://user-images.githubusercontent.com/322

[2019-09-06 02:27] fushang318 commented on #284
### 方案一
如果 beaduri 以如下字符开始，那么就不渲染 点赞点踩按钮
[code]

### 方案二

给每一个 bead 增加一个字段 show_feedback 默认是 true，比如如下写法
如果是 false 的时候，那么就不渲染 点赞点踩按钮
[code]

[2019-09-06 03:01] fushang318 commented on #284
no_show_feedback 默认是 false
如果是 false 或者没有的时候，渲染 点赞点踩按钮

[2019-09-06 03:15] fushang318 commented on #284
选用如下方案

给每一个 bead 增加一个字段 no_show_feedback 默认是 false
如果是 false 或者没有的时候，渲染 点赞点踩按钮
如果是 true ，不渲染 点赞点踩按钮

比如如下写法
[code]

[2019-09-06 03:25] georgeliuyu opened #285 "疾病统计不对"
![image](https://user-images.githubusercontent.com/16983441/64398875-03923d00-d099-11e9-8027-e8f984b4d298.png)

在生产环境中，我的这个病就没有好！
@bqx619

[2019-09-06 05:42] georgeliuyu opened #286 "症状统计回馈"
![image](https://user-images.githubusercontent.com/16983441/64403621-d4d19200-d0ab-11e9-9fab-3eeabdb02fcc.png)

据小白统计📊：曾经出现过"头晕"的用户中，有5人同时伴有"失眠"，3人伴有"腰痛"！

@fushang318

[2019-09-06 09:03] nancy919 opened #287 "【需求】新增10.1统计回馈上线前，需要完成的几个互动"
在原有互动中进行了调整的互动：

1. func.daystart
2. func.baseinfo
3. med.durg.用药关联
4. med.treat.治疗关联

新增的几个互动：

1. func.baseinfo_demo
2. med.weight.体重测量教程
3. statis.menses.update

[2019-09-06 10:19] fushang318 commented on #286
已经完成修改

[2019-09-14 13:50] fushang318 commented on #271
完成

[2019-09-16 03:07] nancy919 opened #288 "统计回馈彩蛋UI设计实现"
设计链接：https://lanhuapp.com/url/uMykq-QzhTb

[2019-09-16 06:53] fushang318 opened #289 "小程序针对拨轮互动交互方式的修改"
以如下这个互动为例
[code]

[2019-09-16 06:56] nancy919 opened #290 "撤下症状回馈demo广告"
### **撤下每日互动中显示的症状回馈demo广告**

内容如下：
<img width="986" alt="屏幕快照 2019-09-16 下午2 53 05" src="https://user-images.githubusercontent.com/42829996/64938923-f7c12a80-d891-11e9-9247-db2bba50041b.png">

https://www.processon.com/view/link/5d3aa767e4b0511f1313ea66

[2019-09-16 06:56] fushang318 commented on #289
小程序收到这个互动内容后
1. 渲染一个左侧的泡泡，询问  您的生日是
2. 渲染一个后侧的绿的选项，内容是 输入年月日 ，如果没有 input_prompt 内容，那么默认渲染一个叫做 输入 的绿色选项

然后如果用户点击 输入年月日 这个绿色选项，页面弹出输入内容的拨轮，内容和交互和以前一样

用户选择好内容，点击确认后，输入年月日 这个绿色选项消失，同时右侧增加一个用户输入的内容的 绿色泡泡

交互结束

[2019-09-16 06:59] fushang318 commented on #289
目前后端已经准备了一个 测试互动，进入方法
1. 进入测试互动
2. 选择 拨轮 -> 拨轮新UE

[2019-09-17 02:16] fushang318 opened #291 "切换家人账号BUG"
可能的复现方法
1. 进入小程序，切换到家人账号
2. 在家人账号下，进入互动页面，操作几次互动内容
3. 不进行操作超过 15 分钟（为了下一步操作时，触发重新发起登录请求的逻辑）
4. 继续进行互动操作，这个时候，网络会发起登录请求，然后发起互动请求，互动API发起的请求用的主账号的ID（但是预期是继续用家人账号ID）

[2019-09-17 04:51] ben7th commented on #291
经检查，确实存在 15 分钟本地登录信息过期后，家人切换状态没有保留的问题。
针对此情况，做以下处理：

短期处理：
- 因为过期而触发再次登录时，如果发现之前切换过家人，则再进行一次切换
- 这次自动切换会导致界面刷新，略微影响体验，但不会导致逻辑问题

中长期处理：
- 登录逻辑模块还存在一些其他体验问题，需要经过一次重构来修正；为不影响国庆功能上线，重构安排在其他分支进行，不在此期间合并与发布；

[2019-09-18 01:59] nancy919 opened #292 "互动分享小卡片及保存图片设计"
设计链接：https://lanhuapp.com/url/TquzZ-LUriN

[2019-09-23 00:37] georgeliuyu opened #293 "智能输入-药品"
![image](https://user-images.githubusercontent.com/16983441/65396856-6d228300-dddd-11e9-9a35-7faf5304a5b7.png)
互动应该显示：
1、如果文字与输入完全一样，但是规格有文字则仅仅显示规格；
2、如果有商品与文字不同，则显示商品名；
3、如果文字完全相同，且无规格和商品名，则显示输入文字。
@fushang318

[2019-09-23 00:40] georgeliuyu commented on #293
测试用输入：阿司匹林肠溶片

[2019-09-23 02:24] georgeliuyu opened #294 "智能记录：血糖"
![image](https://user-images.githubusercontent.com/16983441/65398868-2ee09000-ddec-11e9-89d9-5c39598836c4.png)
可以不输入时间，
没有输入时间，则表示现在

@fushang318

[2019-09-23 08:01] nancy919 opened #295 "【需求】互动中新增freetalk按钮"
规则：
1、s-choice和m-choice都支持这个按钮
2、text和wheel不支持
3、bead中有参数可以关闭这个按钮
4、点击进入编辑方式

<img width="330" alt="屏幕快照 2019-09-23 下午4 00 12" src="https://user-images.githubusercontent.com/42829996/65409803-3ec39880-de1b-11e9-8af8-67c3f1011ab9.png">

设计链接：https://lanhuapp.com/url/f5cLE-ONSIh
freetalk互动：https://www.processon.com/view/link/5d882febe4b00c785f331fec

[2019-09-23 14:51] bqx619 opened #296 "症状 stat stream 疑惑反馈"
1. 条件

from mongo_stat_sym_history_stream where origin_userid='59caf1e3a4838400010cb7a5' and origin_bmesh='sctid-76067001'

2. 内容:

| new_type   | origin_date | new_begin_record | new_nozero_begin_record | new_nozero_end_record |
| ---   | --- | --- | --- | --- |
| 0          | 2017-10-16 09:37:25 | 59e40d5636b0fb000174ce84 | 59e40d5636b0fb000174ce84 | NULL                  |
| 1          | 2017-1

[2019-09-27 03:00] ben7th commented on #295
![image](https://user-images.githubusercontent.com/322486/65738888-0ae7bc00-e116-11e9-806e-47e45014505b.png)

[2019-09-27 06:13] georgeliuyu opened #297 "关于从 MRI 互动中跳转到以前日记的需求"
现在实现的是这样：
![image](https://user-images.githubusercontent.com/16983441/65747143-4c3a9480-e133-11e9-8adf-e36615c0cd21.png)

而需求是在个人feed流上，移动到指定日期
![image](https://user-images.githubusercontent.com/16983441/65746282-01b81880-e131-11e9-9a5d-2ec53039c27c.png)

@ben7th

[2019-09-27 06:44] georgeliuyu opened #298 "feedback bunch的优先级提高到240，超过freetalk"
问题：现在在freetalk流程中点击feedback不能立即显示
所以要提高feedback的优先级
@fushang318

[2019-09-27 08:19] fushang318 commented on #298
修改成如下

1. 通知互动  优先级 230
2. feedback 互动 优先级 225 属性为 nofreetalk nofeedback true
3. freetalk 互动 优先级 222  属性为 nofreetalk true
4. 首次互动  优先级 220

[2019-09-29 00:51] #298 closed, assigned to nobody

[2019-09-29 00:52] #289 closed, assigned to nobody

[2019-09-29 00:52] #271 closed, assigned to nobody

[2019-09-29 00:53] #275 closed, assigned to zhaobinglong

[2019-09-29 00:54] #283 closed, assigned to nobody

[2019-10-01 14:25] georgeliuyu opened #299 "横向统计：看看Ta的经验"
![image](https://user-images.githubusercontent.com/16983441/65971095-3cf07980-e49a-11e9-8d5c-fdfc0a9f1dd1.png)
但是日记中Ta没有腰痛的记录
![image](https://user-images.githubusercontent.com/16983441/65971151-5a254800-e49a-11e9-8676-1dc6dea0c239.png)

@bqx619 @fushang318

[2019-10-01 14:34] fushang318 commented on #299
![image](https://user-images.githubusercontent.com/326242/65971965-aa50da00-e49b-11e9-9628-fc928c44a78f.png)

[2019-10-01 14:35] fushang318 commented on #299
record': {'id': '5d9232a44fe7fc00012b4d03:1569859200',

[2019-10-01 14:35] fushang318 commented on #299
![image](https://user-images.githubusercontent.com/326242/65972023-c6ed1200-e49b-11e9-8bd8-5bbe31e568d0.png)

[2019-10-01 14:55] georgeliuyu opened #300 "纵向统计：血压"
纵向统计
![image](https://user-images.githubusercontent.com/16983441/65973675-4ed41b80-e49e-11e9-832a-582f575b80cd.png)
600+天前有一次：
![image](https://user-images.githubusercontent.com/16983441/65973738-690df980-e49e-11e9-8e12-ba9a31002177.png)
19年一月还有一次
![image](https://user-images.githubusercontent.com/16983441/65973814-83e06e00-e49e-11e9-9890-9f70ea4908ca.png)
所以这个统计有问题
@fushang318 @bqx619

[2019-10-01 15:00] georgeliuyu commented on #300
问题有两个：
- 上一次应该是2019年1月
- 持续时间计算不对

[2019-10-01 15:37] georgeliuyu opened #301 "血压横向统计：这个数据不合适"
![image](https://user-images.githubusercontent.com/16983441/65977342-5b5b7280-e4a4-11e9-8104-320ce5ad1047.png)
@bqx619 @fushang318 @nancy919

[2019-10-01 15:37] georgeliuyu commented on #301
我先把概率设置为0了

[2019-10-02 05:40] nancy919 opened #302 "【需求】增加彩蛋分享回馈"
1. 通过分享的小卡片或二维码，进入小程序后；
2. 小白在互动中立即提示

“感谢您的参与😊，您已成功为$name贡献了1倍加速气泡！” “好的”
“想获得和TA一样的加速气泡，记录数据就有可能触发彩蛋哦！” “知道了”

3. $name是微信昵称

[2019-10-08 09:57] nancy919 opened #303 "【需求】优化倍增气泡领取和失效时的交互体验"
### **获得时：**

规则：24小时未收取，自动消失

互动：无

### **收取时：**

规则：24小时有效时间，以收取“小白”气泡时间为准，推算剩余有效时间（精确到分）

互动：

“小白为您贡献的倍增气泡，当前还有24小时有效！”

### **失效时：**

规则：以“小白”气泡为准，分享获得的倍增气泡一并消失（并显示总倍数及额外获得的总生命力）

互动：

“小白为您贡献的倍增气泡 X3，当前已失效！”

“同时，您通过加倍额外获得了 18.8N” “好的”

[2019-10-08 23:48] georgeliuyu commented on #297
@fushang318 @ben7th
- 实在不行，用笨办法也要先实现：后端按窗口移动到指定时间
- 支持实现本地缓存
- 学会实现半步优化的方法
@ben7th @fushang318
deadline:2019-10-23

[2019-10-08 23:57] georgeliuyu opened #304 "每日互动：症状，如果当天已经有记录，则不重复询问"
如果当天已经记录，例如freetalk，则不要再问询了
![image](https://user-images.githubusercontent.com/16983441/66441615-4796aa00-ea6a-11e9-9b9d-fe47a5f45d36.png)
@fushang318

[2019-10-09 00:06] georgeliuyu opened #305 "mri：freetalk 症状会多次进入统计回馈"
发生时间：2019-10-9 7:30-8:00之间
记录：眼干
账号昵称：小胖子
![image](https://user-images.githubusercontent.com/16983441/66442006-ae689300-ea6b-11e9-95ae-b27af310dd87.png)

@fushang318

[2019-10-09 00:11] georgeliuyu opened #306 "症状：特征是true的，不要进入nlu的识别"
![image](https://user-images.githubusercontent.com/16983441/66442205-6d24b300-ea6c-11e9-8c7d-5d49c340ba14.png)

@bqx619

[2019-10-09 00:20] georgeliuyu opened #307 "mri：智能添加药品、专门添加药品"
规则：仅仅显示不同的内容；
具体规则由 @bqx619  设计
![image](https://user-images.githubusercontent.com/16983441/66442519-b45f7380-ea6d-11e9-8163-d4abdf5e2da4.png)

@bqx619

[2019-10-09 01:19] #296 closed, assigned to nobody

[2019-10-09 01:25] #299 closed, assigned to nobody

[2019-10-09 01:25] #300 closed, assigned to nobody

[2019-10-09 02:12] fushang318 commented on #305
修复了，原因是
只要符合 00B 的特征都会同时出发 0B，所以出现了两遍，已经修复并部署到生产

[2019-10-10 01:40] nancy919 opened #308 "【bug】气泡倒计时与实际时间存在偏差"
![WechatIMG1622](https://user-images.githubusercontent.com/42829996/66532433-fc4fca80-eb41-11e9-8c7e-0551c1d7c63f.jpeg)
![WechatIMG1623](https://user-images.githubusercontent.com/42829996/66532436-fd80f780-eb41-11e9-94ca-537c7207d3bf.jpeg)

[2019-10-10 02:08] nancy919 opened #309 "【需求】血压及体重测量教程互动增加分享功能"
高血压教程：https://www.processon.com/view/link/5cf8b917e4b071ad5a1a92be
体重教程：https://www.processon.com/view/link/5d648fc5e4b0869fa4233fdc

<img width="520" alt="屏幕快照 2019-10-10 上午10 02 51" src="https://user-images.githubusercontent.com/42829996/66533332-248cf880-eb45-11e9-923d-bd9bbc92059b.png">

要求：

1. 分享选项出现在教程末尾（详情看互动链接）
2. “分享给好友”，直接打开微信列表，以小卡片的方式分享出去；
3. “保存图片”，将带有用户二维码参数的图片保存到手机相册；
4. 用户通过小卡片或二维

[2019-10-10 02:09] nancy919 commented on #309
### **血压测量教程：**

**标题：**「标准」的血压测量方法，你做到了吗？
**正文内容：**
大家都以为血压测量非常的简单，但是一份调查显示，在美国，就连医生也不能驾轻就熟地操作这项频繁使用的测量技术。

2018年1月份匹兹堡举行的高血压研讨会上关于血压准确测量技术的调查，在30名健康管理专员和医生中，只有3人合格。你做到了吗？

所以小白建议您仔细学习一下如何科学的测量血压…

![分享小卡片-血压](https://user-images.githubusercontent.com/42829996/66533566-f825ac00-eb45-11e9-89b5-7549aa06dbfb.png)
![保存图片-血压](https://user-images.githubusercontent.com/42829996/66533609-1be8f200-eb46-11

[2019-10-10 02:16] nancy919 commented on #309
### **体重测量教程**

**标题：**「标准」的体重测量方法，你做到了吗？
**正文内容：**
大家都以为体重的测量非常简单，但是一份调查显示，绝大多数用户都没有能正确的掌握测量方式

所以小白建议您仔细学习一下如何科学的测量体重…

[2019-10-10 02:36] ben7th commented on #309
@fushang318

建议后端使用这样的 rpc 置于分享的选项上：

[code]

注意：和彩蛋的 rpc 不一样

[2019-10-10 03:10] fushang318 commented on #308
经过核对，不存在明显的误差
以更新指标为例，到期时间是  2019年10月10日 星期四 13时42分52秒 CST
因为截图中的泡泡和时间都是以分钟为单位，忽略了秒，所以感觉上有误差，实际核对，没有问题

[2019-10-10 03:11] fushang318 commented on #308
另外，用户感觉，实际时间过了5分钟，汽泡只过了4到5秒
可以看出，用户把时间（4小时多）理解成了4分钟多，可能我们这里的倒计时存在误导
可以考虑是否需要优化设计呈现形式

[2019-10-10 03:14] #308 closed, assigned to fushang318

[2019-10-10 08:33] fushang318 commented on #304
这个逻辑按照预期是已经实现的，所以怀疑是BUG，查看了刘总的日志，发现是时区问题导致的BUG，已经修复并上线

[2019-10-11 02:12] georgeliuyu opened #310 "mlang整理及文档撰写"
目的：使得mlang成为一个真正的dsl。
工具：https://www.kancloud.cn
要求：
- 整理规范命令使用：就是统一使用的命令集，不建议使用的不进入文档
- 补充原有不足不完整的命令，特别是底层命令
- 整理文档，按照dsl的语言方式撰写
- 尽量多的引用现有代码作为样例代码，便于后续编写者直接引用
- 在kancloud上的开通

[2019-10-11 02:13] ben7th opened #311 "记录存档图片上传组件在图片较多时导致程序崩溃的问题"
现象：
[手机录屏](http://tna-upload.oss-cn-shanghai.aliyuncs.com/vultr-upload/2019-10-11/1570693873021580.mp4)

分析：
只在这个条目上存在这个问题（其他条目的编辑和新增目前无问题）。该条目的情况是条目下包含图片数量很多，小程序组件在回显图片时，显示的是原图，因此造成程序崩溃

附：条目数据
[code]

[2019-10-11 02:14] ben7th commented on #311
处理建议：

作为 B 级响应处理

前端处理：

- 调整组件，回显时显示缩略图，以节约带宽和内存；

后端处理：

- 请求时同时返回原图 URL 和缩略图 URL（具体见下文）

[2019-10-11 02:18] georgeliuyu opened #312 "建立一个便于互动脚本开发和测试的repo管理结构"
问题：
- 基于思维导图的自动测试，会因为思维导图的修改而测试通不过
- 理论上互动脚本的生成理论上和mri引擎应该分离
- mlang的实现理论上应该和mri引擎分离
目的：建立一个便于互动脚本开发和测试的repo管理结构

[2019-10-11 02:19] georgeliuyu commented on #311
同意 @ben7th

[2019-10-11 02:26] ben7th commented on #311
后端 API 实现建议：

目前此组件用到后端 API `/user get_oss_url`

请求结构：

[code]

响应结构：
[code]

---------

建议实现一个新的 API `event.app.oss.url.get.v2`

请求结构同上，或者按照目前的规范，参数包一层 data

响应结构：

返回原图显示 URL
以及 64, 128, 256 三种尺寸的图片（按最短边匹配，参数见下）

裁切参数：
[code]

[code]

[code]

[2019-10-11 10:02] fushang318 commented on #311
已经在测试环境部署了新API
[code]

[2019-10-12 01:23] nancy919 opened #313 "根据用户记录的完整性调整feed里的排序"
要求：

1. 统计用户记录的完整性；
2. 调整feed流中的推荐顺序，按用户记录的完整性由高到低排序。

[2019-10-14 01:28] georgeliuyu commented on #312
@bqx619

[2019-10-14 01:28] georgeliuyu commented on #310
@bqx619

[2019-10-14 01:51] georgeliuyu opened #314 "github的代码评价，样例展示"
@ben7th

[2019-10-14 12:41] bqx619 commented on #312
1. mri 和 mlang 的数据层分离, 暴露接口, 作为一门 DSL , 不建议包括了数据层, 我们只需要提供数据的调用接口或者结构即可, 目前最简单的方法是, 所有 mongo 和 redis 的地址都由服务请求方提供, 而不是 Mlang 本身, 自然的, mlang 就有了 mock 模式;

1. 换句话说, 对 mlang 这门语言的使用, 需要携带数据而来, 而不是 mlang 提供给你数据, 改造 mlang 成一个语言, 而不是一个服务;
1. mri 引擎作为语言的核心"解析器"(词法分析, 舞台等), mlang 作为"sys pkg(系统包)", mri 引擎测试和 mlang 测试分离, 建议之后, 用户可以写"user pkg(用户包)";
1. mlang 发布一个私有的 docker 镜像, 获取的方式有两种: a) 本地拉取 mlang 代码库构建;

[2019-10-16 01:02] georgeliuyu opened #315 "历史日记打开失败"
![image](https://user-images.githubusercontent.com/16983441/66880036-948ef900-eff3-11e9-855d-b59d4c143f7c.png)

用户：小胖子
时间：2019-10-16 7:08
@fushang318

[2019-10-16 01:05] georgeliuyu opened #316 "新增用药后的新增症状采用NLU方式"
![image](https://user-images.githubusercontent.com/16983441/66880098-db7cee80-eff3-11e9-8935-60c256dc11f2.png)

@nancy919

[2019-10-16 02:28] georgeliuyu opened #317 "医学指标nlu失败"
数据库中有：
![image](https://user-images.githubusercontent.com/16983441/66882962-dec9a780-effe-11e9-9779-9d0e92857b85.png)
但是没有能识别：

促甲状腺激素

@bqx619

[2019-10-16 02:53] fushang318 commented on #315
原因找到了
在SNS第一次上线时，迁移任务补全旧数据时，迁移任务没有处理好时间时区的问题，导致生成的数据 recordid 中的时间戳时区和实际查了八个小时

生成的错误数据
[code]

实际需要的数据
[code]

[2019-10-16 03:29] nancy919 opened #318 "【需求】调整模板消息的通知时间"
调整类型及时间：

1. 留言消息推送，每天早上7点推送；
2. 健康成就@ ，每天早上7点推送；
3. 生命力收取提醒，每天早上7点及晚上8点推送；

相关链接：https://github.com/sibbay-ai/cooperation-issues/issues/1562

[2019-10-16 03:38] fushang318 commented on #318
以前的情况
1. 留言消息推送，每天早上10点推送、
2. 健康成就@ ，没有使用
3. 生命力收取提醒 北京时间早上10点与下午16:00执行

[2019-10-18 03:24] nancy919 commented on #318
增加，经期提醒 ，每天早上7点推送

[2019-10-18 10:12] fushang318 commented on #318
已经全部修改并部署了

[2019-10-21 00:55] fushang318 opened #319 "症状跟踪频率的回显有问题，一直显示到的是每天"
![102181571619098_ pic](https://user-images.githubusercontent.com/326242/67169820-7acd2780-f3e0-11e9-962a-2be6dea0895e.jpg)

即使把频率改成 两天（后台确认已经修改成功），但是前段仍然显示每天

[2019-10-21 01:49] nancy919 opened #320 "【bug】互动页面显示不全"
了解到仅在苹果手机才会出现这个现象。

![WechatIMG1658](https://user-images.githubusercontent.com/42829996/67171078-eebefe00-f3e7-11e9-95dc-4bd2dd5e945d.jpeg)

[2019-10-21 02:23] nancy919 commented on #313
用户记录的完整性计数方法：

1、每记录一项，则计数1次

2、记录事项：症状、疾病、用药、治疗、血压、血糖、体重、指标、健康成就、写日记、正式建议

[2019-10-21 02:41] nancy919 opened #321 "回顾上次症状的统计结果，记录次数存在不合理"
<img width="485" alt="屏幕快照 2019-10-21 上午10 37 47" src="https://user-images.githubusercontent.com/42829996/67172681-d7cfda00-f3ee-11e9-8047-dad9d992b13c.png">
<img width="574" alt="屏幕快照 2019-10-21 上午10 41 57" src="https://user-images.githubusercontent.com/42829996/67172825-6cd2d300-f3ef-11e9-97c5-00506e0d38ed.png">

[2019-10-21 02:45] fushang318 commented on #321
![image](https://user-images.githubusercontent.com/326242/67172989-e965b180-f3ef-11e9-9d9e-865b419e1961.png)
三次

[2019-10-21 04:05] nancy919 opened #322 "调整症状跟踪频率"
1、连续记录轻微3次，则调高一个频率间隔；
2、凡是出现明显、严重，则频率调整为每天；
3、凡是出现变化（当前不同于上次），则连续记录次数从头计数；
4、频率调整但症状程度不变，则延续上个频率的记录次数。
5、连续记录无2次，则结束一个周期

https://shimo.im/docs/zKAxGbif2OsCNhv6

[2019-10-22 00:41] fushang318 opened #323 "用户只有血压时，动态里的概述页面，没有显示出内容"
![image](https://user-images.githubusercontent.com/326242/67252853-7ae42a80-f4a7-11e9-978c-5055d1d772b6.png)
![image](https://user-images.githubusercontent.com/326242/67252857-8172a200-f4a7-11e9-8d29-06b84eef89f3.png)
![image](https://user-images.githubusercontent.com/326242/67252878-98b18f80-f4a7-11e9-8fed-869f55be38c6.png)
![image](https://user-images.githubusercontent.com/326242/67252884-9f4007

[2019-10-22 02:27] fushang318 commented on #322
已经调整，测试完成，并部署到生产了

[2019-10-23 00:15] georgeliuyu opened #324 "后台互动统计"
1、这个是否应该过滤
![image](https://user-images.githubusercontent.com/16983441/67345307-286d4180-f56d-11e9-8af9-3fa6914f2329.png)
2、freetalk的访问统计
要支持
@bqx619

[2019-10-23 03:04] fushang318 opened #325 "分析用户使用症状反馈的BUG"
![1](https://user-images.githubusercontent.com/326242/67353269-c15b8700-f584-11e9-903f-f17088a57e08.png)
![2](https://user-images.githubusercontent.com/326242/67353285-c91b2b80-f584-11e9-8982-ef9fb53289d2.png)
![3](https://user-images.githubusercontent.com/326242/67353311-d33d2a00-f584-11e9-9248-42f45a77af2b.png)

排查BUG原因

[2019-10-23 03:14] fushang318 commented on #325
### 问题一
1. 用户在 很久以前结束过症状
2. 这次跟踪了症状，程度是 0
所以用户的数据满足了 B00 所以触发了 症状消失互动
但是用户得到的这个反馈反直觉

### 问题二
用户在
可以先停止记录了😊，如果再出现，您可以直接说：我感到"xx"
触发了 freetalk 进行了症状的录入
但是互动引擎在退出 freetalk 后，仍然会返回
可以先停止记录了😊，如果再出现，您可以直接说：我感到"xx"

用户看到这种内容会疑惑

### 问题三
用户在点击了 可以先停止记录了😊，如果再出现，您可以直接说：我感到"xx" 后面的确认后
还是按照原定流程触发了 症状停止的互动反馈，但是用户的当前数据已经不是停止状态了
所以程序崩溃了